@import 'var';
.section-title {
  padding-left: 8px;
  border-left: 4px solid $color-primary;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: $color-text-main;
}

:host{
  ::ng-deep aui-input-group{
    flex: 1;
  }
  .inputGroup{
    ::ng-deep .aui-input-group__addon.aui-input-group__addon--after {
      padding: 0;
    }
    .select-size {
      width: 60px;
    }
  }
    
  ::ng-deep {
    .aui-form-item__addon-wrapper{
      width: 25px;
      aui-icon{
        font-size: 16px;
        color: $color-text-help;
      }
    }
  }
}
