<aui-dialog-header>
  {{ dialogText.title | translate }} ({{
    data.type === 'http' ? 'HTTP/HTTP2' : 'TCP'
  }})
  <aui-icon
    class="question-icon"
    [auiTooltip]="'connection_pool_dialog_title_tips' | translate"
    icon="basic:question"
  ></aui-icon>
</aui-dialog-header>
<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="146px"
    [auiFormEmptyAddon]="true"
  >
    <ng-container *ngIf="data.type === 'http'; else tcpTemplate">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'max_connections' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          required
          name="maxConnections"
          #maxConnections="ngModel"
          [(ngModel)]="httpViewModel.maxConnections"
          [pattern]="positiveIntPattern.pattern"
          [placeholder]="positiveIntPattern.tip | translate"
        />
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'tcp_max_connections_question_tip' | translate"
            icon="basic:question"
          ></aui-icon>
        </div>
        <div auiFormItemError *ngIf="maxConnections.errors?.pattern">
          {{ positiveIntPattern.tip | translate }}
        </div>
        <div
          auiFormItemError
          *ngIf="form.controls.maxConnections?.errors?.required"
        >
          {{ 'required' | translate }}
        </div>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'max_requests_retries' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          required
          name="maxRetries"
          #maxRetries="ngModel"
          [(ngModel)]="httpViewModel.maxRetries"
          [pattern]="positiveIntPattern.pattern"
          [placeholder]="positiveIntPattern.tip | translate"
        />
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="maxRequestsRetriesTips"
            icon="basic:question"
          ></aui-icon>
        </div>
        <div auiFormItemError *ngIf="maxRetries.errors?.pattern">
          {{ positiveIntPattern.tip | translate }}
        </div>
        <div
          auiFormItemError
          *ngIf="form.controls.maxRetries?.errors?.required"
        >
          {{ 'required' | translate }}
        </div>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'max_requests_per_connection' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          name="maxRequestsPerConnection"
          #maxRequestsPerConnection="ngModel"
          [(ngModel)]="httpViewModel.maxRequestsPerConnection"
          [pattern]="positiveIntPattern.pattern"
          [placeholder]="positiveIntPattern.tip | translate"
        />
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="maxRequestsPerConnectionTips"
            icon="basic:question"
          ></aui-icon>
        </div>
        <div auiFormItemError *ngIf="maxRequestsPerConnection.errors?.pattern">
          {{ positiveIntPattern.tip | translate }}
        </div>
      </aui-form-item>

      <div class="section-title">HTTP</div>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'max_requests_pending' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          required
          name="httpMaxPendingRequests"
          #httpMaxPendingRequests="ngModel"
          [(ngModel)]="httpViewModel.httpMaxPendingRequests"
          [pattern]="positiveIntPattern.pattern"
          [placeholder]="positiveIntPattern.tip | translate"
        />
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'http_max_requests_pending_question_tip' | translate"
            icon="basic:question"
          ></aui-icon>
        </div>
        <div auiFormItemError *ngIf="httpMaxPendingRequests.errors?.pattern">
          {{ positiveIntPattern.tip | translate }}
        </div>
        <div
          auiFormItemError
          *ngIf="form.controls.httpMaxPendingRequests?.errors?.required"
        >
          {{ 'required' | translate }}
        </div>
      </aui-form-item>

      <div class="section-title">HTTP2</div>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'max_requests' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          required
          name="httpMaxRequests"
          #httpMaxRequests="ngModel"
          [(ngModel)]="httpViewModel.httpMaxRequests"
          [pattern]="positiveIntPattern.pattern"
          [placeholder]="positiveIntPattern.tip | translate"
        />
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'http_max_requests_question_tip' | translate"
            icon="basic:question"
          ></aui-icon>
        </div>
        <div auiFormItemError *ngIf="httpMaxRequests.errors?.pattern">
          {{ positiveIntPattern.tip | translate }}
        </div>
        <div
          auiFormItemError
          *ngIf="form.controls.httpMaxRequests?.errors?.required"
        >
          {{ 'required' | translate }}
        </div>
      </aui-form-item>
    </ng-container>

    <ng-template #tcpTemplate>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'max_connections' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          required
          name="maxConnections"
          #maxConnections="ngModel"
          [(ngModel)]="tcpViewModel.maxConnections"
          [pattern]="positiveIntPattern.pattern"
          [placeholder]="positiveIntPattern.tip | translate"
        />
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'tcp_max_connections_question_tip' | translate"
            icon="basic:question"
          ></aui-icon>
        </div>
        <div auiFormItemError *ngIf="maxConnections.errors?.pattern">
          {{ positiveIntPattern.tip | translate }}
        </div>
        <div
          auiFormItemError
          *ngIf="form.controls.maxConnections?.errors?.required"
        >
          {{ 'required' | translate }}
        </div>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'connect_timeout' | translate }}
        </label>
        <aui-input-group class="inputGroup">
          <span auiInputAddonAfter>
            <div class="select-size">
              <aui-select
                name="connectTimeoutUnit"
                [(ngModel)]="tcpViewModel.connectTimeoutUnit"
                auiinputaddonafter
              >
                <aui-option value="ms">ms</aui-option>
                <aui-option value="s">s</aui-option>
                <aui-option value="m">m</aui-option>
              </aui-select>
            </div>
          </span>
          <input
            auiFormItemControl
            aui-input
            name="connectTimeout"
            #connectTimeout="ngModel"
            [placeholder]="positiveIntPattern.tip | translate"
            [(ngModel)]="tcpViewModel.connectTimeout"
            [pattern]="positiveIntPattern.pattern"
          />
        </aui-input-group>
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'tcp_connect_timeout_question_tip' | translate"
            icon="basic:question"
          ></aui-icon>
        </div>
        <div auiFormItemError *ngIf="connectTimeout.errors?.pattern">
          {{ positiveIntPattern.tip | translate }}
        </div>
      </aui-form-item>
    </ng-template>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      (click)="save()"
      [loading]="loading"
      [disabled]="loading"
    >
      {{ dialogText.confirm | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>

<ng-template #maxRequestsRetriesTips>
  <alo-tooltip-list
    [list]="[
      'http_max_requests_retries_question_tip_1',
      'http_max_requests_retries_question_tip_2'
    ]"
  ></alo-tooltip-list>
</ng-template>

<ng-template #maxRequestsPerConnectionTips>
  <alo-tooltip-list
    [list]="[
      'http_max_requests_per_connection_question_tip_1',
      'http_max_requests_per_connection_question_tip_2'
    ]"
  ></alo-tooltip-list>
</ng-template>
