<form
  auiForm
  [formGroup]="form"
  class="routing-rule"
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'base_workload' | translate }}</label>
    <aui-select
      auiFormItemControl
      required
      name="baseWorkload"
      [filterable]="true"
      [formControl]="form.get('baseWorkload')"
      (valueChange)="handleBaseWorkloadChanged(form.get('baseWorkload'))"
    >
      <aui-option
        *ngFor="let item of baseWorkloads"
        [label]="item | pure: displayBaseWorkload"
        [value]="item.name"
      >
        {{ item | pure: displayBaseWorkload }}
      </aui-option>
      <aui-option-placeholder>
        {{ 'no_match_result' | translate }}
      </aui-option-placeholder>
    </aui-select>
    <div auiFormItemError *ngIf="form.get('baseWorkload').errors?.required">
      {{ 'required' | translate }}
    </div>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'version' | translate }}
    </label>
    <input
      auiFormItemControl
      name="version"
      required
      aui-input
      [formControl]="form.get('version')"
      [pattern]="namePattern.pattern"
      [placeholder]="namePattern.tip | translate"
      maxlength="52"
    />
    <div auiFormItemError *ngIf="form.get('version').errors?.required">
      {{ 'required' | translate }}
    </div>
    <div auiFormItemError *ngIf="form.get('version').errors?.sameVersion">
      {{ 'same_version_tip' | translate }}
    </div>
    <div auiFormItemError *ngIf="form.get('version').errors?.pattern">
      {{ namePattern.tip | translate }}
    </div>
  </aui-form-item>

  <aui-form-item *ngIf="displayInitContainerImages">
    <label auiFormItemLabel>
      {{ 'init_container_image' | translate }}
    </label>
    <alo-images-table
      [params]="params"
      [submitted]="submitted"
      [tagMap]="tagMap"
      [formControl]="form.get('initContainerImages')"
    ></alo-images-table>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'image' | translate }}
    </label>
    <alo-images-table
      [params]="params"
      [submitted]="submitted"
      [tagMap]="tagMap"
      [formControl]="form.get('images')"
    ></alo-images-table>
    <div auiFormItemAddon>
      <aui-icon
        class="icon-question"
        icon="basic:question"
        [auiTooltip]="'create_service_version_tip' | translate"
      ></aui-icon>
    </div>
  </aui-form-item>
</form>
