:host {
  .detail {
    padding: 0 20px 20px 20px;
    background-color: #fff;
    .header {
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      padding-bottom: 12px;
      border-bottom: 1px solid #ededed;
      font-size: 18px;
      line-height: 24px;
    }
    .alo-detail {
      margin-top: 16px;
    }
  }
}
