<div class="detail">
  <div class="header">
    {{ name }}
    <div fxFlex></div>
    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu>
      <ng-container *aloVar="let btnState; from: status | pure: operatingState">
        <acl-disabled-container
          [isAllowed]="updated$ | async"
          [isDisabled]="
            btnState.status || !(resource | pure: existCluster$ | async)
          "
          [tooltip]="btnState.updateTip || 'cluster_deleted_tip' | translate"
          tooltipPosition="start"
        >
          <aui-menu-item (click)="update()">
            {{ 'update' | translate }}
          </aui-menu-item>
        </acl-disabled-container>

        <acl-disabled-container
          [isAllowed]="updated$ | async"
          [isDisabled]="btnState?.type !== 'inDeployment'"
          [tooltip]="'termination_disabled_tip' | translate"
          tooltipPosition="start"
        >
          <aui-menu-item (click)="termination()">
            {{ 'termination' | translate }}
          </aui-menu-item>
        </acl-disabled-container>

        <acl-disabled-container
          [isAllowed]="deleted$ | async"
          [isDisabled]="btnState.status"
          [tooltip]="btnState.updateTip | translate"
          tooltipPosition="start"
        >
          <aui-menu-item (click)="delete()" type="danger">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
      </ng-container>
    </aui-menu>
  </div>

  <div class="alo-detail" *ngIf="resource">
    <aui-section *aloVar="let serviceMesh; from: resource?.serviceMesh || {}">
      <div class="alo-detail__row">
        <div class="alo-detail__field">
          <label>{{ 'display_name' | translate }}</label>
          <span>
            {{ serviceMesh | aloDisplayName | aclFieldNotAvailable }}
          </span>
        </div>
        <div class="alo-detail__field">
          <label>{{ 'status' | translate }}</label>
          <span>
            <alo-servicemesh-status [status]="status"></alo-servicemesh-status>
          </span>
        </div>
      </div>
      <div class="alo-detail__row">
        <div class="alo-detail__field">
          <label>{{ 'create_by' | translate }}</label>
          <span>{{ serviceMesh | aloCreator | aclFieldNotAvailable }}</span>
        </div>
        <div class="alo-detail__field">
          <label>{{ 'create_at' | translate }}</label>
          <span>{{ serviceMesh | aclCreationTimestamp | aloTime }}</span>
        </div>
      </div>
    </aui-section>

    <ng-container
      *aloVar="let clusterConfig; from: resource | pure: clusterConfig"
    >
      <aui-section>
        <div auiSectionTitle>
          {{ 'parameter_configuration' | translate }}
        </div>
        <div class="alo-detail__row">
          <div class="alo-detail__field">
            <label>
              {{ 'cluster_node_ips' | translate }}
            </label>
            <span>
              <alo-ip-range-tag
                [ipRanges]="clusterConfig.clusterNodeIps"
              ></alo-ip-range-tag>
            </span>
          </div>
          <div class="alo-detail__field">
            <label>{{ 'trace_sampling' | translate }}</label>
            <span>
              {{ clusterConfig.traceSampling | aclFieldNotAvailable }}
            </span>
          </div>
        </div>
        <div class="alo-detail__row">
          <div class="alo-detail__field">
            <label>{{ 'ip_range' | translate }}</label>
            <span>
              <alo-ip-range-tag
                [ipRanges]="clusterConfig.ipranges?.ranges"
              ></alo-ip-range-tag>
            </span>
          </div>
          <div class="alo-detail__field">
            <label>{{ 'high_availability_components' | translate }}</label>
            <span>
              <aui-tag
                size="mini"
                [type]="clusterConfig.highAvailability ? 'success' : 'info'"
              >
                {{
                  (clusterConfig.highAvailability ? 'yes' : 'no') | translate
                }}
              </aui-tag>
            </span>
          </div>
        </div>
      </aui-section>
      <aui-section>
        <div auiSectionTitle>{{ 'access_component' | translate }}</div>
        <div class="alo-detail__row">
          <div class="alo-detail__field">
            <label>{{ 'Elasticsearch' }}</label>
            <span>
              {{ clusterConfig.elasticsearch?.url | aclFieldNotAvailable }}
            </span>
          </div>
          <div class="alo-detail__field">
            <label>{{ 'Prometheus' }}</label>
            <span>
              {{ clusterConfig.prometheusURL | aclFieldNotAvailable }}
            </span>
          </div>
        </div>
      </aui-section>
    </ng-container>
  </div>
</div>
