@import 'mixins';
@import 'var';

.deployments {
  p {
    @include text-overflow;

    color: $color-text-help;
  }
  a {
    margin: 0 5px;
  }
  .status {
    display: flex;
    align-items: center;
  }
}
.labels-container {
  font-size: 14px;
  color: $color-text-help;
  .label {
    display: flex;
    align-items: center;
    padding: 5px 0;
    a {
      margin: 0 5px;
    }
  }
}

::ng-deep .aui-tooltip {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

:host {
  .total {
    color: $color-text-help;
    font-size: 12px;
    line-height: 16px;
    display: inherit;
    margin-top: 4px;
    margin-left: 20px;
    .show {
      color: #0058cc;
      background: #e8f1ff;
    }
    a {
      cursor: pointer;
    }
  }
}
