<div class="deployments" *ngIf="records && records.length; else elseTemplate">
  <div class="status">
    <alo-status-icon
      [status]="handleRecordStatus(records[0].status).icon"
    ></alo-status-icon>
    <a [routerLink]="['./', name, '#' + records[0].id]">
      {{ '#' + records[0].id }}
    </a>
    <p>
      {{ records[0].startTime | aloUnix | aclRelativeTime }}
    </p>
  </div>
  <span class="total" *ngIf="records.length > 1">
    {{ 'last' | translate }}
    <a
      [class.show]="show"
      [auiTooltip]="labels"
      auiTooltipType="info"
      auiTooltipTrigger="click"
      (auiTooltipShow)="show = true"
      (auiTooltipHide)="show = false"
      auiTooltipPosition="bottom start"
    >
      {{ records.length > 5 ? 5 : records.length }}
    </a>
    {{ 'record_unit' | translate }}
  </span>
</div>

<ng-template #elseTemplate>
  -
</ng-template>

<ng-template #labels>
  <div class="labels-container">
    <div class="label" *ngFor="let record of records | slice: 0:5">
      <alo-status-icon
        [status]="handleRecordStatus(record.status).icon"
      ></alo-status-icon>
      <a [routerLink]="['./', name, '#' + record.id]">
        {{ '#' + record.id }}
      </a>
      {{ record.startTime | aloUnix | aclRelativeTime }}
    </div>
  </div>
</ng-template>
