@import 'var';
:host {
  .card {
    display: flex;
    padding: 10px 20px;
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 15px;
    .content {
      margin-left: 10px;
      .title {
        font-weight: bold;
      }
      .description {
        padding: 5px 0;
      }
    }
  }
  img {
    width: 50px;
    height: 50px;
  }
  .available {
    &:hover {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
      cursor: pointer;
      border: 1px solid $color-primary;
      color: $color-primary;
    }
  }
  .coming-soon {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
