<aui-dialog-header>
  {{ 'nav_gray_release' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <div
    class="card"
    *ngFor="let type of types"
    [ngClass]="type.link ? 'available' : 'coming-soon'"
    (click)="selectedType(type.link)"
  >
    <img [src]="type.icon" />
    <div class="content">
      <div class="title">
        {{ type.title | translate }}
        <ng-container *ngIf="!type.link">
          ({{ 'coming_soon' | translate }})
        </ng-container>
      </div>
      <div class="description">{{ type.description | translate }}</div>
    </div>
  </div>
</aui-dialog-content>
