<div class="alo-detail">
  <div class="alo-detail__row">
    <div class="alo-detail__field">
      <label>{{ 'display_name' | translate }}</label>
      <span class="displayname">
        <div class="content" [title]="data | aclDisplayName">
          {{ data | aclDisplayName | aclFieldNotAvailable }}
        </div>
        <acl-disabled-container [isAllowed]="permissions.update">
          <button aui-button="text" (click)="openDialog(displayNameTemplate)">
            <aui-icon icon="basic:pencil_s" margin="right"></aui-icon>
          </button>
        </acl-disabled-container>
      </span>
    </div>

    <div class="alo-detail__field">
      <label>{{ 'create_by' | translate }}</label>
      <span>{{ data | aloCreator | aclFieldNotAvailable }}</span>
    </div>
  </div>

  <div class="alo-detail__row">
    <div class="alo-detail__field">
      <label>{{ 'created_at' | translate }}</label>
      <span>{{ data | aclCreationTimestamp | aclRelativeTime }}</span>
    </div>
  </div>
</div>

<ng-template #displayNameTemplate>
  <aui-dialog-header>
    {{ 'update_display_name_title' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <form
      #form="ngForm"
      auiForm
      auiFormLabelWidth="130px"
      [auiFormEmptyAddon]="true"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'display_name' | translate }}
        </label>
        <input
          auiFormItemControl
          name="displayname"
          aui-input
          [(ngModel)]="displayName"
        />
      </aui-form-item>
    </form>
  </aui-dialog-content>

  <aui-dialog-footer>
    <div>
      <button aui-button="primary" (click)="update()">
        {{ 'update' | translate }}
      </button>
      <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
    </div>
  </aui-dialog-footer>
</ng-template>
