@import 'mixins';
:host {
  .alo-detail {
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
  }
  .displayname {
    display: flex;
    .content {
      max-width: calc(100% - 20px);
      @include text-overflow;
    }
  }
}
