<div class="content">
  <div *ngIf="!(nodeMap.size && lineMap.size)" class="no-graph">
    {{ 'no_data' | translate }}
  </div>
  <div
    class="graph"
    [ngClass]="{ grabbing: grabState }"
    #graph
    aloResize
    (resized)="onResized($event)"
  >
    <svg #svg id="topology" width="100%" height="100%">
      <alo-shape></alo-shape>
      <defs>
        <filter x="-0.05" y="0" width="1.1" height="1" id="text-solid">
          <feFlood flood-color="#fff" />
          <feComposite in="SourceGraphic" />
        </filter>
        <ng-container *ngFor="let name of markerColorNames">
          <marker
            [attr.id]="name"
            [attr.viewBox]="marker.viewBox"
            refX="0"
            [attr.refY]="marker.refY"
            orient="auto"
            markerUnits="userSpaceOnUse"
            [attr.markerWidth]="marker.width"
            [attr.markerHeight]="marker.height"
          >
            <path
              [attr.d]="marker.path"
              [attr.fill]="config.lineStrokeColor[name]"
            ></path>
          </marker>
          <marker
            [attr.id]="'istio-' + name"
            viewBox="0 0 32 32"
            markerWidth="14"
            markerHeight="14"
            markerUnits="userSpaceOnUse"
            [attr.fill]="config.lineStrokeColor[name]"
          >
            <path
              d="M11.561 31.998c-2.4 0-4.32-1.864-4.32-4.194v-5.171h2.96v5.249c0 .699.64 1.32 1.36 1.32h4.56c.72 0 1.36-.621 1.36-1.32V4.194c0-.699-.64-1.32-1.36-1.32h-4.56c-.72 0-1.36.621-1.36 1.32v4.815h-2.96V4.194c0-2.33 1.92-4.194 4.32-4.194h4.56c2.4 0 4.32 1.864 4.32 4.194v6.524h2.24V8.077l6.32 5.204h-8.64v5.437l4.699.3 3.861 2.186h-8.48v6.602c0 2.33-1.92 4.194-4.32 4.194h-4.56zm-4.32-14.989h2.96v-1.942h-2.96v1.942zm-4.24-6.291h12.72v2.641H3.001v-2.641zm17.43 7.968h2.24v-2.641l6.32 5.204h-8.64l.08-2.563zM3.046 18.56h12.72v2.641H3.046V18.56z"
            ></path>
          </marker>
        </ng-container>
      </defs>
      <g id="container" [aloZoomableOf]="svg" (zoomEnd)="zoomEnd()">
        <g id="graph">
          <!-- groups -->
          <svg:g
            *ngIf="groupMap.size > 0"
            alo-group-graph
            [groupMap]="groupMap"
            [currentIds]="currentIds"
          ></svg:g>

          <!-- lines -->
          <svg:g
            *ngIf="lineMap.size > 0"
            alo-line-graph
            [lineMap]="lineMap"
            [currentIds]="currentIds"
            [scale]="graphScale"
            (clickEvent)="lineClick($event)"
            (mouseMoveEvent)="lineMouseMove($event)"
            (mouseoverEvent)="lineMouseover($event)"
            (mouseoutEvent)="lineMouseout()"
          ></svg:g>

          <!-- nodes -->
          <svg:g
            *ngIf="nodeMap.size > 0"
            alo-node-graph
            [nodeMap]="nodeMap"
            [currentIds]="currentIds"
            [scale]="graphScale"
            (clickEvent)="nodeClick($event)"
            (mouseMoveEvent)="nodeMouseMove($event)"
            (mouseoverEvent)="nodeMouseover($event)"
            (mouseoutEvent)="nodeMouseout()"
          ></svg:g>
        </g>
      </g>
    </svg>
    <!-- 因图上展示的错误率和右侧面板的错误率算法不一致暂先不展示线上的rps 和 错误率 -->
    <!-- <alo-tooltip
      *ngIf="lineInfo.show"
      [type]="lineInfo.type"
      [tipInfo]="lineInfo"
    ></alo-tooltip> -->
    <!-- <alo-tooltip
      *ngIf="nodeInfo.show"
      [type]="nodeInfo.type"
      [tipInfo]="nodeInfo"
    ></alo-tooltip> -->
  </div>

  <div class="legend">
    <div (click)="clickedLegend($event)" [class.legend-active]="displayLeged">
      <aui-icon icon="basic:legend"></aui-icon>
      <span>{{ 'legend' | translate }}</span>
      <aui-icon icon="angle_down"></aui-icon>
    </div>
    <alo-graph-legend [hidden]="!displayLeged"></alo-graph-legend>
  </div>

  <alo-toolbar
    (resetEvent)="zoomReset()"
    (zoomInEvent)="zoomIn()"
    (zooOutEvent)="zoomOut()"
    (adaptionEvent)="adaption()"
    [graphScale]="graphScale"
  ></alo-toolbar>
  <div *ngIf="partialViewDisplay$ | async" class="partial-view">
    <alo-partial-view
      [node]="curretNode"
      (nodeClickEvent)="partialViewClick($event)"
      (closeEvent)="closePartialView($event)"
    ></alo-partial-view>
  </div>
</div>
