@import '~@alauda/ui/theme/_pattern';
svg {
  user-select: none;
}
.graph {
  height: 100%;
}
.grabbing {
  cursor: grabbing;
}
.content {
  position: relative;
  height: 100%;
  .partial-view {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 100%;
    height: 100%;
  }
}

.legend {
  position: absolute;
  cursor: pointer;
  left: 0px;
  top: 0px;
  font-size: 12px;
  border-radius: 2px;
  &-active {
    color: $color-primary;
    background: rgba(0, 156, 227, 0.1);
  }
  span {
    padding: 0px 3px;
  }
  alo-graph-legend {
    position: absolute;
    left: 0px;
    top: 20px;
  }
}
.no-graph {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #999;
}
