<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        <a href="javascript:void(0)" [routerLink]="['../../']">
          {{ 'nav_istio_gateway' | translate }}
        </a>
      </span>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        <a
          href="javascript:void(0)"
          [routerLink]="['../../', (params$ | async).name]"
        >
          {{ (params$ | async).name }}
        </a>
      </span>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'update' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<acl-page-state [adapter]="dataLoader">
  <ng-template let-resource>
    <alo-gateway-form *ngIf="resource" [data]="resource"></alo-gateway-form>
  </ng-template>
</acl-page-state>
