<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_traffic_policy' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<aui-tab-group>
  <aui-tab>
    <ng-container *auiTabLabel>{{'load_balancing' | translate}}</ng-container>
    <alo-load-balancing></alo-load-balancing>
  </aui-tab>
</aui-tab-group>
