<aui-table auiSort [dataSource]="data">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <a class="highlight-name" [routerLink]="['./', item | aclName]">
        {{ item | aclName }}
      </a>
      <ng-container *ngIf="item.status?.phase === 'Initializing'">
        <span
          [auiTooltipDisabled]="!item.status.conditions"
          [auiTooltip]="
            item.status.conditions ? item.status.conditions[0].message : ''
          "
        >
          <alo-status-icon
            [status]="item.status.conditions ? 'warning' : 'deploying'"
          ></alo-status-icon>
          {{
            (item.status.conditions ? 'initialize_abnormal' : 'initializing')
              | translate
          }}
        </span>
      </ng-container>
      <br />
      <span class="display-name">
        {{ item | aclDisplayName }}
      </span>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="workload">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'workload' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.spec.targetRef.name }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="releaseType">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'release_type' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ 'canary_delivery' | translate }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="taskStatus">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'task_status' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alo-record-tags
        [records]="item.spec.records || []"
        [name]="item | aclName"
      ></alo-record-tags>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alo-menu-trigger [menu]="menu" size="small"></alo-menu-trigger>
      <aui-menu #menu size="small">
        <acl-disabled-container
          [isAllowed]="updated$ | async"
          [isDisabled]="!checkReleaseStatus(item).enable"
          [tooltip]="checkReleaseStatus(item).message | translate"
        >
          <aui-menu-item (click)="release(item)">
            {{ 'release' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
        <acl-disabled-container
          [isAllowed]="deleted$ | async"
          [isDisabled]="isReleasing(item)"
          [tooltip]="'releasing_cant_delete' | translate"
        >
          <aui-menu-item (click)="delete(item)">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
      </aui-menu>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
