@import '../../../route-base';
:host {
  flex: 1;
  .condition-desc {
    font-size: 12px;
    color: #999;
    margin: 5px 8px;
  }
  .rule-container {
    background-color: #fafafa;
    padding: 8px;
    margin-bottom: 10px;
  }
  .rule_group_add {
    background: #fafafa;
  }
  .no-conditions-card {
    margin: 5px 8px;
    height: 45px;
    font-size: 14px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed 1px #ccc;
    background: #fff;
  }
  .rule-header {
    ::ng-deep .aui-card {
      padding: 12px;
    }
  }
  .workload {
    display: flex;
    aui-select,
    input {
      flex: 1;
    }
    input {
      margin-left: 10px;
    }
  }
  aui-card {
    position: relative;
    .header-action {
      display: flex;
      ::ng-deep .aui-form-item {
        margin-bottom: 0;
      }
      button {
        border: 0;
        &.delete-btn {
          margin-left: 8px;
        }
      }
      .arrow {
        &--up {
          transform: rotate(-90deg);
        }
        &--down {
          transform: rotate(90deg);
        }
      }
    }
  }
  ::ng-deep > alo-array-form-table {
    > table {
      > tbody {
        > tr {
          > .alo-form-table__action-col {
            display: none;
          }
        }
      }
    }
  }
  ::ng-deep {
    .alo-form-table {
      margin-bottom: 0;
      background: none;
    }
  }
}
