<alo-array-form-table
  [noRowSeparator]="true"
  [rows]="form?.controls"
  [resourceName]="'condition_rule' | translate"
>
  <ng-container
    *aloArrayFormTableRow="let control; let index = index"
    [formGroup]="control"
  >
    <div class="rule-container" *ngIf="canDisplayConditionRule">
      <aui-card class="rule-header">
        <div class="header-action">
          <aui-form-item required>
            <label auiFormItemLabel>
              {{ 'workload' | translate }}
            </label>
            <div class="workload">
              <aui-select
                auiFormItemControl
                required
                [formControl]="control.get('route.destination.host')"
                [placeholder]="'workload_select_tip' | translate"
                (valueChange)="handleWorkloadChanged($event, control)"
              >
                <aui-option
                  *ngFor="let workload of store.deployments"
                  [label]="workload.name"
                  [value]="workload.name"
                  [disabled]="existingWorkload.includes(workload.name)"
                  [auiTooltip]="'chosen' | translate"
                  [auiTooltipDisabled]="
                    !existingWorkload.includes(workload.name)
                  "
                >
                  {{ workload.name }}
                </aui-option>
                <aui-option-placeholder>
                  {{ 'no_match_result' | translate }}
                </aui-option-placeholder>
              </aui-select>
              <input
                aui-input
                auiFormItemControl
                (blur)="onBlur()"
                [formControl]="control.get('route.destination.subset')"
              />
            </div>
          </aui-form-item>
          <div fxFlex></div>
          <button
            aui-button="text"
            square="true"
            class="arrow--up"
            [disabled]="index === 0"
            (click)="upRecord(index)"
          >
            <aui-icon icon="basic:arrow"></aui-icon>
          </button>
          <button
            aui-button="text"
            square="true"
            class="arrow--down"
            [disabled]="index === conditionRuleLen - 1"
            (click)="downRecord(index)"
          >
            <aui-icon icon="basic:arrow"></aui-icon>
          </button>

          <alo-menu-trigger [menu]="deleteMenu"></alo-menu-trigger>
          <aui-menu #deleteMenu>
            <ng-container
              *aloVar="let disabled; from: disableDelete(control.value)"
            >
              <aui-menu-item
                (click)="removeCondition(index)"
                [auiTooltip]="'delete_policy_disable_tip' | translate"
                [auiTooltipDisabled]="!disabled"
                [disabled]="disabled"
              >
                {{ 'delete' | translate }}
              </aui-menu-item>
            </ng-container>
          </aui-menu>
        </div>

        <div class="priority">
          <div class="ribbon-lanren-green">
            <div class="ribbon-green">
              {{ 'priority' | translate }}{{ index + 1 }}
            </div>
          </div>
        </div>
      </aui-card>

      <alo-condition-rule-array
        flex="1"
        formControlName="match"
        (blur)="onBlur()"
      ></alo-condition-rule-array>
    </div>
    <div
      class="rule_group_add"
      [hidden]="
        !(
          (index + 1 === form?.controls.length &&
            form?.controls.length < store.deployments.length) ||
          (!canDisplayConditionRule && store.deployments.length === 1)
        )
      "
    >
      <div class="condition-desc">
        <div>{{ 'condition_rule_desc_0' | translate }}</div>
        <div>{{ 'condition_rule_desc_1' | translate }}</div>
      </div>
      <div class="no-conditions-card">
        <ng-container *ngIf="!canDisplayConditionRule">
          {{ 'no_condition_rule' | translate }},
          {{ 'click' | translate }}
        </ng-container>

        <button aui-button="text" size="small" (click)="addCondition()">
          {{ 'add_condition_rule_group' | translate }}
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *aloArrayFormTableFooter></ng-container>
</alo-array-form-table>
