<form [formGroup]="form" auiForm auiFormLabelWidth="106px">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'service_version' | translate }}
    </label>
    <div class="version" auiFormItemControl required>
      <alo-service-version-table
        (blur)="onBlur()"
        [formControl]="form.get('deployments')"
        [fillDeployments]="fillDeployments"
        [routeParams]="data.routeParams"
        [detail]="data.detail"
        [submitted]="submitted"
      ></alo-service-version-table>
    </div>
  </aui-form-item>
</form>
