<form #form="ngForm">
  <ng-container *ngIf="store.serviceName; else elseTemplate">
    <alo-route-form
      [(ngModel)]="routerModel"
      [routeModel]="data"
      (ngModelChange)="formChange($event)"
      name="routerForm"
    ></alo-route-form>
  </ng-container>
  <ng-template #elseTemplate>
    <aui-card>
      <div auiCardHeader>
        {{ (data ? 'update_route' : 'create_route') | translate }}
      </div>

      <alo-route-form
        [(ngModel)]="routerModel"
        [routeModel]="data"
        (ngModelChange)="formChange($event)"
        name="routerForm"
      ></alo-route-form>

      <div class="alo-mutate-page-bottom-buttons">
        <button
          type="button"
          aui-button="primary"
          [loading]="submitting"
          [disabled]="submitting"
          (click)="confirm()"
        >
          {{ (data ? 'update' : 'create') | translate }}
        </button>
        <button
          type="button"
          aui-button
          [disabled]="submitting"
          (click)="cancel()"
        >
          {{ 'cancel' | translate }}
        </button>
      </div>
    </aui-card>
  </ng-template>
</form>
