<aui-dialog-header>
  {{
    (data.isCreate
      ? 'create_delayed_return_policy'
      : 'update_delayed_return_policy'
    ) | translate
  }}
  <aui-icon
    class="question-icon"
    [auiTooltip]="'delay_response_title_tips' | translate"
    icon="basic:question"
  ></aui-icon>
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="114px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'fixed_delay' | translate }}</label>
      <aui-input-group>
        <input
          auiFormItemControl
          name="fixedDelay"
          #fixedDelay="ngModel"
          aui-input
          required
          [pattern]="positiveIntPattern.pattern"
          [(ngModel)]="injectionParams.delay.fixedDelay"
          [placeholder]="positiveIntPattern.tip | translate"
        />
        <span auiInputAddonAfter>ms</span>
      </aui-input-group>
      <div
        auiFormItemError
        *ngIf="fixedDelay.errors?.pattern || fixedDelay.errors?.pattern"
      >
        {{ positiveIntPattern.tip | translate }}
      </div>
      <div auiFormItemError *ngIf="fixedDelay.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'delay_percentage' | translate }}</label>
      <aui-input-group>
        <input
          auiFormItemControl
          name="delayPercentage"
          #delayPercentage="ngModel"
          [pattern]="percentagePattern.pattern"
          aui-input
          required
          [(ngModel)]="injectionParams.delay.percentage.value"
          [placeholder]="percentagePattern.tip | translate"
        />
        <span auiInputAddonAfter>%</span>
      </aui-input-group>
      <div auiFormItemError *ngIf="delayPercentage.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="delayPercentage.errors?.pattern">
        {{ percentagePattern.tip | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="save()" [loading]="submitting">
      {{ (data.isCreate ? 'create' : 'update') | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
