<div>
  <div 
    class="detail" 
    *ngFor="let item of detailKeys" 
    title="{{ ( translateVal[item] | translate)+':'+( values[item] | aclFieldNotAvailable) + (item === 'maxEjectionPercent' ? '%' : '')  }}"
  >
    <label>{{ translateVal[item] | translate }}：</label>
    <span>{{ values[item] | aclFieldNotAvailable }}<ng-container *ngIf="item === 'maxEjectionPercent'">%</ng-container></span>
  </div>
</div>