<alo-array-form-table
  [noRowSeparator]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [keepLastOne]="true"
  [rows]="form.controls"
>
  <ng-container *aloArrayFormTableHeader>
    <th required>{{ 'nav_microservice' | translate }}</th>
    <th required>{{ 'version' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *aloArrayFormTableRow="let control">
    <td
      [class.hasError]="
        control.get('app').touched && control.get('app').invalid
      "
    >
      <aui-select
        [placeholder]="'please_select_microservice' | translate"
        [formControl]="control.get('app')"
        (valueChange)="appChanged(control)"
      >
        <aui-option
          *ngFor="let item of microserviceMap | pure: transitionArray"
          [label]="item"
          [value]="item"
          [disabled]="item | pure: allowListExisted"
          [auiTooltip]="'existed' | translate"
          [auiTooltipDisabled]="!(item | pure: allowListExisted)"
        >
          {{ item }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>

    <td
      [class.hasError]="
        control.get('version').touched && control.get('version').invalid
      "
    >
      <aui-select
        [formControl]="control.get('version')"
        [placeholder]="'please_select_version' | translate"
      >
        <ng-container
          *aloVar="
            let versions;
            from: microserviceMap.get(control.get('app').value)?.deployments
          "
        >
          <aui-option *ngIf="versions" value="all">all</aui-option>
          <aui-option
            *ngFor="let item of versions"
            [label]="item.version"
            [value]="item.version"
            [disabled]="
              allowlistMap.get(control.get('app').value)?.includes(item.version)
            "
            [auiTooltip]="'existed' | translate"
            [auiTooltipDisabled]="
              !allowlistMap
                .get(control.get('app').value)
                ?.includes(item.version)
            "
          >
            {{ item.version }}
          </aui-option>
        </ng-container>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *aloArrayFormTableRow="let control">
    <ng-container
      *aloVar="let messages; from: tableVerificationMessage(control)"
    >
      <td
        colspan="3"
        class="alo-table-form-error-hint"
        *ngIf="messages?.length"
      >
        <ng-container *ngFor="let item of messages; let i = index">
          <ng-container *ngIf="i >= 1">;</ng-container>
          {{ item.tip }}
        </ng-container>
      </td>
    </ng-container>
  </ng-container>
</alo-array-form-table>
