@import 'var';
:host {
  header {
    margin-bottom: 10px;
    acl-disabled-container {
      display: inline-block;
    }
    aui-icon {
      margin-left: 12px;
      font-size: 16px;
      color: $color-text-help;
    }
  }
  .aui-table {
    min-width: 0;
    &__column-action {
      max-width: 40px;
    }
  }
}
