<header>
  <acl-disabled-container [isAllowed]="(permissions$ | async).create">
    <button plain="true" aui-button="primary" (click)="openWhitelistDialog()">
      {{ 'add_whitelist' | translate }}
    </button>
  </acl-disabled-container>
  <aui-icon
    icon="basic:question"
    [auiTooltip]="'whitelist_question_tip' | translate"
  ></aui-icon>
</header>

<ng-container
  *aloAsyncData="
    let data;
    handler: fetch;
    params: params$ | async;
    notification: refresh$
  "
>
  <aui-table auiSort [dataSource]="data">
    <ng-container auiTableColumnDef="microservice">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'nav_microservice' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.app | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="version">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'version' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.version || 'all' }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alo-menu-trigger
          [menu]="actionsMenu"
          [context]="{ item: item }"
        ></alo-menu-trigger>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <alo-no-data
    *ngIf="!data?.length || !data"
    [resourceName]="'no_whitelist_tip' | translate"
  ></alo-no-data>
</ng-container>

<aui-menu #actionsMenu>
  <ng-template auiMenuContent let-item="item">
    <acl-disabled-container
      tooltipPosition="start"
      [isAllowed]="(permissions$ | async).delete"
    >
      <aui-menu-item (click)="deleteWhitelist(item)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
