<aui-table [dataSource]="list?.items$ | async | pure: dataPure">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span class="name">{{ item.name || '-' }}</span>
      <div class="display-name">{{ item.displayName }}</div>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="cluster">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'associated_cluster' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div>
        {{ item.currendCluster || item.cluster || '-' }}
      </div>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="serviceMesh">
    <aui-table-header-cell *auiTableHeaderCellDef>
      Service Mesh
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div>
        <alo-status-icon
          [status]="serviceMeshStatus(item, deployedMenu).status"
        ></alo-status-icon>
        {{ serviceMeshStatus(item, deployedMenu).text | translate }}
      </div>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="create_by">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'create_by' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.creator || '-' }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="creationTimestamp">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'created_at' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.creationTimestamp | aclRelativeTime }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <ng-container>
        <alo-menu-trigger
          [menu]="actionsMenu"
          [context]="{ item: item }"
        ></alo-menu-trigger>
      </ng-container>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<aui-menu #actionsMenu>
  <ng-template auiMenuContent let-item="item">
    <ng-container
      *aloVar="
        let deployed;
        from: deployedMenu[item.cluster || item.currendCluster]
      "
    >
      <acl-disabled-container
        [tooltip]="'not_deployed_tip' | translate"
        [isAllowed]="updated$ | async"
        [isDisabled]="!deployed"
        tooltipPosition="start"
      >
        <aui-menu-item (click)="enableConfirm(item)">
          {{
            (item.serviceMesh === 'enabled'
              ? 'disable_service_mesh'
              : 'enable_service_mesh'
            ) | translate
          }}
        </aui-menu-item>
      </acl-disabled-container>
      <acl-disabled-container
        [tooltip]="'not_enabled_service_mesh' | translate"
        [isAllowed]="updated$ | async"
        [isDisabled]="!deployed || item.serviceMesh !== 'enabled'"
        tooltipPosition="start"
      >
        <aui-menu-item (click)="setVisibility(item)">
          {{ 'set_visibility' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
    </ng-container>
  </ng-template>
</aui-menu>

<alo-no-data
  *ngIf="nodata"
  [loading]="loading"
  [resourceName]="'namespace' | translate"
  (retry)="list.reload()"
></alo-no-data>
<!-- <alo-resource-list-footer [resourceName]="'namespace' | translate" [list]="list"></alo-resource-list-footer> -->

<ng-template #enableConfirmDialog>
  <aui-dialog-header>
    <aui-icon
      [icon]="dialogText.icon"
      [class.error]="enabled"
      size="24px"
    ></aui-icon>
    {{ dialogText.title | translate }}
  </aui-dialog-header>

  <aui-dialog-content>
    <div class="confirm-body">
      {{
        dialogText.content | translate: { namespace: namespace.metadata.name }
      }}
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button
      [loading]="submitting"
      [aui-button]="enabled ? 'error' : 'primary'"
      (click)="enableOrDisableServiceMesh(dialogText.value)"
    >
      {{ dialogText.button | translate }}
    </button>
    <button aui-button auiDialogClose="false">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</ng-template>
