.aui-table {
  min-width: 0px;
  &__column-action {
    max-width: 40px;
  }
}
.name {
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}
.display-name {
  font-size: 12px;
  color: #999999;
}
aui-icon {
  color: #ffab00;
  flex: 24px;
  margin-right: 8px;
}
.error {
  color: #eb6262;
}
