.record {
  display: flex;
  margin-top: 16px;
  header {
    margin-bottom: 12px;
  }
  aui-card {
    flex: 1;
    &:first-child {
      margin-right: 16px;
    }
  }
  ::ng-deep {
    .aui-card {
      min-height: 344px;
    }
    aui-card + aui-card > .aui-card {
      margin-top: 0;
    }
  }
}
