<div class="record">
  <!-- 最新熔断记录 -->
  <aui-card
    *aloAsyncData="
      let data;
      params: params$ | async;
      handler: fetchCircuitBreaker
    "
  >
    <div auiCardContent>
      <header>{{ 'latest_circuit_breaker_record' | translate }}</header>
      <aui-table auiSort [dataSource]="data">
        <ng-container auiTableColumnDef="service_version">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'nav_microservice' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.service | aclFieldNotAvailable }}:
            {{ item.version | pure: getSubset | aclFieldNotAvailable }}
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="circuit_breaker_time">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'circuit_breaker_time' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.time | aloTime }}
          </aui-table-cell>
        </ng-container>

        <aui-table-header-row
          *auiTableHeaderRowDef="circuitBreakerColumns"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: circuitBreakerColumns"
        ></aui-table-row>
      </aui-table>
      <alo-no-data *ngIf="!data?.length" mode="list"></alo-no-data>
    </div>
  </aui-card>

  <!-- 最新流量异常记录 -->
  <aui-card
    *aloAsyncData="let data; params: params$ | async; handler: fetchTraffic"
  >
    <div auiCardContent>
      <header>
        {{ 'latest_traffic_anomaly_record' | translate }}
        <aui-icon
          icon="basic:question"
          [auiTooltip]="'traffic_anomaly_record_tip' | translate"
        ></aui-icon>
      </header>

      <aui-table auiSort [dataSource]="data">
        <ng-container auiTableColumnDef="service_version">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'service_version' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.service | aclFieldNotAvailable }}:
            {{ item.version | aclFieldNotAvailable }}
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="error_rate">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'error_rate' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.errorRate | number: '1.0-2' | aclFieldNotAvailable }}%
          </aui-table-cell>
        </ng-container>

        <aui-table-header-row
          *auiTableHeaderRowDef="trafficColumns"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: trafficColumns"
        ></aui-table-row>
      </aui-table>
      <alo-no-data *ngIf="!data?.length" mode="list"></alo-no-data>
    </div>
  </aui-card>
</div>
