<div
  class="deployments"
  *ngIf="deployments && deployments.length; else elseTemplate"
>
  <p
    *ngFor="let deploy of deployments | slice: 0:2"
    [title]="deploy.name + '(' + deploy.version + ')'"
  >
    {{ deploy.name }}
    <ng-container
      *ngIf="deploy.name || deploy.version; else template"
    ></ng-container>
    ({{ deploy.version }})
    <ng-template #template>-</ng-template>
  </p>
  <span class="total" *ngIf="deployments.length > 2">
    {{ 'total' | translate }}
    <a
      [class.show]="show"
      [auiTooltip]="labels"
      auiTooltipType="info"
      auiTooltipTrigger="click"
      (auiTooltipShow)="show = true"
      (auiTooltipHide)="show = false"
      auiTooltipPosition="bottom start"
    >
      {{ deployments.length }}
    </a>
    {{ 'workload_version_tooltip' | translate }}
  </span>
</div>

<ng-template #elseTemplate>
  -
</ng-template>

<ng-template #labels>
  <div class="labels-container">
    <div class="labels-list">
      <ul>
        <li *ngFor="let deploy of deployments">
          {{ deploy.name }} ({{ deploy.version }})
        </li>
      </ul>
    </div>
  </div>
</ng-template>
