@import 'mixins';
@import 'var';

.deployments {
  p {
    @include text-overflow();
  }
}
.labels-container {
  .labels-list {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    padding: 5px 10px 5px 5px;
    li {
      list-style-type: none;
      &:before {
        content: '\2022';
        color: $color-text-help;
        font-size: 12px;
      }
    }
  }
}

::ng-deep .aui-tooltip {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

:host {
  .total {
    color: $color-text-help;
    font-size: 12px;
    line-height: 16px;
    display: inherit;
    margin-top: 4px;
    .show {
      color: #0058cc;
      background: #e8f1ff;
    }
    a {
      cursor: pointer;
    }
  }
}
