<aui-dialog-header>
  {{
    (data.isCreate ? 'create_timeout_and_retry' : 'update_timeout_and_retry')
      | translate
  }}
  <aui-icon
    class="question-icon"
    [auiTooltip]="timeAndRetryTips"
    icon="basic:question"
  ></aui-icon>
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="114px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'timeout' | translate }}</label>
      <aui-input-group>
        <input
          auiFormItemControl
          name="timeout"
          #timeout="ngModel"
          type="text"
          aui-input
          required
          [pattern]="positiveIntPattern.pattern"
          [placeholder]="positiveIntPattern.tip | translate"
          [(ngModel)]="params.timeout"
        />
        <span auiInputAddonAfter>ms</span>
      </aui-input-group>
      <div auiFormItemError *ngIf="timeout.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="timeout.errors?.pattern">
        {{ positiveIntPattern.tip | translate }}
      </div>
      <div auiFormItemHint>
        {{ 'timeout_tips' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'attempts' | translate }}</label>
      <input
        auiFormItemControl
        name="attempts"
        #attempts="ngModel"
        type="text"
        aui-input
        [pattern]="positiveIntPattern.pattern"
        [placeholder]="positiveIntPattern.tip | translate"
        [(ngModel)]="params.retries.attempts"
      />
      <div auiFormItemError *ngIf="attempts.errors?.pattern">
        {{ positiveIntPattern.tip | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'per_try_timeout' | translate }}</label>
      <aui-input-group>
        <input
          auiFormItemControl
          name="perTryTimeout"
          #perTryTimeout="ngModel"
          type="text"
          aui-input
          [pattern]="positiveIntPattern.pattern"
          [placeholder]="positiveIntPattern.tip | translate"
          [(ngModel)]="params.retries.perTryTimeout"
        />
        <span auiInputAddonAfter>ms</span>
      </aui-input-group>
      <div auiFormItemError *ngIf="perTryTimeout.errors?.pattern">
        {{ positiveIntPattern.tip | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="save()" [loading]="submitting">
      {{ (data.isCreate ? 'create' : 'update') | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>

<ng-template #timeAndRetryTips>
  <alo-tooltip-list
    [list]="[
      'timeout_and_retry_title_tips_1',
      'timeout_and_retry_title_tips_2'
    ]"
  ></alo-tooltip-list>
</ng-template>
