@import 'var';
:host {
  aui-tags-input,
  aui-input-group {
    flex: 1;
  }
  .icon-style {
    color: $color-text-help;
    &:hover {
      color: $color-primary;
    }
  }
  .section-title {
    padding-left: 8px;
    border-left: 4px solid $color-primary;
  }
  .question-icon {
    font-size: 16px;
    color: $color-text-help;
  }
  form {
    margin-bottom: 40px;
  }
  .hint-icon {
    font-size: 16px;
    color: $color-primary;
    padding: 0 3px;
    &:hover {
      color: $color-primary;
      background-color: $color-primary-ultra-light;
      cursor: pointer;
    }
  }
}
.ip-range-questions-container {
  margin-left: 8px;
}
