<form
  #form="ngForm"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>
      {{ 'basic_info' | translate }}
    </div>
    <!-- name -->
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        [hidden]="data"
        auiFormItemControl
        aui-input
        type="text"
        name="name"
        required
        maxlength="32"
        #serviceMeshName="ngModel"
        [pattern]="namePattern.pattern"
        [(ngModel)]="serviceMeshModel.metadata.name"
        [placeholder]="
          (namePattern.tip | translate) + ',' + ('max_length_32' | translate)
        "
      />
      <div auiFormItemError *ngIf="serviceMeshName.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="serviceMeshName.errors?.pattern">
        {{
          (namePattern.tip | translate) + ',' + ('max_length_32' | translate)
        }}
      </div>

      <div *ngIf="data" auiFormItemControl required>
        {{ serviceMeshModel.metadata.name }}
      </div>
    </aui-form-item>
    <!-- display name -->
    <aui-form-item>
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        type="text"
        name="display-name"
        [(ngModel)]="serviceMeshModel.metadata.annotations.displayName"
      />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
      <aui-select
        auiFormItemControl
        *ngIf="!data"
        name="cluster"
        required
        aloClusterBaseDeploymentValidate
        [(ngModel)]="serviceMeshModel.spec.cluster"
        (ngModelChange)="getDefaultParams(serviceMeshModel.spec.cluster)"
      >
        <aui-option
          *ngFor="let item of clusters$ | async"
          [label]="item | aclName"
          [value]="item | aclName"
          [disabled]="(existCluster$ | async).includes(item | aclName)"
          [auiTooltip]="'existed' | translate"
          auiTooltipPosition="top start"
          [auiTooltipDisabled]="
            !(existCluster$ | async).includes(item | aclName)
          "
        >
          {{ item | aclName }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <div
        auiFormItemError
        *ngIf="!data && form.controls.cluster?.errors?.required"
      >
        {{ 'required' | translate }}
      </div>

      <div
        auiFormItemError
        *ngIf="!data && form.controls.cluster?.errors?.clusterBaseDeploy"
      >
        {{ 'cluster_base_deployment_tip' | translate }}
      </div>

      <div
        auiFormItemError
        *ngIf="!data && form.controls.cluster?.errors?.notDeployedPrometheus"
      >
        {{ 'not_deployed_prometheus_tip' | translate }}
      </div>

      <div *ngIf="data" auiFormItemControl required>
        {{ serviceMeshModel.spec.cluster }}
      </div>
    </aui-form-item>
  </aui-card>

  <aui-card>
    <div auiCardHeader>
      {{ 'parameter_configuration' | translate }}
    </div>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'cluster_node_ips' | translate }}
      </label>
      <aui-tags-input
        auiFormItemControl
        name="node-ips"
        #nodeIps="ngModel"
        aui-input
        required
        [placeholder]="'tags_input_placeholder' | translate"
        [(ngModel)]="serviceMeshModel.spec.clusterNodeIps"
        aloIpAddressValidate
      ></aui-tags-input>
      <div auiFormItemError *ngIf="nodeIps.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="nodeIps.errors?.ipAddress">
        {{ 'regexp_tip_ip_address' | translate }}
      </div>
      <aui-icon
        auiFormItemAddon
        class="question-icon"
        icon="basic:question"
        [auiTooltip]="'cluster_node_ips_question' | translate"
        auiTooltipTrigger="hover"
      ></aui-icon>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'trace_sampling' | translate }}
      </label>
      <aui-input-group>
        <span auiInputAddonAfter>%</span>
        <input
          auiFormItemControl
          name="sampling"
          #traceSampling="ngModel"
          aui-input
          required
          [pattern]="traceSamplingReg.pattern"
          [(ngModel)]="serviceMeshModel.spec.traceSampling"
          [placeholder]="'tracesampling_range_tips' | translate"
        />
      </aui-input-group>
      <div auiFormItemError *ngIf="traceSampling.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="traceSampling.errors?.pattern">
        {{ 'tracesampling_range_tips' | translate }}
      </div>
      <aui-icon
        auiFormItemAddon
        class="question-icon"
        icon="basic:question"
        [auiTooltip]="'trace_sampling_question' | translate"
        auiTooltipTrigger="hover"
      ></aui-icon>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'ip_range' | translate }}
      </label>
      <aui-tags-input
        auiFormItemControl
        name="ip-range"
        #ipRange="ngModel"
        aui-input
        required
        [placeholder]="'tags_input_placeholder' | translate"
        [(ngModel)]="serviceMeshModel.spec.ipranges.ranges"
        aloIpRangeValidate
      ></aui-tags-input>
      <div auiFormItemError *ngIf="ipRange.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="ipRange.errors?.ipRange">
        {{ 'regexp_tip_ip_range' | translate }}
      </div>
      <div auiFormItemError *ngIf="ipRange.errors?.ipRangeCoexist">
        {{ 'ip_range_coexist_validator_tip' | translate }}
      </div>
      <div auiFormItemHint>
        {{
          'service_ip_range_tip'
            | translate
              : {
                  address: (default?.ipranges.ranges)[0] | aclFieldNotAvailable
                }
        }}
        <aui-icon
          *ngIf="(default?.ipranges.ranges)[0]"
          class="hint-icon"
          icon="basic:write_file"
          (click)="setIpRange((default?.ipranges.ranges)[0])"
        ></aui-icon>
      </div>
      <aui-icon
        auiFormItemAddon
        class="question-icon"
        icon="basic:question"
        [auiTooltip]="'ip_range_question_1' | translate"
        auiTooltipTrigger="hover"
      ></aui-icon>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'high_availability_components' | translate }}
      </label>
      <aui-switch
        name="switch"
        auiFormItemControl
        [(ngModel)]="serviceMeshModel.spec.highAvailability"
      ></aui-switch>

      <aui-icon
        auiFormItemAddon
        class="question-icon"
        icon="basic:question"
        [auiTooltip]="'highAvailability_tip' | translate"
        auiTooltipTrigger="hover"
      ></aui-icon>
    </aui-form-item>
  </aui-card>

  <aui-card>
    <div auiCardHeader>
      {{ 'access_component' | translate }}
    </div>
    <aui-section>
      <div auiSectionTitle class="section-title">
        {{ 'Elasticsearch' }}
        <aui-icon
          class="question-icon"
          icon="basic:question"
          [auiTooltip]="'elasticsearch_question_tip' | translate"
        ></aui-icon>
      </div>

      <aui-form-item>
        <aui-radio-group
          (ngModelChange)="changeEsType($event)"
          [(ngModel)]="serviceMeshModel.spec.elasticsearch.isDefault"
          name="system"
        >
          <aui-radio-button [value]="true">
            {{ 'system_default' | translate }}
          </aui-radio-button>
          <aui-radio-button [value]="false">
            {{ 'enter_manually' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          URL
        </label>
        <input
          auiFormItemControl
          name="esURL"
          #esURL="ngModel"
          aui-input
          required
          [readonly]="serviceMeshModel.spec.elasticsearch.isDefault === true"
          [placeholder]="'elasticsearch_url_placeholder' | translate"
          [(ngModel)]="serviceMeshModel.spec.elasticsearch.url"
          [pattern]="urlAddressReg.pattern"
        />
        <div auiFormItemError *ngIf="esURL.errors?.required">
          {{ 'required' | translate }}
        </div>
        <div auiFormItemError *ngIf="esURL.errors?.pattern">
          {{ 'regexp_tip_elasticsearch_addr' | translate }}
        </div>
      </aui-form-item>
      <ng-container
        *ngIf="serviceMeshModel.spec.elasticsearch.isDefault === false"
      >
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'username' | translate }}
          </label>
          <input
            auiFormItemControl
            name="username"
            aui-input
            #username="ngModel"
            [placeholder]="'elasticsearch_validation_placeholder' | translate"
            [(ngModel)]="serviceMeshModel.spec.elasticsearch.username"
            [pattern]="userPasswordReg.pattern"
          />
          <div auiFormItemError *ngIf="username.errors?.pattern">
            {{ userPasswordReg.tip | translate }}
          </div>
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'password' | translate }}
          </label>
          <aui-input-group>
            <input
              auiFormItemControl
              name="password"
              aui-input
              #password="ngModel"
              [placeholder]="'elasticsearch_validation_placeholder' | translate"
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="serviceMeshModel.spec.elasticsearch.password"
              [pattern]="userPasswordReg.pattern"
            />
            <a
              auiInputSuffix
              class="icon-style"
              href="javascript:void(0)"
              (click)="showPassword = !showPassword"
            >
              <aui-icon
                [icon]="showPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"
                size="16px"
              ></aui-icon>
            </a>
          </aui-input-group>
          <div auiFormItemError *ngIf="password.errors?.pattern">
            {{ userPasswordReg.tip | translate }}
          </div>
        </aui-form-item>
      </ng-container>
    </aui-section>

    <aui-section>
      <div auiSectionTitle class="section-title">{{ 'Prometheus' }}</div>
      <aui-form-item>
        <label auiFormItemLabel>
          URL
        </label>
        <input
          auiFormItemControl
          name="pURL"
          #prometheusURL="ngModel"
          aui-input
          required
          readonly
          [(ngModel)]="serviceMeshModel.spec.prometheusURL"
          [pattern]="urlAddressReg.pattern"
        />
        <div auiFormItemError *ngIf="prometheusURL.errors?.required">
          {{ 'required' | translate }}
        </div>
        <div auiFormItemError *ngIf="prometheusURL.errors?.pattern">
          {{ 'regexp_tip_Prometheus_addr' | translate }}
        </div>
      </aui-form-item>
    </aui-section>
  </aui-card>

  <div class="alo-mutate-page-bottom-buttons">
    <button
      type="button"
      aui-button="primary"
      [loading]="submitting"
      [disabled]="submitting"
      (click)="confirm()"
    >
      {{ (data ? 'update' : 'create') | translate }}
    </button>
    <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</form>
