<aui-dialog-header>
  {{ 'set_visibility' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <div class="confirm-body">
    <div class="info">
      {{ 'set_visibility_dialog_content' | translate }}
    </div>
    <div class="switch">
      {{ 'open_namespace' | translate }}:
      <aui-switch
        name="switch"
        [value]="isOpenNamespace"
        (valueChange)="switchValue()"
        [disabled]="loading"
        [loading]="loading"
      ></aui-switch>
    </div>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    [loading]="loading || submitting"
    aui-button="primary"
    (click)="confirm()"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button auiDialogClose="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
