<form [formGroup]="form">
  <alo-route-base-info-form
    [services]="data?.service"
    *ngIf="service"
    [hosts]="data?.host"
    [formControl]="form.get('metadata')"
  ></alo-route-base-info-form>
  <alo-route-rules
    [services]="service"
    *ngIf="service"
    [formControl]="form.get('spec')"
    [namespace]="namespace"
    [cluster]="cluster"
  ></alo-route-rules>
</form>
