<div class="alo-logo">
  <ng-container *ngIf="env?.LOGO_URL as logoUrl; else img">
    <a [href]="logoUrl">
      <img class="alo-logo__img" src="logos/logo.svg" alt="" />
    </a>
  </ng-container>
  <em></em>
  <span>Service Mesh</span>
  <acl-product-select current="console-asm"></acl-product-select>
</div>
<ng-template #img>
  <img class="alo-logo__img" src="logos/logo.svg" alt="" />
</ng-template>
