<svg *ngIf="service$ | async as service">
  <g *ngIf="service.dataSource.data?.length && show && service.legendMap.size">
    <line
      stroke="#999"
      stroke-width="1"
      [attr.x1]="pointerLine.x1"
      [attr.y1]="pointerLine.y1"
      [attr.x2]="pointerLine.x2"
      [attr.y2]="pointerLine.y2"
    ></line>
    <ng-container *ngFor="let item of flowCircle">
      <circle
        r="2"
        fill="#fff"
        stroke-width="1"
        *ngIf="service.legendMap.has(item.name)"
        [attr.stroke]="item.stroke"
        [attr.cx]="item.cx"
        [attr.cy]="item.cy"
      ></circle>
    </ng-container>

    <g [attr.transform]="tooltip.transform">
      <rect
        [attr.x]="0"
        [attr.y]="0"
        rx="2"
        ry="2"
        opacity="0.7"
        [attr.width]="tooltip.width"
        [attr.height]="tooltip.height"
        stroke="#030303"
        fill="#030303"
        stroke-linejoin="round"
        style="filter:url(#dropshadow)"
      ></rect>
      <text fill="#fff" font-size="12">
        <tspan x="16" dy="20">{{ tooltip.data?.date }}</tspan>
        <ng-container *ngFor="let item of tooltip.data?.text">
          <tspan [attr.x]="24" dy="20">
            {{ service.disabledTranslate ? item.key : (item.key | translate) }}:
            {{ item.value }}{{ unit }}
          </tspan>
        </ng-container>
        <tspan x="16" dy="20" *ngIf="tooltip.data?.error_rate">
          {{ tooltip.data?.error_rate }}
        </tspan>
      </text>

      <ng-container *ngFor="let item of tooltip.data?.text; let i = index">
        <circle
          cx="19"
          [attr.cy]="36 + 20 * i"
          r="3"
          [attr.fill]="item.fill"
          stroke="none"
        />
      </ng-container>
    </g>
  </g>

  <rect
    [attr.width]="service.areaSize.width"
    [attr.height]="service.areaSize.height"
    x="0"
    [attr.y]="basics.xLegendHeight"
    (mousemove)="onMouseMove($event)"
    (mouseover)="show = true"
    (mouseout)="show = false"
    fill="transparent"
  ></rect>
</svg>
