<ng-container *ngIf="ipRanges?.length > 0; else elseTag">
  <ng-container *ngFor="let ipRange of ipRanges | slice:0:3">
    <aui-tag type="info" size="mini">{{ ipRange }}</aui-tag>
  </ng-container>
  <ng-container *ngIf="ipRanges.length > 3">
    <aui-tag 
      type="info" 
      size="mini"
      [auiTooltip]="labels"
      auiTooltipType="info" 
    >...</aui-tag>
  </ng-container>
</ng-container>
<ng-template #elseTag>
  -
</ng-template>

<ng-template #labels>
  <div class="labels-container">
   <ng-container *ngFor="let ipRange of ipRanges">
    <aui-tag class="tag" type="info" size="mini">{{ ipRange }}</aui-tag>
   </ng-container>
  </div>
</ng-template>