@import 'mixins';
@import 'var';

:host {
  display: flex;
}

$nav-width: 260px;

.resource__nav {
  position: fixed;
  top: 112px;
  max-height: calc(100vh - 132px);
  width: $nav-width;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: $card-border-width $card-border-style $card-border-color;
  background-color: $color-white;
  font-size: $font-size-regular;

  &__header {
    margin-bottom: 16px;

    .title {
      font-size: $font-size-larger;
      margin-bottom: 12px;
    }
  }

  &__content {
    flex: 1;
    overflow: auto;
    @include scroll-bar;
  }
}
.resource__list {
  flex: 1;
  min-width: 60%;
  margin-left: $nav-width + 8px;
  aui-card {
    .aui-card__header {
      align-items: center;
      border-bottom: none;
    }
    ::ng-deep .aui-paginator {
      margin-top: 12px;
    }
  }
}

.category-list {
  list-style: none;

  .category-item {
    width: 100%;
    text-align: left;
    padding: 0 18px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: $color-text-main;
    background-color: $color-white;
    border-radius: 2px;
    position: relative;
    @include text-overflow;

    cursor: pointer;

    &.isActive,
    &:hover {
      color: $color-primary;
      background-color: #e6f5fc;
    }
  }
}

.category-expansion-panel {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 0;
  color: $color-text-help;
  font-size: 14px;
  cursor: pointer;
  span {
    margin-left: 2px;
  }
}
