<section class="resource__nav">
  <div class="resource__nav__header">
    <div class="title">{{ 'istio_resource' | translate }}</div>
    <aui-search
      [searchButton]="false"
      placeholder="{{ 'filter_by_name_placeholder' | translate }}"
      (search)="navSearch($event)"
      (keywordChange)="onChangeHandler($event)"
    ></aui-search>
  </div>

  <div *ngIf="!(navLoading$ | async)" class="resource__nav__content">
    <ng-container
      *ngIf="
        filteredCategory.namespaced?.length || filteredCategory.cluster?.length;
        else noResourceTemp
      "
    >
      <div
        class="category-expansion-panel"
        (click)="toggleExpand('namespaced')"
      >
        <aui-icon
          [icon]="expandedMap.namespaced ? 'angle_down' : 'angle_right'"
        ></aui-icon>
        <span>
          {{ 'namespace_correlated' | translate }}
          ({{ filteredCategory.namespaced?.length }})
        </span>
      </div>
      <ul class="category-list" [hidden]="!expandedMap.namespaced">
        <li
          *ngFor="let item of filteredCategory.namespaced"
          class="category-item"
          [class.isActive]="resourceType?.kind === item.kind"
          (click)="onResourceTypeChange(item)"
        >
          {{ item.kind }}
        </li>
      </ul>
      <div class="category-expansion-panel" (click)="toggleExpand('cluster')">
        <aui-icon
          [icon]="expandedMap.cluster ? 'angle_down' : 'angle_right'"
        ></aui-icon>
        <span>
          {{ 'cluster_correlated' | translate }}
          ({{ filteredCategory.cluster?.length }})
        </span>
      </div>
      <ul class="category-list" [hidden]="!expandedMap.cluster">
        <li
          *ngFor="let item of filteredCategory.cluster"
          class="category-item"
          [class.isActive]="resourceType?.kind === item.kind"
          (click)="onResourceTypeChange(item)"
        >
          {{ item.kind }}
        </li>
      </ul>
    </ng-container>
    <ng-template #noResourceTemp>
      <div class="category-expansion-panel">
        <span>
          {{ 'no_istio_resource' | translate }}
        </span>
      </div>
    </ng-template>
  </div>
</section>
<section class="resource__list">
  <aui-card [divider]="false">
    <div fxLayout auiCardHeader>
      {{ resourceType?.kind }}
      <div fxFlex></div>
      <aui-search
        [searchButton]="true"
        [searching]="list.loading$ | async"
        [keyword]="keyword$ | async"
        placeholder="{{ 'search_by_name_placeholder' | translate }}"
        (search)="onSearch($event)"
      ></aui-search>
    </div>

    <aui-table auiSort [trackBy]="trackByFn" [dataSource]="list.items$">
      <ng-container *ngFor="let column of columnDefs">
        <ng-container [auiTableColumnDef]="column.name">
          <ng-container>
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ column.label | translate }}
            </aui-table-header-cell>
          </ng-container>
          <aui-table-cell *auiTableCellDef="let item">
            <ng-container [ngSwitch]="column.name">
              <div *ngSwitchCase="'name'">
                <a
                  href="javascript:;"
                  (click)="viewResource(item, yamlViewDialog)"
                  [auiTooltip]="item.metadata.name"
                  [auiTooltipPosition]="'top start'"
                >
                  {{ item | aclName }}
                </a>
              </div>

              <div *ngSwitchCase="'label'">
                <ng-container *ngIf="getLabelValue(item)">
                  <alo-tags-label [tags]="getLabelValue(item)"></alo-tags-label>
                </ng-container>
              </div>

              <div *ngSwitchCase="'creationTimestamp'">
                {{ item.metadata.creationTimestamp | aloTime }}
              </div>
            </ng-container>
          </aui-table-cell>
        </ng-container>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
    <alo-resource-list-footer [list]="list"></alo-resource-list-footer>
  </aui-card>
</section>

<ng-template #yamlViewDialog let-data>
  <aui-dialog-header>
    {{ data?.name }} {{ 'detail' | translate }}
  </aui-dialog-header>

  <aui-dialog-content>
    <aui-code-editor
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yamlInputValue"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
