<acl-page-state [adapter]="dataLoader">
  <ng-template let-resource>
    <ng-container *aloPageHeaderContent>
      <alo-breadcrumb>
        <ng-template aloBreadcrumbItem>
          <span>
            <a href="javascript:void(0)" [routerLink]="['../']">
              {{ 'nav_servicemesh' | translate }}
            </a>
          </span>
        </ng-template>
        <ng-template aloBreadcrumbItem>
          <span>
            {{ (params$ | async)?.name }}
          </span>
        </ng-template>
      </alo-breadcrumb>
    </ng-container>

    <aui-tab-group type="card" lazy="true">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'nav_servicemesh' | translate }}
        </ng-container>
        <alo-service-mesh-info
          *auiTabContent
          [status]="status"
          [resource]="resource"
          [name]="(params$ | async)?.name"
          (triggerSuccessDeploy)="triggerSuccessDeploy()"
        ></alo-service-mesh-info>
      </aui-tab>

      <aui-tab [disabled]="disable">
        <ng-container *auiTabLabel>
          <div
            [auiTooltipDisabled]="!disable"
            [auiTooltip]="'deployment_failed_tab_disable_tip' | translate"
          >
            {{ 'nav_health_check' | translate }}
          </div>
        </ng-container>
        <div class="health" *auiTabContent>
          <alo-health-check
            [cluster]="resource?.serviceMesh | pure: getCluster"
          ></alo-health-check>
        </div>
      </aui-tab>

      <aui-tab [disabled]="disable">
        <ng-container *auiTabLabel>
          <div
            [auiTooltipDisabled]="!disable"
            [auiTooltip]="'deployment_failed_tab_disable_tip' | translate"
          >
            {{ 'nav_istio_monitor' | translate }}
          </div>
        </ng-container>
        <alo-grafana
          *auiTabContent
          [cluster]="resource?.serviceMesh | pure: getCluster"
        ></alo-grafana>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
