:host {
  height: 100%;
  .health {
    padding: 15px 16px 15px 15px;
  }
  ::ng-deep {
    .aui-tab-group {
      background-color: white;
    }
    .aui-tab-group,
    .aui-tab-group__body-wrapper,
    .aui-tab-body,
    .aui-tab-body__content {
      height: 100%;
    }
  }
}
