@import 'var';
:host {
  display: flex;
  aui-icon {
    cursor: pointer;
  }
  .log-icon {
    color: $color-primary;
  }
}

.chart-list {
  border: 1px solid #ddd;
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
  .chart {
    .text {
      padding-left: 8px;
    }

    padding: 4px 0;
    .error-message {
      white-space: pre-line;
      padding: 2px 18px 0 28px;
    }
  }
}
