<div>
  <alo-status-icon [status]="getServiceMeshStatus(status)"></alo-status-icon>
  {{ status | pure: getStatusText | translate }}
  <aui-icon
    class="log-icon"
    icon="basic:log"
    (click)="openLogDialog()"
  ></aui-icon>
</div>

<ng-template #logDialog>
  <aui-dialog-header>
    {{ 'deployment_status_dialog_title' | translate: { name: name } }}
  </aui-dialog-header>
  <aui-dialog-content>
    <div class="chart-list">
      <div *ngFor="let chart of chartList" class="chart">
        <alo-status-icon
          [status]="status[chart].status | lowercase | pure: getStatus"
        ></alo-status-icon>
        <span class="text">
          {{ chart }} :
          {{ status[chart].status | pure: getStatusTranslate | translate }}
        </span>
        <div
          *ngIf="status[chart].error_message"
          class="error-message"
          [innerHTML]="status[chart].error_message"
        ></div>
      </div>
    </div>
  </aui-dialog-content>
</ng-template>
