<ng-container *ngIf="!grafanaUrlGetError; else grafanaUrlError">
  <ng-container *ngIf="!iframeInitialized">
    <div class="loading-card">
      <alo-no-data mode="card" [loading]="!iframeInitialized"></alo-no-data>
    </div>
  </ng-container>
</ng-container>
<iframe
  #grafanaUI
  title="grafana"
  (load)="iframeLoaded()"
  [src]="grafanaUrl$ | async"
  [hidden]="grafanaUrlGetError || !iframeInitialized"
></iframe>
<ng-template #grafanaUrlError>
  <div class="error-card">
    <alo-no-data mode="card" [error]="grafanaUrlGetError"></alo-no-data>
  </div>
</ng-template>
