:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  .loading-card,
  .error-card {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    color: #666;
    background-color: white;
  }
  iframe {
    flex: 1;
    border: 0;
  }
}
