<div class="baseInfo">
  <header>
    {{ data?.name }}
    <div fxFlex></div>
    <acl-disabled-container [isAllowed]="permissions.update">
      <button
        aui-button="primary"
        [plain]="state"
        (click)="triggerAction('switch')"
      >
        <aui-icon [icon]="dialogText.icon" margin="left"></aui-icon>
        {{ dialogText.buttonTitle | translate }}
      </button>
    </acl-disabled-container>

    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>

    <aui-menu #menu>
      <acl-disabled-container
        tooltipPosition="start"
        [isAllowed]="permissions.update"
        [isDisabled]="!store.routeCreatePermission.protocol"
        [tooltip]="'not_allowed_create_route_tip' | translate"
      >
        <aui-menu-item (click)="triggerAction('update')">
          {{ 'update' | translate }}
        </aui-menu-item>
      </acl-disabled-container>

      <acl-disabled-container
        tooltipPosition="start"
        [isAllowed]="permissions.delete"
      >
        <aui-menu-item (click)="triggerAction('delete')" type="danger">
          {{ 'delete' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
    </aui-menu>
  </header>
  <div class="alo-detail">
    <div class="alo-detail__row">
      <div class="alo-detail__field">
        <label>{{ 'display_name' | translate }}</label>
        <span>{{ displayName }}</span>
      </div>
      <div class="alo-detail__field">
        <label>{{ 'status' | translate }}</label>
        <span>
          <alo-status-icon
            [status]="state ? 'success' : 'stopped'"
          ></alo-status-icon>
          {{ getStatus() }}
        </span>
      </div>
    </div>

    <div class="alo-detail__row">
      <div class="alo-detail__field">
        <label>{{ 'effective_status' | translate }}</label>
        <span>
          <ng-container *ngIf="state; else tagTemplate">
            <aui-tag
              size="mini"
              [type]="effective ? 'success' : 'error'"
              [auiTooltip]="'ineffective_tip' | translate"
              [auiTooltipDisabled]="effective"
            >
              {{ (effective ? 'effective' : 'ineffective') | translate }}
            </aui-tag>
          </ng-container>
          <ng-template #tagTemplate>
            -
          </ng-template>
        </span>
      </div>
      <div class="alo-detail__field">
        <label>{{ 'create_by' | translate }}</label>
        <span>{{ creator }}</span>
      </div>
    </div>

    <div class="alo-detail__row">
      <div class="alo-detail__field" *ngIf="!store.gatewayInfo.name">
        <label>
          {{ 'route_entry' | translate }}
        </label>
        <span>{{ hosts }}</span>
      </div>

      <div class="alo-detail__field">
        <label>{{ 'create_at' | translate }}</label>
        <span>{{ data.creationTimestamp | aloTime }}</span>
      </div>
    </div>
  </div>
</div>
