@import 'var';
:host {
  .baseInfo {
    header {
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid $card-border-color;
      font-size: 16px;
    }

    padding: 4px 20px 20px 20px;
    border-bottom: 1px solid $card-border-color;
    border-radius: 0;
    background-color: $color-white;
    font-size: 14px;
  }
}
