<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a href="javascript:void(0)" [routerLink]="['../']">{{
        'nav_servicemesh' | translate
      }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'create_service_mesh' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<alo-servicemesh-form></alo-servicemesh-form>
