<ng-content select="alo-legend"></ng-content>
<div
  id="chart"
  aloResize
  [style.height]="height + 'px'"
  (resized)="onResized($event)"
>
  <svg width="100%" height="100%">
    <g [attr.transform]="transform">
      <defs>
        <!-- stop-color 值必须是常量，变量会无法生效 -->
        <!-- 优先级： 后面生成的会盖在前面的 -->
        <linearGradient
          *ngFor="let item of options"
          [attr.id]="item.field"
          gradientTransform="rotate(90)"
        >
          <stop
            offset="100%"
            [attr.stop-color]="item.stroke.stop"
            [attr.stop-opacity]="
              item.stroke.opacity === undefined ? 0.8 : item.stroke.opacity
            "
          />
          <stop
            offset="100%"
            [attr.stop-color]="item.stroke.stop"
            stop-opacity="0"
          />
        </linearGradient>

        <filter id="dropshadow" height="130%">
          <feGaussianBlur in="SourceAlpha" stdDeviation="2" />
          <!-- stdDeviation is how much to blur -->
          <feOffset dx="0" dy="0" result="offsetblur" />
          <!-- how much to offset -->
          <feComponentTransfer>
            <feFuncA type="linear" slope="0.5" />
            <!-- slope is the opacity of the shadow -->
          </feComponentTransfer>
          <feMerge>
            <feMergeNode />
            <!-- this contains the offset blurred image -->
            <feMergeNode in="SourceGraphic" />
            <!-- this contains the element that the filter is applied to -->
          </feMerge>
        </filter>
      </defs>
      <ng-content></ng-content>

      <g *ngIf="options.length === service.disabledLegend.length">
        <text opacity="0.3" font-size="12">
          <tspan
            [attr.x]="service.areaSize?.width / 2 - 7"
            [attr.dy]="service.areaSize?.height / 2 + margin.bottom"
          >
            {{ 'no_data' | translate }}
          </tspan>
        </text>
      </g>
      <g
        *ngIf="
          !service.legendMap.size &&
          options.length !== service.disabledLegend.length
        "
      >
        <text opacity="0.3" font-size="12">
          <tspan
            [attr.x]="service.areaSize?.width / 2 - 42"
            [attr.dy]="service.areaSize?.height / 2 + margin.bottom"
          >
            {{ 'no_indicator_selected_tip' | translate }}
          </tspan>
        </text>
      </g>
    </g>
  </svg>
</div>
