.dot-label {
  display: flex;
  align-items: center;
  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #fff;
    &.inflow-rps {
      background-color: #009ce3;
    }
    &.outflow-rps {
      background-color: #8275cc;
    }
    &.inflow-error-rate {
      background-color: #dc6fc6;
    }
    &.outflow-error-rate {
      background-color: #eb6262;
    }
  }
}
.cursor-default {
  cursor: default !important;
}
.legend {
  overflow: hidden;
  color: #999;
  margin-bottom: 6px;
  &-container {
    display: flex;
  }
  &-span {
    display: flex;
    align-items: center;
    margin-right: 16px;
    &:first-child {
      margin-left: 35px;
    }

    cursor: pointer;
    &.disabled {
      opacity: 0.2;
    }
  }
  aui-icon {
    margin-right: 4px;
  }
  &-icon {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background: #000;
    margin-right: 4px;
    &.inflow-rps {
      background-color: #009ce3;
    }
    &.outflow-rps {
      background-color: #8275cc;
    }
    &.inflow-error-rate {
      background-color: #dc6fc6;
    }
    &.outflow-error-rate {
      background-color: #eb6262;
    }
  }
  &-group {
    display: flex;
    float: left;
    font-size: 12px;
    &:first-child {
      margin-right: 12px;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    margin-left: 6px;
    aui-icon {
      font-size: 10px;
      margin-right: 4px;
    }
  }
}
