<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a href="javascript:void(0)" [routerLink]="['../']">
        {{ 'project' | translate }}
      </a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>{{ name$ | async }}</span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<acl-page-state [adapter]="dataLoader">
  <ng-template let-resource>
    <aui-card>
      <div auiCardHeader>
        {{ name$ | async }}
      </div>
      <div class="alo-detail" *ngIf="resource">
        <div class="alo-detail__row">
          <div class="alo-detail__field">
            <label>{{ 'name' | translate }}</label>
            <span>{{ resource | aclName }}</span>
          </div>
          <div class="alo-detail__field">
            <label>{{ 'create_at' | translate }}</label>
            <span>{{ resource | aclCreationTimestamp | aloTime }}</span>
          </div>
        </div>

        <div class="alo-detail__row">
          <div class="alo-detail__field">
            <label>{{ 'display_name' | translate }}</label>
            <span>{{ resource | aclDisplayName | aclFieldNotAvailable }}</span>
          </div>
          <div class="alo-detail__field">
            <label>{{ 'update_at' | translate }}</label>
            <span>{{ resource | aclUpdatedAt | aloTime }}</span>
          </div>
        </div>

        <div class="alo-detail__row">
          <div class="alo-detail__field">
            <label>{{ 'associated_cluster' | translate }}</label>
            <alo-cluster-tags-label
              [tagList]="resource.spec.clusters | pure: clustersPure"
            ></alo-cluster-tags-label>
          </div>
          <div class="alo-detail__field">
            <label>{{ 'description' | translate }}</label>
            <span [title]="resource | aclDescription | aclFieldNotAvailable">
              {{ resource | aclDescription | aclFieldNotAvailable }}
            </span>
          </div>
        </div>
      </div>
    </aui-card>

    <aui-card>
      <div class="list-header">
        <div>{{ 'namespace' | translate }}</div>
        <div fxFlex></div>
        <div class="alo-search">
          <aui-search
            [keyword]="keywords$ | async"
            [placeholder]="'search_by_name_placeholder' | translate"
            [searchButton]="true"
            (search)="search($event)"
          ></aui-search>
        </div>
      </div>

      <alo-namespace-list
        *ngIf="resource?.spec.clusters | pure: clustersPure as clusters"
        [projectName]="name$ | async"
        [clusters]="clusters"
      ></alo-namespace-list>
    </aui-card>
  </ng-template>
</acl-page-state>
