<svg:g *ngFor="let line of lineMap | aloMapValues" class="line-graph">
  <path
    (click)="clickEvent.next($event)"
    (mousemove)="mouseMoveEvent.next([$event, line])"
    (mouseover)="mouseoverEvent.next($event)"
    (mouseout)="mouseoutEvent.next()"
    [attr.id]="line.id"
    [attr.d]="line.d"
    fill="none"
    [attr.marker-end]="line.marker"
    [attr.stroke]="color || config.lineStrokeColor[line.status]"
    [attr.opacity]="
      (opacityed$ | async) ? 1 : getStrokeOpacity(nodeStatus.has(line.id))
    "
    [attr.stroke-width]="getStrokeWidth(line.id)"
  ></path>
  <path
    (click)="clickEvent.next($event)"
    (mousemove)="mouseMoveEvent.next([$event, line])"
    (mouseover)="mouseoverEvent.next($event)"
    (mouseout)="mouseoutEvent.next()"
    [attr.id]="line.id"
    [attr.d]="line.d"
    fill="none"
    [attr.stroke]="config.lineStrokeColor.default"
    [attr.stroke-width]="15"
    [attr.opacity]="0"
  ></path>
  <ng-container
    *ngIf="
      scale >= 1 && !(line.label.texts[0] <= 0 && line.status === 'disable')
    "
  >
    <text
      filter="url(#text-solid)"
      (click)="clickEvent.next($event)"
      (mouseover)="mouseoverEvent.next($event)"
      (mouseout)="mouseoutEvent.next()"
      [attr.id]="line.label.id"
      text-anchor="middle"
      [attr.x]="
        !line.self ? line.textX : getBgAttr(line).x + config.lineTextDiff
      "
      [attr.y]="
        !line.self ? line.textY : getBgAttr(line).y + config.lineTextDiff
      "
      [attr.opacity]="
        (opacityed$ | async) ? 1 : getStrokeOpacity(nodeStatus.has(line.id))
      "
      [attr.fill]="config.lineTextColor[line.status]"
    >
      <!-- TODO: 删除 line rps -->
      <!-- <tspan
        [attr.font-size]="config.lineLabelFontSize">
        {{ line.label.texts[0] }}
        <ng-container *ngIf="line.status === 'warning' || line.status === 'error'">
          ,
        </ng-container>
      </tspan> -->
      <!-- <tspan
        *ngIf="line.status === 'warning' || line.status === 'error'"
        [attr.stroke]="config.lineStrokeColor[line.status]"
        [attr.font-size]="config.lineLabelFontSize"
      >
        {{ line.label.texts[1] }}
      </tspan> -->
    </text>
  </ng-container>
</svg:g>
