.routing-baseInfo {
  .baseInfo-foot {
    padding-left: 150px;
  }
  .pushBtn {
    margin-left: 10px;
  }
  .gateway-hint {
    color: #999;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
  }
  aui-tags-input {
    width: 100%;
  }
}
