<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
  class="routing-baseInfo"
>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'name' | translate }}
    </label>
    <ng-container *ngIf="!isUpdate; else updateName">
      <input
        auiFormItemControl
        aui-input
        required
        maxlength="32"
        [formControl]="form.get('name')"
        [pattern]="namePattern.pattern"
        [placeholder]="
          (namePattern.tip | translate) + ',' + ('max_length_32' | translate)
        "
      />
    </ng-container>
    <ng-template #updateName>
      <div auiFormItemControl required>{{ form.get('name').value }}</div>
    </ng-template>
    <div auiFormItemError *ngIf="form.get('name').errors?.pattern && !isUpdate">
      {{ (namePattern.tip | translate) + ',' + ('max_length_32' | translate) }}
    </div>

    <div
      auiFormItemError
      *ngIf="form.get('name').errors?.required && !isUpdate"
    >
      {{ 'required' | translate }}
    </div>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'display_name' | translate }}
    </label>
    <input
      auiFormItemControl
      aui-input
      [formControl]="form.get('annotations.displayName')"
    />
  </aui-form-item>
</form>
