<aui-dialog-header>
  {{ 'update_service_version_title' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="130px"
    [auiFormEmptyAddon]="true"
  >
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'display_name' | translate }}
      </label>
      {{ deployment.name }}
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel required>
        {{ 'version' | translate }}
      </label>
      <input
        auiFormItemControl
        name="version"
        aui-input
        required
        #version="ngModel"
        aloCannotBeAllValidator
        [detail]="data.detail"
        [deployment]="deployment"
        [(ngModel)]="deployment.version"
        [pattern]="subsetPattern.pattern"
        [placeholder]="subsetPattern.tip | translate"
        maxlength="52"
      />

      <div auiFormItemError *ngIf="version.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="version.errors?.pattern">
        {{ subsetPattern.tip | translate }}
      </div>
      <div auiFormItemError *ngIf="version.errors?.connotBeAll">
        {{ 'cannot_be_all' | translate }}
      </div>
      <div auiFormItemError *ngIf="version.errors?.sameVersion">
        {{ 'same_version_tip' | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="update()">
      {{ 'update' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
