:host {
  ::ng-deep {
    .aui-card {
      margin-top: 10px;
    }
    .aui-card__content {
      display: flex;
    }
  }
  .condition-add-btn-container {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    button {
      border: 1px solid;
    }
  }
}
