<alo-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  [rows]="form?.controls"
  [resourceName]="'condition_rule' | translate"
  hideDelete="true"
>
  <ng-container
    *aloArrayFormTableRow="let control; let index = index"
    [formGroup]="control"
  >
    <aui-card>
      <aui-section>
        <aui-form-item labelWidth="80px" [emptyAddon]="false">
          <label auiFormItemLabel>
            {{ 'condition_rule' | translate }}
          </label>
          <alo-condition-rule-form
            flex="1"
            [formControl]="control.get('values')"
            (blur)="onBlur()"
          ></alo-condition-rule-form>
        </aui-form-item>
      </aui-section>

      <acl-disabled-container
        *aloVar="let policyDisable; from: policyDisable(index)"
        [isAllowed]="true"
        [isDisabled]="
          policyDisable || (setup ? false : form?.controls.length === 1)
        "
        [tooltip]="
          policyDisable ? ('delete_policy_disable_tip' | translate) : ''
        "
      >
        <button
          aui-button="text"
          square="true"
          class="delete-btn"
          (click)="removeControl(index)"
        >
          <aui-icon icon="basic:trash"></aui-icon>
        </button>
      </acl-disabled-container>
    </aui-card>
  </ng-container>

  <ng-container
    *aloArrayFormTableRowControl="let control; let index = index"
  ></ng-container>
  <ng-container *aloArrayFormTableFooter>
    <div class="condition-add-btn-container">
      <div>
        <button aui-button="primary" [plain]="true" (click)="add(form.length)">
          {{ 'add_condition_rule' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
</alo-array-form-table>
