<aui-card
  *aloAsyncData="
    let data;
    let error = error;
    let loading = loading;
    handler: fetch;
    params: params$ | async;
    notification: refresh$
  "
>
  <div class="list-header">
    <button
      *ngIf="(permissions$ | async).create"
      aui-button="primary"
      (click)="create()"
    >
      {{ 'create_load_balancing' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search
      [keyword]="keywords$ | async"
      [placeholder]="'search_by_service_placeholder' | translate"
      [searchButton]="true"
      [searching]="loading"
      [disabled]="loading"
      (search)="search($event)"
    ></aui-search>
  </div>
  <div auiCardContent>
    <aui-table
      auiSort
      [dataSource]="data?.items"
      [active]="(sort$ | async)?.active"
      [direction]="(sort$ | async)?.direction"
      (sortChange)="sortChange($event)"
    >
      <ng-container auiTableColumnDef="host">
        <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
          {{ 'service' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <span class="service-name">{{ item.spec?.host }}</span>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="strategy">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'load_balancing_policy' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div>
            {{
              item.spec?.trafficPolicy?.loadBalancer
                | pure: strategyPure
                | translate
            }}
          </div>
          <div>
            <alo-load-balancing-detail
              [loadBalancer]="item | pure: loadBalancerPure"
            ></alo-load-balancing-detail>
          </div>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="create_by">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'create_by' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.metadata | pure: createByPure }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="creationTimestamp">
        <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
          {{ 'created_at' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.metadata?.creationTimestamp | aclRelativeTime }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <alo-menu-trigger
            *ngIf="
              (permissions$ | async).update || (permissions$ | async).delete
            "
            [menu]="actionsMenu"
            [context]="{ item: item }"
          ></alo-menu-trigger>
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
    <alo-no-data
      *ngIf="!data || !data.items?.length"
      [resourceName]="'load_balancing' | translate"
      [loading]="loading"
      [error]="error || (data && data.errors)"
      (retry)="refresh$.next()"
    ></alo-no-data>
  </div>
  <aui-paginator
    *ngIf="data?.items?.length"
    [total]="data?.total"
    [pageIndex]="(pageIndex$ | async) || 0"
    [pageSize]="(pageSize$ | async) || 10"
    (currentPageChange)="pageChanged('page', $event)"
    (pageSizeChange)="pageChanged('page_size', $event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>

<aui-menu #actionsMenu>
  <ng-template auiMenuContent let-item="item">
    <aui-menu-item (click)="update(item)" *ngIf="(permissions$ | async).update">
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item (click)="delete(item)" *ngIf="(permissions$ | async).delete">
      {{ 'delete' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
