@import 'mixins';
.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}
.service-name {
  width: 228px;
  @include text-overflow;

  font-size: 16px;
  font-weight: 500;
}
.aui-table {
  min-width: 0;
  &__column-action {
    max-width: 40px;
  }
}

aui-paginator {
  margin-top: 20px;
}
