<svg:g>
  <ng-container *ngFor="let dot of dots$ | async">
    <circle
      r="2"
      *ngIf="service.legendMap.has(dot.name)"
      [attr.stroke]="dot.stroke"
      stroke-width="1"
      fill="#fff"
      [attr.cx]="dot.cx"
      [attr.cy]="dot.cy"
    ></circle>
  </ng-container>
</svg:g>
