<aui-dialog-header>
  {{ 'release' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <aui-code-editor
    [actionsConfig]="editorActions"
    [options]="editorOptions"
    [(ngModel)]="yamlInputValue"
  ></aui-code-editor>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    (click)="release()"
  >
    {{ 'release' | translate }}
  </button>
  <button aui-button [auiDialogClose]="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
