<alo-breadcrumb *aloPageHeaderContent>
  <ng-template aloBreadcrumbItem>
    <span></span>
  </ng-template>
</alo-breadcrumb>
<div class="alo-error-page">
  <img src="icons/no-namespace.svg" alt=""/>
  <div class="alo-error-page__title">
    <ng-container>
      {{ 'no_namespace' | translate }}, {{ ('please_contact_admin') | translate }}
    </ng-container>
  </div>
</div>