<aui-page>
  <ng-container *auiPageHeader>
    <div class="header-left">
      <alo-logo></alo-logo>
      <div class="project-actions">
        <a
          [routerLink]="['/home/projects']"
          title="{{ 'go_namespace_list' | translate }}"
        >
          <aui-icon icon="basic:project_s" size="16px"></aui-icon>
        </a>
        <acl-project-select
          [selected]="projectName$ | async"
          (selectedChange)="projectSwitchHandle($event)"
        ></acl-project-select>
      </div>
    </div>
    <alo-global-actions></alo-global-actions>
  </ng-container>

  <div *auiPageSider>
    <ng-container
      *ngIf="{
        activatedKey: activatedKey$ | async,
        configs: configs$ | async | pure: filterEnabled | async,
        currentNamespace: currentNamespace$ | async
      } as context"
    >
      <ng-container *ngIf="context.configs as namespacedConfigs">
        <acl-namespace-select
          *ngIf="namespacedConfigs.length"
          [projectName]="projectName$ | async"
          [selected]="context.currentNamespace"
          (selectedChange)="namespaceSwitchHandle($event)"
        ></acl-namespace-select>
        <aui-platform-nav
          *ngIf="namespacedConfigs.length"
          [activatedKey]="context.activatedKey"
          [items]="namespacedConfigs"
          [hideMainPanelToggle]="true"
          (activatedItemChange)="
            handleActivatedNamespacedNavItemChange(
              $event,
              context.currentNamespace
            )
          "
        ></aui-platform-nav>
      </ng-container>
    </ng-container>
  </div>

  <div *auiPageToolbar>
    <ng-container
      *cdkPortalOutlet="pageHeaderContentTemplate$ | async"
    ></ng-container>
    <!-- <div class="global-loader" [class.loading]="showLoadingBar$ | async"></div> -->
  </div>

  <div *auiPageContent class="layout-page-content">
    <router-outlet></router-outlet>
  </div>
</aui-page>
