<div class="view">
  <div class="view-header">
    <div class="view-header-title">
      {{ 'partial_view' | translate }}: {{ selectedNode | pure: getTitle }}
    </div>
    <aui-icon icon="close" (click)="close()"></aui-icon>
  </div>
  <div class="view-content">
    <div
      class="partial-view"
      #graph
      [ngClass]="{ grabbing: grabState }"
      (resized)="onResized($event)"
    >
      <svg #svg id="topology-view" width="100%" height="100%">
        <g id="container" [aloZoomableOf]="svg" (zoomEnd)="zoomEnd()">
          <g id="graph">
            <!-- groups -->
            <svg:g
              *ngIf="groupMap.size > 0"
              alo-group-graph
              [groupMap]="groupMap"
              [currentIds]="currentIds"
            ></svg:g>

            <!-- lines -->
            <svg:g
              *ngIf="lineMap.size > 0"
              alo-line-graph
              [lineMap]="lineMap"
              [currentIds]="currentIds"
              [scale]="graphScale"
              (clickEvent)="lineClick($event)"
            ></svg:g>

            <!-- nodes -->
            <svg:g
              *ngIf="nodeMap.size > 0"
              alo-node-graph
              [nodeMap]="nodeMap"
              [currentIds]="currentIds"
              (clickEvent)="nodeClick($event)"
            ></svg:g>
          </g>
        </g>
      </svg>
      <!-- 因图上展示的错误率和右侧面板的错误率算法不一致暂先不展示线上的rps 和 错误率 -->
      <!-- <alo-tooltip [type]="lineTooltip.type" *ngIf="lineTooltip.show" [tipInfo]="lineTooltip"></alo-tooltip> -->
      <!-- <alo-tooltip
        [type]="nodeTooltip.type"
        *ngIf="nodeTooltip.show"
        [tipInfo]="nodeTooltip"
      ></alo-tooltip> -->
    </div>
    <alo-toolbar
      (resetEvent)="zoomReset()"
      (zoomInEvent)="zoomIn()"
      (zooOutEvent)="zoomOut()"
      (adaptionEvent)="adaption()"
      [graphScale]="graphScale"
    ></alo-toolbar>
  </div>
</div>
