@import 'var';
@import 'mixins';
.view {
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  padding: 20px;
  flex-direction: column;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    &-title {
      max-width: 100%;
      @include text-overflow;

      line-height: 28px;
      color: $color-text-main;
    }
    aui-icon {
      cursor: pointer;
      font-size: 14px;
      color: $color-text-help;
      &:hover {
        color: $color-primary;
      }
    }
  }
  &-content {
    flex: 1;
    position: relative;
    min-height: 80px;
    .partial-view {
      height: 100%;
      cursor: grab;
    }
    .grabbing {
      cursor: grabbing;
    }
    .line,
    .node {
      cursor: pointer;
    }
  }
}
