<acl-page-state [adapter]="dataLoader">
  <ng-template let-resource>
    <alo-route-form-container
      *ngIf="resource"
      [data]="resource"
    ></alo-route-form-container>
  </ng-template>
</acl-page-state>
