<aui-table [dataSource]="data || []">
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>

  <ng-container auiTableColumnDef="service">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ (isWorkload ? 'workload' : 'nav_microservice') | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      <div *ngIf="rowData?.destination.subset; else abnormalBlock">
        {{ rowData?.destination.host }}
      </div>
      <ng-template #abnormalBlock>
        <aui-icon
          class="abnormal"
          icon="info_circle_s"
          [auiTooltip]="'version_abnormal_tip' | translate"
          auiTooltipPosition="top"
        ></aui-icon>
        {{ 'workload_version_abnormal' | translate }}
      </ng-template>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="version">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'version' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      {{ rowData?.destination.subset }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="port">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'ports' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      {{ getPort(rowData) }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="weights">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'weights' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      {{ rowData?.weight + '%' }}
    </aui-table-cell>
  </ng-container>

  <!-- <ng-container auiTableColumnDef="weight_index">
          <aui-table-header-cell *auiTableHeaderCellDef>{{ 'weight_index'| translate }}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            {{rowData.weightIndex}}
          </aui-table-cell>
        </ng-container> -->
</aui-table>
<alo-no-data
  *ngIf="!data"
  [resourceName]="'weight_rule' | translate"
  [loading]="loading"
></alo-no-data>
