@import 'var';
:host {
  .status {
    &--success {
      fill: $color-success;
    }

    &--warning {
      fill: $color-warning;
    }

    &--error {
      fill: $color-error;
    }
    &--pending {
      fill: $color-primary;
    }
    &--unknown {
      fill: #e8e8e8;
    }
  }
  path {
    stroke: $color-white;
    stroke-width: 4px;
  }
  .value {
    font-size: 20px;
    font-weight: 600;
  }
  .hint {
    fill: $color-info;
  }
  .value-toolTip {
    position: absolute;
    opacity: 0.7;
    background-color: black;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    padding: 8px 16px;
  }
}
