<svg [attr.width]="size" [attr.height]="size">
  <ng-container *aloVar="let params; from: animatedChart$ | async">
    <ng-container *ngIf="params">
      <ng-container *ngFor="let param of params; trackBy: trackByFn">
        <path
          [ngClass]="'status--' + param.status"
          [attr.transform]="translate"
          [ngStyle]="{ fill: param.color }"
          [attr.d]="param.path"
          (mouseover)="mouseoverEvent($event, param.value)"
          (mouseout)="mouseoutEvent()"
        ></path>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="text">
    <text
      [attr.x]="size / 2"
      [attr.y]="size / 2 - (hint ? 10 : 0)"
      text-anchor="middle"
      dominant-baseline="middle"
      class="value"
    >
      {{ text }}
    </text>
  </ng-container>
  <ng-container *ngIf="hint">
    <text
      [attr.x]="size / 2"
      [attr.y]="size / 2 + 10"
      text-anchor="middle"
      dominant-baseline="middle"
      class="hint"
    >
      {{ hint }}
    </text>
  </ng-container>
</svg>

<div
  *ngIf="displayTooltip && !tipHidden"
  class=" value-toolTip"
  [style.left.px]="tipLocation.x"
  [style.top.px]="tipLocation.y"
>
  {{ tipValue }}
</div>
