@import 'var';
:host {
  flex: 1;
}
.version-ps {
  font-size: 12px;
  color: $color-text-help;
}
.deployment {
  ::ng-deep {
    .aui-option {
      height: auto !important;
      line-height: initial;
      padding: 8px 5px;
    }
  }
  div {
    color: $color-text-help;
    font-size: 12px !important;
  }
}
.question_icon {
  position: relative;
}

.add {
  flex: 1;
  button {
    width: 100%;
  }
  .text {
    display: flex;
    margin-top: 8px;
    &-tip {
      padding-left: 8px;
      font-size: 12px;
      color: $color-text-help;
    }
  }
}
