<alo-array-form-table
  [noRowSeparator]="true"
  [rows]="form?.controls"
  (add)="add(form.length)"
  [keepLastOne]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *aloArrayFormTableHeader>
    <th required>{{ 'workload' | translate }}</th>
    <th required>{{ 'version' | translate }}</th>
  </ng-container>

  <ng-container *aloArrayFormTableRow="let control" [formGroup]="control">
    <td
      [class.hasError]="
        control.get('name').touched && control.get('name').invalid
      "
    >
      <aui-select
        formControlName="name"
        [filterable]="true"
        [placeholder]="'workload_select_tip' | translate"
        (valueChange)="deployChanged(control)"
      >
        <ng-container
          *aloVar="
            let deployments;
            from: deployments$ | async | pure: sortDeployment
          "
        >
          <aui-option
            *ngFor="let item of deployments"
            [label]="item.deployment.name"
            [value]="item.deployment.name"
            class="deployment"
            [disabled]="item.disabled"
            [auiTooltip]="item.name"
            [auiTooltipDisabled]="!item.disabled"
          >
            {{ item.deployment.name }}
            <ng-container *ngIf="item.service.total; else elseTemplate">
              <div>
                {{
                  'service_length' | translate: { number: item.service.total }
                }}: {{ item.service.name }}
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div>{{ 'no_service_entrance' | translate }}</div>
            </ng-template>
          </aui-option>
        </ng-container>

        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>

    <td>
      <input
        aui-input
        [placeholder]="subsetPattern.tip | translate"
        [readonly]="getDisableControl(control)"
        (ngModelChange)="versionChange()"
        maxlength="52"
        formControlName="version"
      />
    </td>
  </ng-container>

  <ng-container *aloArrayFormTableRow="let control">
    <td
      colspan="3"
      class="version-ps"
      *ngIf="
        getDisableControl(control) &&
        !control.get('version').hasError('sameVersion') &&
        !control.get('version').hasError('sameVersionPodSelector')
      "
    >
      {{ 'version_ps_being_used_edit_tip' | translate }}
    </td>
  </ng-container>

  <ng-container *aloArrayFormTableRow="let control">
    <ng-container *aloVar="let messages; from: getValidateTip(control)">
      <td
        colspan="3"
        class="alo-table-form-error-hint"
        *ngIf="messages?.length"
      >
        <ng-container *ngFor="let item of messages; let i = index">
          <ng-container *ngIf="i >= 1">;</ng-container>
          {{ item.tip }}
        </ng-container>
      </td>
    </ng-container>
  </ng-container>

  <ng-container *aloArrayFormTableRowControl="let control; let index = index">
    <ng-container *ngIf="fillDeployments.length === 0; else elseTemplate">
      <aui-icon
        [class.delete-disabled]="form.controls.length === 1"
        icon="basic:minus_circle"
        (click)="
          form.controls.length === 1 ? return : removeControl(index, control)
        "
      ></aui-icon>
    </ng-container>
    <ng-template #elseTemplate>
      <aui-icon
        *ngIf="index >= fillDeployments.length"
        icon="basic:minus_circle"
        (click)="removeControl(index, control)"
      ></aui-icon>
      <aui-icon
        class="question_icon"
        *ngIf="index === 0"
        icon="basic:question"
        [auiTooltip]="'auto_fill_deploy_tip' | translate"
        [style.top]="(fillDeployments.length - 1) * 20 + 'px'"
      ></aui-icon>
    </ng-template>
  </ng-container>

  <ng-container *aloArrayFormTableFooter>
    <div class="add">
      <button
        aui-button="primary"
        type="button"
        size="mini"
        [plain]="true"
        (click)="add()"
      >
        <aui-icon icon="basic:add_circle"></aui-icon>
        {{ 'add' | translate }}
      </button>
      <div class="text">
        <aui-icon size="16" icon="info_circle_s" color="#f8ac58"></aui-icon>
        <div class="text-tip">
          <p>
            {{
              'restart_microservice_tip'
                | translate: { type: (isCreate ? 'create' : 'add') | translate }
            }}
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</alo-array-form-table>
