<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>{{ 'nav_service_list' | translate }}</span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<aui-card [divider]="false">
  <div auiCardHeader>
    <acl-disabled-container [isAllowed]="creatable$ | async">
      <button aui-button="primary" [routerLink]="['./create']">
        {{ 'create_microservice' | translate }}
      </button>
    </acl-disabled-container>

    <div fxFlex></div>
    <aui-search
      [keyword]="keywords$ | async"
      [placeholder]="'search_by_name_placeholder' | translate"
      [searchButton]="true"
      [searching]="list.loading$ | async"
      (search)="search($event)"
    ></aui-search>
  </div>

  <div auiCardContent>
    <alo-service-list-table
      [data]="list.items$ | async"
      [deleted]="deleted$ | async"
      [cluster]="cluster"
      (reload)="list.reload()"
    ></alo-service-list-table>
    <alo-resource-list-footer
      [resourceName]="'nav_microservice' | translate"
      [list]="list"
    ></alo-resource-list-footer>
  </div>
</aui-card>
