<aui-dialog-header>
  {{ 'add_service_version' | translate }}
  <aui-icon
    class="question-icon"
    icon="basic:question"
    [auiTooltip]="addVersionTip"
  ></aui-icon>
  <ng-template #addVersionTip>
    <p>{{ 'add_service_version_tip' | translate }}</p>
    <p>{{ 'add_service_version_tip_two' | translate }}</p>
  </ng-template>
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm">
    <alo-service-version-form
      name="versionForm"
      [(ngModel)]="module"
      [fillDeployments]="fillDeployments"
      [submitted]="form.submitted"
      *ngIf="fillDeployments"
    ></alo-service-version-form>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ 'add' | translate }}
  </button>
  <button aui-button [auiDialogClose]="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
