<div class="graph">
  <header>
    <span>
      <aui-icon icon="basic:node_service"></aui-icon>
      {{ 'service_entrance' | translate }}
    </span>
    <span>
      <aui-icon icon="basic:node_workload"></aui-icon>
      {{ 'service_version' | translate }}
    </span>
  </header>
  <div *ngIf="!nodeMap.size" class="no-graph">{{ 'no_data' | translate }}</div>
  <div class="graph-body" #graph>
    <svg #svg id="topology" width="100%" height="100%">
      <alo-shape></alo-shape>
      <ng-container *ngFor="let name of markerColorNames">
        <marker
          [attr.id]="name"
          [attr.viewBox]="marker.viewBox"
          refX="0"
          [attr.refY]="marker.refY"
          orient="auto"
          markerUnits="userSpaceOnUse"
          [attr.markerWidth]="marker.width"
          [attr.markerHeight]="marker.height"
        >
          <path [attr.d]="marker.path" [attr.fill]="defaultColor"></path>
        </marker>
      </ng-container>
      <g id="container" [aloZoomableOf]="svg" aloNotZoom="true">
        <g id="graph">
          <svg:g
            *ngIf="lineMap.size > 0"
            alo-line-graph
            [color]="defaultColor"
            [lineMap]="lineMap"
            [currentIds]="currentIds"
            [scale]="graphScale"
            (mouseoverEvent)="lineMouseover($event)"
            (mouseoutEvent)="lineMouseout()"
            (mouseMoveEvent)="lineMouseMove($event)"
          ></svg:g>

          <svg:g
            *ngIf="nodeMap.size > 0"
            alo-node-graph
            [nodeMap]="nodeMap"
            [currentIds]="currentIds"
          ></svg:g>
        </g>
      </g>
    </svg>
    <alo-tooltip
      *ngIf="lineInfo.show"
      [type]="lineInfo.type"
      [tipInfo]="lineInfo"
    ></alo-tooltip>
  </div>
</div>
