@import 'var';
:host {
  ::ng-deep {
    .node_workload {
      path,
      use {
        cursor: default !important;
      }
    }
    .line-graph {
      cursor: default !important;
    }
    alo-tooltip {
      .toolTip {
        min-height: 50px;
        min-width: 120px;
        height: 50px;
      }
    }
  }
  .graph {
    width: 340px;
    height: 100%;
    header {
      span {
        margin-right: 15px;
      }
      aui-icon {
        color: $color-text-help;
      }
    }
    &-body {
      height: 100%;
    }
  }
  .no-graph {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $color-text-help;
  }
}
