<aui-dialog-header>
  {{ 'add_whitelist' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="150px">
    <alo-whitelist-container
      [params]="dialogData.params"
      [allowlist]="allowlist"
      [submitted]="form.submitted"
      [(ngModel)]="model"
      name="whitelistForm"
    ></alo-whitelist-container>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button
    [loading]="submitting"
    [disabled]="submitting"
    aui-button="primary"
    (click)="addWhitelist()"
  >
    {{ 'add' | translate }}
  </button>
  <button aui-button auiDialogClose="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
