<aui-table auiSort [dataSource]="data">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <a [routerLink]="['../', item.serviceMesh | aclName]">
        {{ item.serviceMesh | aclName }}
      </a>
      <br />
      <span class="display-name">
        {{ item.serviceMesh | aloDisplayName }}
      </span>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="cluster">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'cluster' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.serviceMesh.spec.cluster | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="status">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'status' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alo-servicemesh-status
        [name]="item.serviceMesh | aclName"
        [status]="item.status"
      ></alo-servicemesh-status>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="create_by">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'create_by' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.serviceMesh | aloCreator | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="created_at">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'created_at' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{
        item.serviceMesh
          | aclCreationTimestamp
          | aclRelativeTime
          | aclFieldNotAvailable
      }}
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
