<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span> {{ 'nav_jaeger' | translate }} </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<ng-container *ngIf="!iframeInitialized">
  <div class="loading-card">{{ 'loading' | translate }}</div>
</ng-container>
<ng-container>
  <iframe
    #jaegerUI
    title="jaeger"
    [src]="jaegerUrl$ | async"
    *ngIf="(jaegerUrl$ | async)"
  >
  </iframe>
</ng-container>
