:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: -20px;
  height: 100%;
  .loading-card {
    display: flex;
    height: 80px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    color: #666;
    background-color: white;
  }
  iframe {
    flex: 1;
    border: 0;
  }
}
