:host {
  width: 100%;
}

.chart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  &__title {
    font-size: 18px;
    color: #333;
  }
  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    .applications-select {
      margin-left: 20px;
    }
    .aui-button.range-switch {
      color: #999;
      line-height: 20px;
      font-size: 12px;
      &:disabled {
        color: #009ce3;
        background-color: #f2fafe;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: #f2fafe;
      }
    }
    .aui-button.redirect {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      ::ng-deep .aui-button__content {
        padding: 0;
        line-height: 14px;
      }
      color: #ccc;
      &:hover,
      &:focus,
      &:active {
        color: #009ce3;
      }
    }
  }
}

.chart-subtitle {
  color: #999;
  margin-bottom: 12px;
}

ul.report-container {
  list-style: none;
  margin: 20px 0px 0px 0px;
  padding: 0;
  .report-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &__icon {
      flex-shrink: 0;
      margin: 8px 8px 0px 0px;
    }
    &__content {
      flex: 1;
      max-width: 100%;
      border: solid 1px #eee;
    }
    &__body {
      padding: 6px 8px;
      line-height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__actions {
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      a:link {
        color: #ccc;
      }
      a:hover,
      a:focus,
      a:active {
        color: #009ce3;
      }
    }
    &__footer {
      padding: 3px 8px;
      line-height: 14px;
      font-size: 10px;
      color: #999;
      border-top: solid 1px #eee;
      background-color: #fafafa;
      display: flex;
      flex-direction: row;
    }
    &__space {
      flex-grow: 1;
      width: 30px;
    }
  }
}

.reports-no-data {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}
