<header>
  {{ service.name }}
  <div fxFlex></div>
  <button aui-button="default" [plain]="true" [auiDropdown]="menu">
    {{ 'action' | translate }}
    <aui-icon icon="angle_down" margin="left"></aui-icon>
  </button>
  <aui-menu #menu>
    <acl-disabled-container
      tooltipPosition="start"
      [isAllowed]="(servicePermissions$ | async).update"
    >
      <aui-menu-item (click)="openServiceDialog()">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>

    <acl-disabled-container
      tooltipPosition="start"
      [isAllowed]="(servicePermissions$ | async).delete"
    >
      <aui-menu-item (click)="openDeleteDialog()" type="danger">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </aui-menu>
</header>

<ng-container
  *aloAsyncData="
    let data;
    let loading = loading;
    handler: fetch;
    params: params$ | async;
    notification: refresh$
  "
>
  <aui-table [dataSource]="data">
    <ng-container auiTableColumnDef="protocol">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'protocol' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | pure: getNameProtocol | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="service_port">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'service_port' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.port | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="container_port">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'container_port' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.targetPort | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <alo-no-data
    [loading]="loading"
    *ngIf="!data?.length"
    [error]="error || (data && data.errors)"
    [resourceName]="'protocol' | translate"
  ></alo-no-data>
</ng-container>
