@import 'var';

.rule-explain {
  cursor: pointer;
  aui-icon {
    color: lightgray;
  }
  span {
    font-size: 14px;
    margin-left: 5px;
  }
}
.log-icon {
  color: $color-primary;
  cursor: pointer;
}
.display-explain {
  background-color: rgba(0, 110, 255, 0.1);
}
