<acl-page-state [adapter]="dataLoader">
  <ng-template let-resource>
    <ng-container>
      <ng-container *aloPageHeaderContent>
        <alo-breadcrumb>
          <ng-template aloBreadcrumbItem>
            <span>
              <a href="javascript:void(0)" [routerLink]="['../']">
                {{ 'nav_gray_release' | translate }}
              </a>
            </span>
          </ng-template>
          <ng-template aloBreadcrumbItem>
            <span>
              {{ name }}
            </span>
          </ng-template>
        </alo-breadcrumb>
      </ng-container>
    </ng-container>

    <acl-page-guard
      [allowed]="featGuardStatus$ | async"
      [reason]="reason.NotSupported"
    >
      <ng-container *aclPageGuardContent>
        <aui-card>
          <div auiCardHeader>
            {{ resource | aclName }}
            <div fxFlex></div>
            <button aui-button="default" [plain]="true" [auiDropdown]="menu">
              {{ 'action' | translate }}
              <aui-icon icon="angle_down" margin="left"></aui-icon>
            </button>
            <aui-menu #menu>
              <acl-disabled-container
                tooltipPosition="start"
                [isAllowed]="updated$ | async"
                [isDisabled]="!checkReleaseStatus(resource).enable"
                [tooltip]="checkReleaseStatus(resource).message | translate"
              >
                <aui-menu-item (click)="release(targetRefName)">
                  {{ 'release' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container
                tooltipPosition="start"
                [isAllowed]="updated$ | async"
                [isDisabled]="isReleasing(resource)"
                [tooltip]="'releasing_cant_update' | translate"
              >
                <aui-menu-item (click)="update()">
                  {{ 'update' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container
                tooltipPosition="start"
                [isAllowed]="deleted$ | async"
                [isDisabled]="isReleasing(resource)"
                [tooltip]="'releasing_cant_delete' | translate"
              >
                <aui-menu-item (click)="delete(resource)">
                  {{ 'delete' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
            </aui-menu>
          </div>
          <div class="alo-detail">
            <div class="alo-detail__row">
              <div class="alo-detail__field">
                <label>{{ 'release_task_name' | translate }}</label>
                <span>
                  {{ resource | aclName }}
                  <ng-container
                    *ngIf="resource.status?.phase === 'Initializing'"
                  >
                    <span
                      [auiTooltipDisabled]="!resource.status.conditions"
                      [auiTooltip]="
                        resource.status.conditions
                          ? resource.status.conditions[0].message
                          : ''
                      "
                    >
                      <alo-status-icon
                        [status]="
                          resource.status.conditions ? 'warning' : 'deploying'
                        "
                      ></alo-status-icon>
                      {{
                        (resource.status.conditions
                          ? 'initialize_abnormal'
                          : 'initializing'
                        ) | translate
                      }}
                    </span>
                  </ng-container>
                </span>
              </div>
            </div>
            <div class="alo-detail__row">
              <div class="alo-detail__field">
                <label>{{ 'display_name' | translate }}</label>
                <span>
                  {{ resource | aclDisplayName | aclFieldNotAvailable }}
                </span>
              </div>
            </div>
          </div>
        </aui-card>

        <aui-card>
          <div auiCardHeader>
            {{ 'service_version' | translate }}
            <div fxFlex></div>
            <div
              class="rule-explain"
              (click)="isDisplayServiceVersionExplain = true"
              [ngClass]="{ 'display-explain': isDisplayServiceVersionExplain }"
            >
              <aui-icon size="16" icon="info_circle_s"></aui-icon>
              <span>{{ 'view_service_version_explain' | translate }}</span>
            </div>
          </div>
          <aui-inline-alert
            *ngIf="isDisplayServiceVersionExplain"
            [closable]="true"
            (close)="isDisplayServiceVersionExplain = false"
          >
            <div>{{ 'service_version_explain' | translate }}</div>
          </aui-inline-alert>
          <div class="alo-detail">
            <ng-container
              *aloVar="let latestRecord; from: getLatestRecord(resource)"
            >
              <div class="alo-detail__row">
                <div class="alo-detail__field">
                  <label>{{ 'execute_id' | translate }}</label>
                  <span>
                    <a
                      *ngIf="latestRecord"
                      [routerLink]="['./', '#' + latestRecord.id]"
                    >
                      {{ '#' + latestRecord.id }}
                    </a>
                    <ng-container *ngIf="!latestRecord">-</ng-container>
                  </span>
                </div>
              </div>
              <div class="alo-detail__row">
                <div class="alo-detail__field">
                  <label>{{ 'status' | translate }}</label>
                  <span>
                    <ng-container *ngIf="latestRecord">
                      <alo-status-icon
                        [status]="
                          latestRecord.status | pure: getRecordStatusIcon
                        "
                      ></alo-status-icon>
                      {{
                        latestRecord.status
                          | pure: getRecordStatusText
                          | translate
                      }}
                      <aui-icon
                        *ngIf="latestRecord.status === 'Failed'"
                        class="log-icon"
                        icon="basic:log"
                        (click)="showLog(latestRecord.id, resource)"
                      ></aui-icon>
                    </ng-container>
                  </span>
                </div>
              </div>
            </ng-container>
            <div class="alo-detail__row">
              <div class="alo-detail__field">
                <label>{{ 'canary_version' | translate }}</label>
                <span>
                  {{ targetRefName }}
                  <alo-workload-status
                    [workloadStatus]="workload$ | async"
                    [inoperable]="true"
                    [isUpdateAllowed]="updated$ | async"
                  ></alo-workload-status>
                </span>
              </div>
              <div class="alo-detail__field">
                <label>{{ 'primary_version' | translate }}</label>
                <span>
                  {{ targetRefName + '-primary' }}
                  <alo-workload-status
                    [workloadStatus]="
                      resource.status?.phase === 'Initializing'
                        ? null
                        : (primaryWorkload$ | async)
                    "
                    (change)="updateReplicas($event)"
                    [isUpdateAllowed]="updated$ | async"
                  ></alo-workload-status>
                </span>
              </div>
            </div>
          </div>
        </aui-card>

        <aui-card>
          <div auiCardHeader>
            {{ 'release_rule' | translate }}
            <div fxFlex></div>
            <div
              class="rule-explain"
              [ngClass]="{ 'display-explain': isDisplayReleaseRuleExplain }"
              (click)="isDisplayReleaseRuleExplain = true"
            >
              <aui-icon size="16" icon="info_circle_s"></aui-icon>
              <span>{{ 'view_release_rule_explain' | translate }}</span>
            </div>
          </div>
          <aui-inline-alert
            *ngIf="isDisplayReleaseRuleExplain"
            [closable]="true"
            (close)="isDisplayReleaseRuleExplain = false"
          >
            <div>{{ 'release_rule_explain' | translate }}</div>
          </aui-inline-alert>
          <div class="alo-detail">
            <div class="alo-detail__row">
              <div class="alo-detail__field">
                <label>{{ 'gray_release_workload' | translate }}</label>
                <span>{{ targetRefName }}</span>
              </div>
            </div>
            <div class="alo-detail__row">
              <div class="alo-detail__field">
                <label>{{ 'release_type' | translate }}</label>
                <span>{{ 'canary_delivery' | translate }}</span>
              </div>
            </div>
          </div>
          <aui-section>
            <div auiSectionTitle class="section-title">
              {{ 'release_config' | translate }}
            </div>
            <div class="alo-detail__row">
              <div class="alo-detail__field">
                <label>{{ 'every_time_flow_increase' | translate }}</label>
                <span>{{ resource.spec.analysis.stepWeight }}%</span>
              </div>
              <div class="alo-detail__field">
                <label>{{ 'flow_increase_cycle' | translate }}</label>
                <span>{{ resource.spec.analysis.interval }}</span>
              </div>
            </div>
            <div class="alo-detail__row">
              <div class="alo-detail__field">
                <label>{{ 'roll_back_times' | translate }}</label>
                <span>{{ resource.spec.analysis.threshold }}</span>
              </div>
            </div>
          </aui-section>
          <aui-section>
            <div auiSectionTitle class="section-title">
              {{ 'roll_back_quota' | translate }}
            </div>
            <div class="alo-detail__row">
              <div class="alo-detail__field">
                <label>{{ 'min_successful_proportion' | translate }}</label>
                <span>
                  {{ resource.spec.metrics | pure: getRequestSuccessRate }}%
                </span>
              </div>
              <div class="alo-detail__field">
                <label>{{ 'max_response_time' | translate }}</label>
                <span>
                  {{ resource.spec.metrics | pure: getRequestDuration }} ms
                </span>
              </div>
            </div>
          </aui-section>
        </aui-card>

        <aui-card [divider]="false">
          <div auiCardHeader>
            {{ 'release_record' | translate }}
          </div>
          <aui-table auiSort [dataSource]="resource.spec?.records || []">
            <ng-container auiTableColumnDef="executeId">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'execute_id' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                <a [routerLink]="['./', '#' + item.id]">{{ '#' + item.id }}</a>
              </aui-table-cell>
            </ng-container>
            <ng-container auiTableColumnDef="status">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'release_status' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                <alo-status-icon
                  [status]="item.status | pure: getRecordStatusIcon"
                ></alo-status-icon>
                {{ item.status | pure: getRecordStatusText | translate }}
                <aui-icon
                  class="log-icon"
                  icon="basic:log"
                  (click)="showLog(item.id, resource)"
                ></aui-icon>
              </aui-table-cell>
            </ng-container>
            <ng-container auiTableColumnDef="created_at">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'start_at' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                {{ item.startTime | aloUnix | aclRelativeTime }}
              </aui-table-cell>
            </ng-container>
            <ng-container auiTableColumnDef="take_up_time">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'take_up_time' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                {{
                  item.endTime
                    ? getTimeRange(item.startTime, item.endTime)
                    : (item.startTime | aloUnix | aclRelativeTime)
                }}
              </aui-table-cell>
            </ng-container>
            <aui-table-header-row
              *auiTableHeaderRowDef="columns"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: columns"
            ></aui-table-row>
          </aui-table>
          <alo-no-data
            *ngIf="!resource.spec?.records"
            [resourceName]="'release_record' | translate"
          ></alo-no-data>
        </aui-card>
      </ng-container>
    </acl-page-guard>
  </ng-template>
</acl-page-state>
