<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>{{ 'nav_gray_release' | translate }}</span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<acl-page-guard
  [allowed]="featGuardStatus$ | async"
  [reason]="reason.NotSupported"
>
  <aui-card *aclPageGuardContent [divider]="false">
    <div auiCardHeader>
      <acl-disabled-container [isAllowed]="creatable$ | async">
        <button aui-button="primary" (click)="createGrayRelease()">
          {{ 'create_gray_release' | translate }}
        </button>
      </acl-disabled-container>

      <div fxFlex></div>
      <aui-search
        [keyword]="keywords$ | async"
        [placeholder]="'search_by_name_placeholder' | translate"
        [searchButton]="true"
        [searching]="list.loading$ | async"
        (search)="search($event)"
      ></aui-search>
    </div>

    <div auiCardContent>
      <alo-gray-release-table
        [data]="list.items$ | async"
        (reload)="list.reload()"
      ></alo-gray-release-table>
      <alo-resource-list-footer
        [resourceName]="'nav_gray_release' | translate"
        [list]="list"
      ></alo-resource-list-footer>
    </div>
  </aui-card>
</acl-page-guard>
