@import 'mixins';
.hidden {
  display: none !important;
}

.base-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -7px 0;
}

.alo-detail {
  &__group-header {
    border-top: dashed 1px #ccc;
    font-size: 16px;
    line-height: 22px;
    padding: 14px 0;
    font-weight: 500;
    margin-top: 16px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    & + & {
      margin-top: 12px;
    }
  }
  &__field {
    flex: 1;
    display: flex;
    min-width: 0;
    flex-direction: row;

    & + & {
      margin-left: 20px;
    }
    > label {
      flex-shrink: 0;
      padding-right: 8px;
      &:after {
        content: ':';
        padding: 0 0 0 2px;
      }
      + * {
        flex: 1;
        &:not(.full) {
          @include text-overflow;
        }
      }
    }
  }
}

.base-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 32px;
  > .field {
    flex: 1;
    flex-basis: 50%;
    > label {
      padding-right: 8px;
      &:after {
        content: ':';
        padding: 0 0 0 2px;
      }
    }
    &:not(.full) {
      @include text-overflow;
    }
    &.full {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      > label {
        white-space: nowrap;
      }
      > span {
        flex-grow: 1;
        word-break: break-all;
        padding-top: 4px;
        line-height: 24px;
      }
    }
    &.full-nowrap {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      > label {
        white-space: nowrap;
      }
      > span {
        flex-grow: 1;
        @include text-overflow;
      }
    }
  }
}

// Input should hide controls
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
aui-table {
  .highlight-name {
    font-size: 16px;
    font-weight: 500;
  }
  .display-name {
    color: $color-text-help;
    font-size: 12px;
  }
}

.question-icon {
  color: $color-text-help;
}
.tips-list {
  padding-left: 10px;
}
