:host {
  .multi-input {
    display: flex;
    width: 100%;
    > * {
      flex: 1;
    }
    .port-input {
      display: flex;
      flex-direction: row;
      flex: 0 0 auto;
      > * {
        width: 240px;
      }
      &:before {
        content: ':';
        margin: auto 8px;
        flex-shrink: 0;
      }
    }
  }
}
