<aui-card>
  <div auiCardHeader>
    {{ (data ? 'update_gateway' : 'create_gateway') | translate }}
  </div>

  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="150px"
    [auiFormEmptyAddon]="true"
    class="routing-baseInfo"
  >
    <aui-form-item *ngIf="!data; else readonlyName">
      <label auiFormItemLabel>
        {{ 'nav_microservice' | translate }}
      </label>
      <div auiFormItemControl required class="multi-input">
        <aui-select
          placeholder="{{ 'please_select_service' | translate }}"
          name="microserviceName"
          required
          #microserviceName="ngModel"
          [(ngModel)]="gatewayFormData.microservice.name"
          (ngModelChange)="handleMicroserviceChanged($event)"
          filterable
        >
          <aui-option
            class="image-option"
            *ngFor="let microservice of microservices$ | async"
            [value]="microservice | aclName"
          >
            {{ microservice | aclName }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_match_result' | translate }}
          </aui-option-placeholder>
        </aui-select>
        <div class="port-input">
          <ng-container *ngTemplateOutlet="portSelect"></ng-container>
        </div>
      </div>
      <div
        auiFormItemError
        *ngIf="
          microserviceName?.errors?.required ||
          microservicePort?.errors?.required
        "
      >
        {{ 'required' | translate }}
      </div>
      <div auiFormItemAddon>
        <aui-icon
          class="icon-question"
          icon="basic:question"
          [auiTooltip]="'microservice_port_tip' | translate"
        ></aui-icon>
      </div>
    </aui-form-item>

    <ng-template #readonlyName>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'nav_microservice' | translate }}
        </label>
        <div auiFormItemControl required class="multi-input">
          <input
            aui-input
            readonly
            name="microserviceName"
            #microserviceName="ngModel"
            [(ngModel)]="gatewayFormData.microservice.name"
          />
          <div class="port-input">
            <ng-container *ngTemplateOutlet="portSelect"></ng-container>
          </div>
        </div>
        <div auiFormItemError *ngIf="microservicePort?.errors?.required">
          {{ 'required' | translate }}
        </div>
      </aui-form-item>
    </ng-template>

    <ng-template #portSelect>
      <aui-select
        aui-input
        required
        placeholder="{{ 'ports' | translate }}"
        name="microservicePort"
        #microservicePort="ngModel"
        [(ngModel)]="gatewayFormData.microservice.port"
      >
        <aui-option *ngFor="let port of microServicePorts" [value]="port">
          {{ port }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </ng-template>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'name' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        required
        [readonly]="!!data"
        maxlength="32"
        name="gatewayName"
        #gatewayName="ngModel"
        [(ngModel)]="gatewayFormData.name"
        [pattern]="namePattern.pattern"
        aloAllNumericValidate
        [placeholder]="
          (namePattern.tip | translate) + ',' + ('max_length_32' | translate)
        "
      />
      <div auiFormItemError *ngIf="gatewayName.errors?.pattern">
        {{
          (namePattern.tip | translate) + ',' + ('max_length_32' | translate)
        }}
      </div>
      <div auiFormItemError *ngIf="gatewayName.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="gatewayName.errors?.allNumeric">
        {{ 'regexp_tip_all_numeric' | translate }}
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'display_name' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        name="displayName"
        #displayName="ngModel"
        [(ngModel)]="gatewayFormData.displayName"
      />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'gateway_entry' | translate }}
      </label>
      <div auiFormItemControl required class="multi-input">
        <aui-input-group>
          <span auiInputAddonBefore>http://</span>
          <input
            aui-input
            required
            name="host"
            [readonly]="!!data"
            #host="ngModel"
            placeholder="{{ 'please_input_domain' | translate }}"
            [aloGatewayHostValidate]="existedHost"
            [(ngModel)]="gatewayFormData.gatewayEntryHost"
          />
        </aui-input-group>
        <div class="port-input">
          <input
            aui-input
            readonly
            placeholder="{{ 'ports' | translate }}"
            name="port"
            #port="ngModel"
            [(ngModel)]="nodePort"
          />
        </div>
      </div>
      <div auiFormItemError *ngIf="host.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="host.errors?.hostExisted">
        {{ 'host_conflict' | translate }}
      </div>
    </aui-form-item>
  </form>

  <div class="alo-mutate-page-bottom-buttons">
    <button
      type="button"
      aui-button="primary"
      [loading]="submitting"
      [disabled]="submitting"
      (click)="confirm()"
    >
      {{ (data ? 'update' : 'create') | translate }}
    </button>
    <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-card>
