<div class="legend">
  <div
    class="legend-container"
    [ngStyle]="{ 'padding-left': basics.margin.left + 'px' }"
  >
    <ng-container *ngFor="let legend of legends">
      <div
        class="legend-span"
        [ngClass]="{
          disabled:
            !service.legendMap.has(legend.name) ||
            (disabledLegend$ | async)?.includes(legend.name),
          'cursor-default': (disabledLegend$ | async)?.includes(legend.name)
        }"
        [attr.title]="
          ((disabledLegend$ | async)?.includes(legend.name)
            ? 'no_data'
            : legend.title || legend.name
          ) | translate
        "
        (click)="switchLegend(legend.name)"
      >
        <ng-container *ngIf="legend.icon; else elseLegend">
          <aui-icon
            [color]="legend.color"
            [icon]="legend.icon"
            margin="left"
          ></aui-icon>
        </ng-container>

        <ng-template #elseLegend>
          <span
            class="legend-icon"
            [ngStyle]="{ 'background-color': legend.color }"
          ></span>
        </ng-template>

        {{ legend.title | translate }}
      </div>
    </ng-container>
  </div>
</div>
