<svg:g
  [attr.class]="node | pure: getNodeType"
  *ngFor="let node of nodeMap | aloMapValues"
  [attr.id]="'g-' + node.id"
>
  <path
    (click)="clickEvent.next($event)"
    (mousemove)="mouseMoveEvent.next($event)"
    (mouseover)="mouseoverEvent.next(node.id)"
    (mouseout)="mouseoutEvent.next()"
    [attr.id]="node.id"
    [attr.d]="node.path"
    fill="#fff"
  ></path>
  <use
    [attr.xlink:href]="
      '#' +
      (node | pure: getNodeType) +
      '-' +
      node.status +
      '-' +
      ((opacityed$ | async) ? 1 : getStrokeOpacity(nodeStatus.has(node.id)))
    "
    (click)="clickEvent.next($event)"
    (mousemove)="mouseMoveEvent.next($event)"
    (mouseover)="mouseoverEvent.next(node.id)"
    (mouseout)="mouseoutEvent.next()"
    [attr.id]="node.id"
    [attr.x]="node.position.x - 12"
    [attr.y]="node.position.y - 12"
    [ngStyle]="{
      stroke: config.nodeStrokeColor[node.status],
      'stroke-width': getStrokeWidth(node.id),
      'stroke-opacity':
        (opacityed$ | async) ? 1 : getStrokeOpacity(nodeStatus.has(node.id))
    }"
  />

  <line
    *ngIf="node.marker"
    [attr.x1]="node.position.x - 6"
    [attr.x2]="node.position.x - 6"
    [attr.y1]="node.position.y - 7"
    [attr.y2]="node.position.y - 7"
    fill="none"
    [attr.stroke]="config.nodeStrokeColor[node.status]"
    [attr.opacity]="
      (opacityed$ | async) ? 1 : getStrokeOpacity(nodeStatus.has(node.id))
    "
    [attr.marker-end]="node.marker"
  ></line>
  <text
    text-anchor="middle"
    [attr.x]="node.position.x"
    [attr.y]="
      node.position.y - (node.label.length + 1) * config.nodeLabelLineHeight - 2
    "
    [attr.opacity]="
      (opacityed$ | async) ? 1 : getStrokeOpacity(nodeStatus.has(node.id))
    "
    [attr.fill]="config.lineTextColor[node.status]"
    #textDom
  >
    <tspan
      *ngFor="let text of node.label; let i = index"
      [attr.x]="tspanOffsetX(node, i)"
      [attr.dy]="config.nodeLabelLineHeight"
    >
      {{ text }}
    </tspan>
  </text>
  <!-- 熔断 安全 图标 -->
  <ng-container *ngFor="let item of nodeTagConfig(node); let i = index">
    <use
      class="nodeTag"
      [attr.xlink:href]="
        '#' +
        item.type +
        '-' +
        node.status +
        '-' +
        ((opacityed$ | async) ? 1 : getStrokeOpacity(nodeStatus.has(node.id)))
      "
      [attr.x]="getTextOffsetX(textDom, node, i)"
      [attr.y]="item.y"
      [attr.width]="item.width"
    />
  </ng-container>
</svg:g>
