<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_resource_list' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-resource-management-list></alo-resource-management-list>
