<aui-dialog-header>
  {{ 'create_service_version_title' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="120px">
    <alo-create-service-version-container
      [baseWorkloads]="baseWorkloads"
      [displayInitContainerImages]="displayInitContainerImages"
      [tagMap]="tagMap"
      [params]="data.routeParams"
      [submitted]="form.submitted"
      [(ngModel)]="model"
      (baseWorkloadChanged)="baseWorkloadChanged($event)"
      name="createServiceVersionForm"
    ></alo-create-service-version-container>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="create()">
      {{ 'create' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
