@import 'var';
:host {
  form {
    margin-bottom: 56px;
  }
  .form-item-row {
    display: flex;
    aui-form-item {
      flex: 1;
    }
    aui-select,
    aui-input-group {
      width: 100%;
    }
    .unit {
      flex: 0 0 60px;
      ::ng-deep .aui-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
      }
    }
  }
  .rule-explain {
    cursor: pointer;
    aui-icon {
      color: lightgray;
    }
    span {
      font-size: 14px;
      margin-left: 5px;
    }
  }
}
