<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>
      {{ 'basic_info' | translate }}
    </div>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'release_task_name' | translate }}
      </label>
      <ng-container *ngIf="!readonly; else readonlyName">
        <input
          auiFormItemControl
          aui-input
          required
          [formControl]="form.get('metadata.name')"
          maxlength="32"
          [pattern]="namePattern.pattern"
          [placeholder]="
            (namePattern.tip | translate) + ',' + ('max_length_32' | translate)
          "
        />
      </ng-container>
      <ng-template #readonlyName>
        <span>{{ form.get('metadata.name').value }}</span>
      </ng-template>
      <div auiFormItemError *ngIf="form.get('metadata.name').errors?.pattern">
        {{
          (namePattern.tip | translate) + ',' + ('max_length_32' | translate)
        }}
      </div>
      <div auiFormItemError *ngIf="form.get('metadata.name').errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'display_name' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        [formControl]="form.get('metadata.annotations.displayName')"
      />
    </aui-form-item>
  </aui-card>

  <aui-card>
    <div auiCardHeader>
      {{ 'release_rule' | translate }}
      <div fxFlex></div>
      <div class="rule-explain" (click)="isDisplayExplain = true">
        <aui-icon size="16" icon="info_circle_s"></aui-icon>
        <span>{{ 'view_release_rule_explain' | translate }}</span>
      </div>
    </div>
    <ng-container *ngIf="isDisplayExplain">
      <aui-inline-alert [closable]="true" (close)="isDisplayExplain = false">
        <div>{{ 'release_rule_explain' | translate }}</div>
      </aui-inline-alert>
    </ng-container>
    <div class="form-item-row">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'gray_release_workload' | translate }}
        </label>
        <ng-container *ngIf="!readonly; else readonlyWorkload">
          <aui-select
            aui-input
            auiFormItemControl
            placeholder="{{ 'please_select_workload' | translate }}"
            name="workload"
            [formControl]="form.get('spec.targetRef.name')"
            required
            filterable
          >
            <aui-option
              class="image-option"
              *ngFor="let deployment of deployments$ | async"
              [value]="deployment | aclName"
              [disabled]="
                !!(deployment | aclLabel: 'canaryrefer':'servicemesh')
              "
              [auiTooltip]="'already_created_gray_release' | translate"
              auiTooltipPosition="top start"
              [auiTooltipDisabled]="
                !(deployment | aclLabel: 'canaryrefer':'servicemesh')
              "
            >
              {{ deployment | aclName }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_match_result' | translate }}
            </aui-option-placeholder>
          </aui-select>
        </ng-container>
        <ng-template #readonlyWorkload>
          <span>{{ form.get('spec.targetRef.name').value }}</span>
        </ng-template>
        <div
          auiFormItemError
          *ngIf="form.get('spec.targetRef.name').errors?.required"
        >
          {{ 'required' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item></aui-form-item>
    </div>

    <aui-section>
      <div auiSectionTitle class="section-title">
        {{ 'release_config' | translate }}
      </div>
      <div class="form-item-row">
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'every_time_flow_increase' | translate }}
          </label>
          <aui-input-group>
            <input
              auiFormItemControl
              aui-input
              required
              [formControl]="form.get('spec.analysis.stepWeight')"
            />
            <div auiInputAddonAfter>%</div>
          </aui-input-group>
          <div
            auiFormItemError
            *ngIf="form.get('spec.analysis.stepWeight').errors?.required"
          >
            {{ 'required' | translate }}
          </div>
          <div
            auiFormItemError
            *ngIf="form.get('spec.analysis.stepWeight').errors?.pattern"
          >
            {{ positivePercentagePattern.tip | translate }}
          </div>
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'flow_increase_cycle' | translate }}
          </label>
          <input
            aui-input
            auiFormItemControl
            required
            [formControl]="form.get('spec.analysis.interval')"
          />
          <aui-select
            class="unit"
            auiFormItemControl
            required
            [formControl]="form.get('spec.analysis.intervalUnit')"
          >
            <aui-option
              *ngFor="let unit of flowIncreaseCycleUnits"
              [label]="unit"
              [value]="unit"
            >
              {{ unit }}
            </aui-option>
          </aui-select>
          <div
            auiFormItemError
            *ngIf="form.get('spec.analysis.interval').errors?.required"
          >
            {{ 'required' | translate }}
          </div>
          <div
            auiFormItemError
            *ngIf="form.get('spec.analysis.interval').errors?.pattern"
          >
            {{ positiveIntPattern.tip | translate }}
          </div>
        </aui-form-item>
      </div>
      <div class="form-item-row">
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'roll_back_times' | translate }}
          </label>
          <input
            auiFormItemControl
            aui-input
            required
            [formControl]="form.get('spec.analysis.threshold')"
          />
          <div
            auiFormItemError
            *ngIf="form.get('spec.analysis.threshold').errors?.required"
          >
            {{ 'required' | translate }}
          </div>
          <div
            auiFormItemError
            *ngIf="form.get('spec.analysis.threshold').errors?.pattern"
          >
            {{ positiveIntPattern.tip | translate }}
          </div>
        </aui-form-item>
        <aui-form-item></aui-form-item>
      </div>
    </aui-section>
    <aui-section>
      <div auiSectionTitle class="section-title">
        {{ 'roll_back_quota' | translate }}
      </div>
      <div class="form-item-row">
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'min_successful_proportion' | translate }}
          </label>
          <aui-input-group>
            <input
              auiFormItemControl
              aui-input
              required
              [formControl]="form.get('spec.metrics.minRequestSuccessRate')"
            />
            <div auiInputAddonAfter>%</div>
          </aui-input-group>
          <div
            auiFormItemError
            *ngIf="
              form.get('spec.metrics.minRequestSuccessRate').errors?.required
            "
          >
            {{ 'required' | translate }}
          </div>
          <div
            auiFormItemError
            *ngIf="
              form.get('spec.metrics.minRequestSuccessRate').errors?.pattern
            "
          >
            {{ positivePercentagePattern.tip | translate }}
          </div>
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'max_response_time' | translate }}
          </label>
          <aui-input-group>
            <input
              auiFormItemControl
              aui-input
              required
              [formControl]="form.get('spec.metrics.maxRequestDuration')"
            />
            <div auiInputAddonAfter>ms</div>
          </aui-input-group>
          <div
            auiFormItemError
            *ngIf="form.get('spec.metrics.maxRequestDuration').errors?.required"
          >
            {{ 'required' | translate }}
          </div>
          <div
            auiFormItemError
            *ngIf="form.get('spec.metrics.maxRequestDuration').errors?.pattern"
          >
            {{ positiveIntPattern.tip | translate }}
          </div>
        </aui-form-item>
      </div>
    </aui-section>
  </aui-card>
</form>
