<alo-array-form-table
  class="ruleTable"
  [noRowSeparator]="true"
  (add)="add(form.length)"
  [rows]="form?.controls"
  [keepLastOne]="true"
  [resourceName]="'weight_rule' | translate"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (remove)="remove($event)"
>
  <ng-container *aloArrayFormTableHeader>
    <th style="width: 50%" required>{{ 'workload' | translate }}</th>
    <th style="width: 30%" required>{{ 'version' | translate }}</th>
    <th style="width: 20%" required>{{ 'weights' | translate }}</th>
  </ng-container>

  <ng-container
    *aloArrayFormTableRow="let control; let index = index"
    [formGroup]="control"
  >
    <td
      [class.hasError]="
        control.get('destination.host').touched &&
        control.get('destination.host').invalid
      "
    >
      <aui-select
        *ngIf="!isWeightRule"
        [formControl]="control.get('destination.host')"
        [placeholder]="'nav_microservice' | translate"
        [filterable]="true"
        (valueChange)="hostChanged(control)"
      >
        <aui-option
          *ngFor="let item of services"
          [label]="item.host"
          [value]="item.host"
        >
          {{ item.host }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>

      <input
        *ngIf="isWeightRule"
        auiFormItemControl
        aui-input
        required
        [formControl]="control.get('destination.host')"
      />
    </td>
    <td
      [class.hasError]="
        control.get('destination.subset').invalid &&
        control.get('destination.subset').touched
      "
    >
      <aui-select
        *ngIf="!isWeightRule"
        [formControl]="control.get('destination.subset')"
        [placeholder]="'version' | translate"
        [filterable]="true"
        (blur)="onBlur()"
      >
        <aui-option
          *ngIf="getVersion(control.get('destination.host').value).length > 0"
          value="all"
        >
          all
        </aui-option>
        <aui-option
          *ngFor="let item of getVersion(control.get('destination.host').value)"
          [label]="item.name"
          [value]="item.value"
        >
          {{ item.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>

      <input
        *ngIf="isWeightRule"
        auiFormItemControl
        aui-input
        required
        [formControl]="control.get('destination.subset')"
      />
    </td>

    <td
      [class.hasError]="
        control.get('weight').touched && control.get('weight').invalid
      "
    >
      <aui-input-group auiFormItemControl>
        <input
          (blur)="onBlur()"
          [placeholder]="'weights' | translate"
          [formControl]="control.get('weight')"
          aui-input
          [pattern]="positiveIntPattern.pattern"
        />
        <span auiInputAddonAfter>%</span>
      </aui-input-group>
    </td>
    <!-- 一开始的权重指数，暂时注释
    <td>
      {{ 
        getMathFloor(control,(((control.get('weight').value 
        / (weightTotal$ | async)) * 100)), 
        form.length === (index + 1) )
      }}
    </td> -->
  </ng-container>

  <ng-container *aloArrayFormTableRow="let control">
    <td
      colspan="5"
      class="alo-table-form-error-hint"
      *ngIf="
        control.get('destination.subset').touched &&
        control.get('destination.subset').hasError('versionConflict')
      "
    >
      {{ 'version_conflict_error' | translate }}
    </td>
  </ng-container>
  <ng-container *aloArrayFormTableRow="let control">
    <td
      colspan="5"
      class="alo-table-form-error-hint"
      *ngIf="
        control.get('destination.host').touched &&
        control.get('destination.host').hasError('hostConflict')
      "
    >
      {{ 'host_conflict_error' | translate }}
    </td>
  </ng-container>

  <ng-container *aloArrayFormTableRow="let control">
    <td
      colspan="5"
      class="alo-table-form-error-hint"
      *ngIf="
        control.get('weight').touched &&
        control.get('weight').hasError('workloadAbnormal')
      "
    >
      {{ 'current_workload_abnormal_tip' | translate }}
    </td>
  </ng-container>

  <ng-container *ngIf="store.serviceName && isRule">
    <ng-container *aloArrayFormTableRowControl></ng-container>
    <ng-container *aloArrayFormTableFooter></ng-container>
  </ng-container>
</alo-array-form-table>
<div class="weight-error-hint" *ngIf="form?.hasError('weightExceed')">
  {{ 'weight_exceed_max_value_error' | translate }}
</div>
