:host {
  flex: 1;
  .no_data {
    text-align: center;
    color: #999;
    font-size: 12px;
    padding: 5px 0;
  }
  .ruleTable {
    .hasError {
      ::ng-deep {
        .aui-input {
          border-color: #eb6262;
          text-decoration: line-through;
        }
      }
    }
    li {
      list-style: none;
    }
    .error {
      background: red;
    }
  }
  .weight-error-hint {
    color: #eb6262;
  }
}
