<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_service_topology' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<div class="topologyGraph">
  <aui-card class="topology">
    <div auiCardHeader>
      <div class="header">
        <div class="title">
          {{ 'service_topology' | translate }}
          <aui-icon
            class="question"
            icon="basic:question"
            [auiTooltip]="topologyTip"
          ></aui-icon>
        </div>
        <ng-template #topologyTip>
          <ul class="topologyTip">
            <li>
              <span>{{ 'topology_question_tip_one' | translate }}</span>
            </li>
            <li>
              <span>{{ 'topology_question_tip_two' | translate }}</span>
            </li>
            <li>
              <span>{{ 'prometheus_time_range_tip' | translate }}</span>
            </li>
          </ul>
        </ng-template>
        <!-- TODO: hide checkbox  -->
        <!-- <aui-checkbox
          [(ngModel)]="checkedService"
          (click)="$event.stopPropagation()"
          (ngModelChange)="checkboxed($event)"
        >
          Service
        </aui-checkbox> -->

        <div class="condition">
          <label>{{ 'time_range' | translate }}:</label>
          <alo-range-picker
            [defaultRange]="selectedDuration"
            [date]="calendarData"
            (broadcastTime)="broadcastTime($event)"
          ></alo-range-picker>
        </div>
      </div>
    </div>

    <div auiCardContent class="content">
      <div class="graph">
        <alo-topology-graph
          [data]="graphData$ | async"
          (select)="select($event)"
          (setStatus)="setStatus($event)"
          [injectService]="checkedService"
          (setLineParams)="setLineParams($event)"
        ></alo-topology-graph>
      </div>
    </div>
  </aui-card>

  <!-- stat -->
  <div class="drawer" *ngIf="!(closed$ | async)" [@drawer]>
    <div class="close-btn">
      <aui-icon icon="close" size="14" (click)="closedFn()"></aui-icon>
    </div>
    <aui-tab-group type="card" [(selectedIndex)]="tabSelectedIndex">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'traffic_information' | translate }}
        </ng-container>
        <div class="stat">
          <div class="statBody">
            <div class="statContainer">
              <div class="statBox">
                <div class="stat-head">
                  <span class="stat-head-title">
                    <ng-container *ngIf="service.length">
                      <svg
                        width="24"
                        height="24"
                        transform="translate(0,0) scale(0.7)"
                      >
                        <use
                          [attr.xlink:href]="
                            '#' +
                            (currentNode | pure: getNodeType) +
                            '-' +
                            nodeState +
                            '-1'
                          "
                          [ngStyle]="{
                            stroke: config.nodeStrokeColor[nodeState],
                            'stroke-width': config.activeNodeStrokeWidth
                          }"
                        />
                      </svg>
                      <span
                        class="service-name"
                        [auiTooltip]="
                          service + (version[0] ? ':' + version[0] : version[0])
                        "
                        auiTooltipPosition="top start"
                      >
                        {{ service
                        }}{{ version[0] ? ':' + version[0] : version[0] }}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="workloads.length">
                      <span
                        class="workload"
                        [auiTooltip]="
                          workloads[0] +
                          (version[0] ? ':' + version[0] : version[0])
                        "
                        auiTooltipPosition="top start"
                      >
                        {{ workloads[0]
                        }}{{ version[0] ? ':' + version[0] : version[0] }}
                      </span>
                      <aui-icon
                        icon="basic:arrow"
                        [color]="config.lineStrokeColor[nodeState]"
                        class="workload-link-icon"
                      ></aui-icon>
                      <span
                        class="workload"
                        [auiTooltip]="
                          workloads[1] +
                          (version[1] ? ':' + version[1] : version[1])
                        "
                        auiTooltipPosition="top start"
                      >
                        {{ workloads[1]
                        }}{{ version[1] ? ':' + version[1] : version[1] }}
                      </span>
                    </ng-container>
                  </span>
                </div>
                <div class="stat-chart">
                  <div class="stat-chart-container">
                    <div class="stat-info">
                      <div>
                        <label>{{ 'owning_microservices' | translate }}:</label>
                        <span>
                          <ng-container
                            *ngIf="
                              currentNode?.belong?.microservice;
                              else elseTemplate
                            "
                          >
                            <a (click)="jumpMicroservice()">
                              {{ currentNode?.belong?.microservice }}
                            </a>
                          </ng-container>
                          <ng-template #elseTemplate>-</ng-template>
                        </span>
                      </div>

                      <div>
                        <label>{{ 'traffic_details' | translate }}:</label>
                        <span>
                          <ng-container
                            *ngIf="
                              currentNode?.workload &&
                                currentNode?.workload !== 'unknown';
                              else elseTemplate
                            "
                          >
                            <a (click)="jumpTraffic(currentNode?.workload)">
                              {{ currentNode?.workload }}
                            </a>
                          </ng-container>
                          <ng-template #elseTemplate>-</ng-template>
                        </span>
                      </div>
                    </div>

                    <div class="stat-panel" *ngIf="inRequestStat$ | async">
                      <div class="stat-panel-title">
                        {{
                          (getChartType(type) ? 'flow' : 'inflow') | translate
                        }}
                      </div>
                      <alo-bar-status
                        [title]="
                          (getChartType(type) ? 'flow' : 'inflow') | translate
                        "
                        [data]="inRequestStat$ | async"
                      ></alo-bar-status>
                    </div>

                    <div class="stat-panel" *ngIf="outRequestStat$ | async">
                      <div class="stat-panel-title">
                        {{ 'outflow' | translate }}
                      </div>
                      <alo-bar-status
                        title="{{ 'outflow' | translate }}"
                        [data]="outRequestStat$ | async"
                      ></alo-bar-status>
                    </div>

                    <div class="stat-panel chart">
                      <div class="stat-panel-title">
                        <ng-container
                          *ngIf="
                            type === 'node' && nodeType !== 'service';
                            else lineTitleTempl
                          "
                        >
                          {{ 'incoming_rps' | translate }}
                          ({{ 'rps_unit' | translate }})
                        </ng-container>
                        <ng-template #lineTitleTempl>
                          {{ 'rps' | translate }}
                          ({{ 'rps_unit' | translate }})
                        </ng-template>
                      </div>
                      <div class="flow-chart">
                        <ng-container
                          *aloVar="
                            let result;
                            from: nodeType === 'service'
                              ? (metricsChart$ | async).rps
                              : (metricsChart$ | async).rps_in
                          "
                        >
                          <alo-chart
                            [height]="95"
                            [data]="result?.data"
                            [options]="result?.options"
                            [time]="result?.time"
                          >
                            <alo-legend></alo-legend>
                            <svg:g alo-line></svg:g>
                            <svg:g alo-axis></svg:g>
                            <svg:g alo-point></svg:g>
                            <svg:g alo-tooltip></svg:g>
                          </alo-chart>
                        </ng-container>
                      </div>
                    </div>

                    <div
                      class="stat-panel chart"
                      *ngIf="type !== 'line' && nodeType !== 'service'"
                    >
                      <div class="stat-panel-title">
                        <ng-container>
                          {{ 'outgoing_rps' | translate }}
                          ({{ 'rps_unit' | translate }})
                        </ng-container>
                      </div>
                      <div class="flow-chart">
                        <alo-chart
                          [height]="95"
                          [data]="(metricsChart$ | async)?.rps_out?.data"
                          [options]="(metricsChart$ | async).rps_out?.options"
                          [time]="(metricsChart$ | async).rps_out?.time"
                        >
                          <alo-legend></alo-legend>
                          <svg:g alo-line></svg:g>
                          <svg:g alo-axis></svg:g>
                          <svg:g alo-point></svg:g>
                          <svg:g alo-tooltip></svg:g>
                        </alo-chart>
                      </div>
                    </div>

                    <div class="stat-panel chart">
                      <div class="stat-panel-title">
                        <ng-container>
                          {{ 'response_time' | translate }}
                        </ng-container>
                        (ms)
                      </div>
                      <div class="flow-chart">
                        <alo-chart
                          [height]="115"
                          [data]="(metricsChart$ | async)?.response_time?.data"
                          [options]="
                            (metricsChart$ | async).response_time?.options
                          "
                          [time]="(metricsChart$ | async).response_time?.time"
                        >
                          <alo-legend></alo-legend>
                          <svg:g alo-line></svg:g>
                          <svg:g alo-axis></svg:g>
                          <svg:g alo-point></svg:g>
                          <svg:g alo-tooltip unit="ms"></svg:g>
                        </alo-chart>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aui-tab>
      <!-- <aui-tab  *ngIf="type === 'node'">
        <ng-container *auiTabLabel> {{ 'nav_traffic_policy' | translate }}</ng-container>
        <div class="stat" *ngIf="tabSelectedIndex === 1">
          <div class="statBody">
            <div class="statContainer">
              <alo-load-balancing-card
                [params]="loadBalancerParams"
              ></alo-load-balancing-card>
            </div>
          </div>
        </div>
      </aui-tab> -->
    </aui-tab-group>
  </div>
</div>
