@import 'var';
:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  .header {
    display: flex;
    flex-wrap: wrap;
    .title {
      line-height: 32px;
      margin-right: auto;
      font-size: 16px;
      .question {
        color: $color-text-help;
        &:hover {
          color: $color-primary;
        }
      }
    }
    .condition {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
  }
  ::ng-deep {
    aui-card {
      display: flex;
      flex: 1 1 auto;
      overflow: hidden;
      position: relative;
    }
    .aui-card {
      flex: 1;
    }
    .aui-card__content {
      padding-bottom: 60px;
      height: 100%;
    }
    .aui-tab-group__body-wrapper {
      height: 90%;
    }
    .aui-tab-body,
    .aui-tab-body__content,
    .aui-tab-group {
      height: 100%;
    }
  }
}
.content {
  display: flex;
  height: 100%;
}
.graph {
  flex: 1;
  position: relative;
  cursor: grab;
}
.topologyGraph {
  display: flex;
  flex: 1 1 auto;
  .drawer {
    background: #fff;
    width: 400px;
    margin-left: 4px;
    font-size: 12px;
    position: relative;
    .close-btn {
      position: absolute;
      cursor: pointer;
      right: 15px;
      top: 15px;
      z-index: 10;
      color: $color-text-help;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
.topologyTip {
  li {
    &:not(:first-child) {
      margin-top: 8px;
    }
    span {
      margin-left: -10px;
    }

    list-style-position: inside;
  }
}
.stat {
  position: relative;
  width: 400px;
  height: 100%;
  margin-left: 4px;
  font-size: 12px;
  .statBody {
    height: 100%;
    position: relative;
  }
  .statBox {
    padding: 0 0 20px 20px;
    height: 100%;
  }
  .statContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  &-chart {
    height: 100%;
    overflow: hidden;
    padding-bottom: 30px;
    &-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      padding-right: 20px;
    }
  }
  &-head {
    display: flex;
    margin-right: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ededed;
    aui-icon {
      font-size: 16px;
    }
    &-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex: 1;
      margin-right: auto;
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 24px;
      .service-icon {
        margin-right: 4px;
      }
      .service-name {
        width: 228px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .workload {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        background-color: #fafafa;
        padding: 0 4px;
      }
      .workload-link-icon {
        margin: 0 4px;
        font-size: 24px;
      }
    }
    &-tools {
      display: flex;
      align-items: center;
      color: #999;
      .jaeger {
        color: $color-primary;
      }
      aui-icon {
        margin-left: 8px;
        cursor: pointer;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  &-info {
    border-bottom: 1px solid #ededed;
    padding: 20px 0;
    font-size: 14px;
    div {
      line-height: 30px;
    }
    a {
      cursor: pointer;
    }
  }
  &-panel {
    margin-top: 10px;
    padding-top: 10px;
    &-title {
      margin-bottom: 6px;
      font-size: 16px;
    }
  }
}
