<div class="alo-detail">
  <div class="alo-detail__row">
    <div class="alo-detail__field">
      <label>{{ 'display_name' | translate }}</label>
      <span>{{ resource | aclDisplayName | aclFieldNotAvailable }}</span>
    </div>
    <div class="alo-detail__field">
      <label>{{ 'created_at' | translate }}</label>
      <span>
        {{ resource | aclCreationTimestamp | aclRelativeTime }}
      </span>
    </div>
  </div>

  <div class="alo-detail__row">
    <div class="alo-detail__field">
      <label>{{ 'create_by' | translate }}</label>
      <span>
        {{ resource | aclCreator | aclRelativeTime }}
      </span>
    </div>
    <div class="alo-detail__field">
      <label>{{ 'nav_microservice' | translate }}</label>
      <span>
        <a
          *ngIf="microServiceStatus === 'success'; else errorMs"
          href="javascript:void(0)"
          (click)="viewMicroservice.next(microService)"
        >
          {{ microService }}
        </a>
        <ng-template #errorMs>
          <span>
            {{ microService }}
          </span>
        </ng-template>
        ( {{ 'ports' | translate }} : {{ microServicePort }})
        <aui-tag
          *ngIf="microServiceStatus === 'error'"
          size="mini"
          type="error"
        >
          {{ 'not_found' | translate }}
        </aui-tag>
      </span>
    </div>
  </div>

  <div class="alo-detail__row">
    <div class="alo-detail__field">
      <label>
        {{ 'gateway_entry' | translate }}
      </label>
      <span>{{ entry }}</span>
    </div>
  </div>
</div>

<ng-container *ngIf="microServiceStatus === 'success'">
  <alo-service-gateway-advanced-info
    [gatewayHost]="host"
    [serviceName]="serviceName"
  ></alo-service-gateway-advanced-info>
</ng-container>
