@import 'var';
:host {
  .legendLabels {
    display: flex;
    align-items: center;
    padding-left: 32px;
    .container {
      &:not(:last-child) {
        margin-right: 8px;
      }
      ::ng-deep {
        .aui-radio-button {
          border-radius: 14px;
          background-color: $color-disabled-bg;
          color: $color-text-main;
          border: 1px solid $color-info;
          padding: 0 10px;
        }
        .aui-radio-button.isChecked:not(.isDisabled) {
          background-color: rgba(0, 110, 255, 0.1);
          color: $color-primary;
          border: solid 1px $color-primary;
        }
        .aui-radio-button.isDisabled {
          color: $color-info;
          border-color: $color-info;
          background-color: $color-disabled-bg;
        }
        .aui-radio-button__label {
          height: 20px;
          font-size: 12px;
        }
      }
    }
  }
  .comparison {
    padding-top: 18px;
    header {
      font-size: 16px;
    }
    .instances {
      .noInstances {
        font-size: 12px;
        color: $color-text-help;
      }

      padding: 16px;
      display: flex;
      flex-wrap: wrap;
      &-item {
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-basis: 300px;
        &:not(:last-child) {
          margin-right: 70px;
        }
        .label {
          display: flex;
          align-items: center;
          cursor: pointer;
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            border: 1px solid #ccc;
            aui-icon {
              color: white;
              font-size: 16px;
            }
          }
        }
        span {
          width: 12px;
          height: 12px;
          border-radius: 2px;
          display: inline-block;
        }
        .title {
          color: $color-text-main;
          padding: 0 8px;
        }
        label {
          color: $color-primary;
          cursor: pointer;
        }
      }
    }

    &-body {
      display: flex;
      min-width: 1015px;
    }
    &-context {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-width: 0;
    }
    &-title {
      margin-bottom: 12px;
      font-size: 16px;
    }
  }
}
