<!-- 实例流量对比 -->
<div class="comparison" *ngIf="tabSelectedIndex === 0">
  <header>
    {{
      (sidecar ? 'client_traffic_comparison' : 'instance_traffic_comparison')
        | translate
    }}
  </header>
  <!-- 实例列表 -->
  <div class="instances">
    <div *ngIf="!_instances || _instances?.length === 0" class="noInstances">
      {{ 'no_instances' | translate }}
    </div>

    <div
      class="instances-item"
      *ngFor="let item of pods$ | async; let i = index"
    >
      <div class="label" (click)="switchLegend(item.name)">
        <i
          class="aui-checkbox__pointer"
          [style.background-color]="
            legendValueMap.has(item.name) ? '#ffffff' : getChartDefaultColor(i)
          "
        >
          <aui-icon
            icon="check_s"
            [hidden]="legendValueMap.has(item.name)"
          ></aui-icon>
        </i>
        <div class="title">{{ item.name }}</div>
      </div>
      <label (click)="podDetail(item)">
        {{ (sidecar ? 'nav_jaeger' : 'details') | translate }}
      </label>
    </div>
  </div>

  <div class="comparison-body">
    <ng-container *aloVar="let data; from: chartData$ | async">
      <ng-container *ngFor="let key of modelKey | slice: 0:(sidecar ? 3 : 2)">
        <div class="comparison-context">
          <header class="comparison-title">
            {{ data[key]?.title | translate }}
            <ng-container *ngIf="data[key]?.unit">
              ({{ data[key]?.unit }})
            </ng-container>
          </header>

          <ng-container
            *ngTemplateOutlet="labelTmpl; context: data[key]"
          ></ng-container>
          <alo-chart
            [data]="data[key]?.data"
            [options]="data[key]?.options"
            [time]="data[key]?.time"
            [disabledTranslate]="true"
            [switchLegendValue]="legendValue"
            [disabledLegend]="disabledLegend"
          >
            <svg:g alo-axis [isPercent]="key === 'rps_err_ratio'"></svg:g>
            <ng-container *ngIf="_instances.length !== 0">
              <svg:g alo-line></svg:g>
              <svg:g alo-point></svg:g>
              <svg:g alo-tooltip></svg:g>
            </ng-container>
          </alo-chart>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #labelTmpl let-indicators="indicators" let-indicator="indicator">
  <div class="legendLabels">
    <aui-radio-group
      [size]="'mini'"
      [plain]="false"
      [(ngModel)]="indicator"
      (ngModelChange)="switchIndicator(indicator)"
    >
      <div class="container" *ngFor="let item of indicators">
        <aui-radio-button
          [value]="item.value"
          [disabled]="!instances || instances?.length === 0"
        >
          {{ item.name | translate }}
        </aui-radio-button>
      </div>
    </aui-radio-group>
  </div>
</ng-template>
