<acl-disabled-container [isAllowed]="allowedUpdate">
  <button aui-button="default" [plain]="true" [auiDropdown]="policyMenu">
    {{ 'create_route_policy' | translate }}
    <aui-icon icon="angle_down" margin="left"></aui-icon>
  </button>
</acl-disabled-container>

<aui-menu #policyMenu>
  <div>
    <aui-menu-item
      [disabled]="
        isAbortExisted || isTimeoutAndRetryExisted || isReplicationExisted
      "
      (click)="openCreatePolicyDialog('fault')"
    >
      {{ 'abort_injection' | translate }}
      <ng-container *ngIf="isAbortExisted">
        ({{ 'existed' | translate }})
      </ng-container>
      <ng-container *ngIf="isTimeoutAndRetryExisted || isReplicationExisted">
        ({{
          isReplicationExisted && isTimeoutAndRetryExisted
            ? trafficReplicationConflictTips
            : conflictTips
        }})
      </ng-container>
    </aui-menu-item>
  </div>
  <div>
    <aui-menu-item
      [disabled]="isDelayExisted || isTimeoutAndRetryExisted"
      (click)="openCreatePolicyDialog('delay')"
    >
      {{ 'delay_response' | translate }}
      <ng-container *ngIf="isDelayExisted">
        ({{ 'existed' | translate }})
      </ng-container>
      <ng-container *ngIf="isTimeoutAndRetryExisted">
        ({{ conflictTips }})
      </ng-container>
    </aui-menu-item>
  </div>
  <div>
    <aui-menu-item
      [disabled]="isTimeoutAndRetryExisted || isDelayExisted || isAbortExisted"
      (click)="openCreatePolicyDialog('retry')"
    >
      {{ 'timeout_and_retry' | translate }}
      <ng-container *ngIf="isTimeoutAndRetryExisted">
        ({{ 'existed' | translate }})
      </ng-container>
      <ng-container *ngIf="isDelayExisted || isAbortExisted">
        ({{ conflictTips }})
      </ng-container>
    </aui-menu-item>
  </div>
  <div>
    <aui-menu-item
      [disabled]="isRewriteExisted"
      (click)="openCreatePolicyDialog('rewrite')"
    >
      {{ 'rewrite' | translate }}
      <ng-container *ngIf="isRewriteExisted">
        ({{ 'existed' | translate }})
      </ng-container>
    </aui-menu-item>
  </div>
  <div>
    <aui-menu-item
      [disabled]="isReplicationExisted || isAbortExisted"
      (click)="openCreatePolicyDialog('replication')"
    >
      {{ 'traffic_replication' | translate }}
      <ng-container *ngIf="isReplicationExisted">
        ({{ 'existed' | translate }})
      </ng-container>
      <ng-container *ngIf="isAbortExisted">
        ({{ trafficReplicationConflictTips }})
      </ng-container>
    </aui-menu-item>
  </div>
</aui-menu>
