@import 'var';

:host {
  .alo-workload-status {
    margin-top: 10px;
    width: 280px;
    &__total {
      text-align: center;
      margin-bottom: 4px;
      > span {
        font-size: 25px;
        font-weight: 600;
      }
    }
    &__scaler {
      display: flex;
      justify-content: center;
      ::ng-deep aui-status-bar {
        display: flex;
        align-items: center;
        width: 200px;
        height: 24px;
      }
      &__decrease,
      &__increase {
        color: $color-text-help;
        &:hover {
          color: $color-primary;
        }

        margin: 0 8px;
      }
    }
  }
}
