<div
  class="alo-workload-status"
  [ngStyle]="{ width: inoperable ? '200px' : '280px' }"
>
  <div class="alo-workload-status__total">
    <span>{{ desired }}</span>
    Pods
  </div>
  <div class="alo-workload-status__scaler">
    <acl-disabled-container
      *ngIf="!inoperable"
      [isAllowed]="isUpdateAllowed"
      [isDisabled]="isFederated"
    >
      <button
        aui-button="text"
        [square]="true"
        size="mini"
        type="button"
        class="alo-workload-status__scaler__decrease"
        (click)="decrease()"
      >
        <aui-icon icon="basic:minus"></aui-icon>
      </button>
    </acl-disabled-container>
    <aui-status-bar
      size="medium"
      [status]="status"
      [auiTooltip]="tooltip"
      [auiTooltipPosition]="'bottom start'"
    ></aui-status-bar>
    <acl-disabled-container
      *ngIf="!inoperable"
      [isAllowed]="isUpdateAllowed"
      [isDisabled]="isFederated"
    >
      <button
        aui-button="text"
        [square]="true"
        size="mini"
        type="button"
        class="alo-workload-status__scaler__increase"
        (click)="increase()"
      >
        <aui-icon icon="basic:plus"></aui-icon>
      </button>
    </acl-disabled-container>
  </div>
</div>
