<div class="tool-size">
  <span>
    {{'size' | translate}}：{{ scale | percent:'1.0-0' }}
  </span>
</div>
<div class="tool-bar">
  <div class="tool-item" (click)="zoomReset()" title="{{ 'view' | translate }}">
    <aui-icon icon="basic:actual_size"></aui-icon>
  </div>
  <div class="tool-zoom">
    <button class="tool-item"
      [disabled]="zoomInStatus"
      (click)="zoomIn()" 
      title="{{ 'zoom_in' | translate }}"
    >
      <aui-icon icon="basic:plus"></aui-icon>
    </button>
    <button class="tool-item"
      [disabled]="zoomOutStatus"
      (click)="zoomOut()" 
      title="{{ 'zoom_out' | translate }}"
    >
      <aui-icon icon="basic:minus"></aui-icon>
    </button>
  </div>

  <div class="tool-item" (click)="adaption()" title="{{ 'panoramic_view' | translate }}">
    <aui-icon icon="basic:full_size"></aui-icon>
  </div>
</div>