@import '~@alauda/ui/theme/_pattern';
.tool {
  &-bar {
    position: absolute;
    right: 0px;
    bottom: 0;
  }
  &-bar > &-item,
  &-zoom {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    margin-top: 4px;
  }
  &-item {
    border: none;
    width: 24px;
    height: 24px;
    padding: 4px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    background: #fff;
    cursor: pointer;
    &[disabled] {
      cursor: not-allowed;
      background: #f1f1f1;
      &:hover {
        color: #999;
        background-color: #f1f1f1;
      }
    }
    &:hover {
      color: $color-primary;
      background-color: #e5f5fc;
    }
  }
  &-zoom {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 4px;
      right: 4px;
      height: 1px;
      background-color: #ededed;
      top: 24px;
    }
  }
}
.tool-size {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 12px;
  width: 85px;
  height: 24px;
  padding: 4px 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  color: #ccc;
  line-height: 15px;
}
