<aui-dialog-header>
  {{
    (data.isCreate
      ? 'create_traffic_replication'
      : 'update_traffic_replication'
    ) | translate
  }}
  <aui-icon
    class="question-icon"
    [auiTooltip]="'traffic_replication_title_tips' | translate"
    icon="basic:question"
  ></aui-icon>
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="114px">
    <aui-form-item
      *aloAsyncData="let services; let loading = loading; handler: serviceFetch"
    >
      <label auiFormItemLabel>{{ 'target_service' | translate }}</label>
      <aui-select
        auiFormItemControl
        #host="ngModel"
        name="host"
        required
        [placeholder]="'please_select_service' | translate"
        [(ngModel)]="replicationParams.host"
        (valueChange)="hostChanged()"
      >
        <aui-option
          *ngFor="let item of services"
          [label]="item.host"
          [value]="item.host"
        >
          {{ item.host }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>

      <div auiFormItemError *ngIf="host.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="host.errors?.pattern">
        {{ 'percentage_range_tips' | translate }}
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'target_service_version' | translate }}</label>

      <aui-select
        auiFormItemControl
        #subset="ngModel"
        required
        name="subset"
        [placeholder]="'please_select_version' | translate"
        [(ngModel)]="replicationParams.subset"
      >
        <ng-container *ngIf="services.length > 0">
          <aui-option
            *ngFor="let item of replicationParams.host | pure: getVersion"
            [label]="item.name"
            [value]="item.value"
          >
            {{ item.name }}
          </aui-option>
        </ng-container>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <div auiFormItemError *ngIf="subset.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="subset.errors?.pattern">
        {{ 'percentage_range_tips' | translate }}
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'target_service_port' | translate }}</label>
      <input
        auiFormItemControl
        name="port"
        type="text"
        #port="ngModel"
        aui-input
        [pattern]="positiveIntPattern.pattern"
        [placeholder]="positiveIntPattern.tip | translate"
        [(ngModel)]="replicationParams.port.number"
      />
      <div
        auiFormItemError
        *ngIf="port.errors?.pattern || port.errors?.pattern"
      >
        {{ positiveIntPattern.tip | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="save()" [loading]="submitting">
      {{ (data.isCreate ? 'create' : 'update') | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
