<form #form="ngForm" auiForm auiFormLabelWidth="150px">
  <alo-canary-form
    [(ngModel)]="canaryModel"
    name="canaryForm"
    [submitted]="form.submitted"
    [readonly]="!!data"
  ></alo-canary-form>

  <div class="alo-mutate-page-bottom-buttons">
    <button
      type="button"
      aui-button="primary"
      [loading]="submitting"
      [disabled]="submitting"
      (click)="confirm()"
    >
      {{ (data ? 'update' : 'create') | translate }}
    </button>
    <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</form>
