<div class="tab-container" *ngIf="data && data.length > 0">
  <aui-table [dataSource]="data">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>

    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'policy_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.type | translate }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="desc">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'policy_detail' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div class="desc-container">
          <div
            class="desc-item"
            title="{{ item.key | translate }}:{{ item.value }}"
            *ngFor="let item of rowData.desc"
          >
            <span class="desc-item__key">{{ item.key | translate }}:</span>
            <span class="desc-item__value">{{ item.value }}</span>
          </div>
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="actions">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alo-menu-trigger [menu]="trafficActionsMenu"></alo-menu-trigger>
        <aui-menu #trafficActionsMenu>
          <acl-disabled-container
            tooltipPosition="start"
            [isAllowed]="allowedUpdate"
          >
            <aui-menu-item (click)="update(item)">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>

          <acl-disabled-container
            tooltipPosition="start"
            [isAllowed]="allowedUpdate"
          >
            <aui-menu-item (click)="delete(item)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
  </aui-table>
</div>
