@import 'mixins';
:host {
  .tab-container {
    margin-top: 30px;
  }
  .aui-table {
    min-width: 0;
    &__column-type {
      flex: 1;
    }
    &__column-desc {
      flex: 4;
    }
    &__column-actions {
      max-width: 60px;
    }
  }
  .desc-container {
    display: flex;
    .desc-item {
      width: 33%;
      @include text-overflow;
      &__value {
        margin-left: 8px;
      }
    }
  }
}
