<div class="check-title">
  {{ 'component_check' | translate }}
</div>
<aui-card [divider]="false">
  <div auiCardHeader>
    <div>{{ 'overview_of_components' | translate }}</div>
    <div fxFlex></div>
    <div class="time" *ngIf="!componentsChecking; else checking">
      {{ componentHealthCheckTime | aloTime }}
      <button aui-button="text" (click)="refreshCheck('componenthealthcheck')">
        <aui-icon class="refresh" icon="basic:refresh"></aui-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="serviceMeshComponents.length; else emptyList">
    <div class="overview-content">
      <alo-circle-chart
        [circleParams]="serviceMeshComponents | pure: handleChartParams"
        [text]="serviceMeshComponents.length || '0'"
        [hint]="'in_total' | translate"
      ></alo-circle-chart>

      <div class="components-container">
        <div class="title">{{ 'core_component' | translate }}</div>
        <ng-container
          *ngTemplateOutlet="
            healthCheckComponentList;
            context: {
              componentList:
                serviceMeshComponents
                | pure: getCoreComponents
                | pure: formatDisplayComponents
            }
          "
        ></ng-container>
      </div>

      <div class="divider"></div>

      <div class="components-container">
        <div class="title">{{ 'external_component' | translate }}</div>
        <ng-container
          *ngTemplateOutlet="
            healthCheckComponentList;
            context: {
              componentList:
                serviceMeshComponents
                | pure: getExternalComponents
                | pure: formatDisplayComponents
            }
          "
        ></ng-container>
      </div>
    </div>
  </ng-container>
</aui-card>
<div class="check-title">
  {{ 'function_check' | translate }}
</div>
<div class="func-check">
  <div class="sidecar-inject">
    <aui-card [divider]="false">
      <div auiCardHeader>
        <div>{{ 'sidecar_inject' | translate }}</div>
        <div fxFlex></div>
        <div class="time" *ngIf="!sidecarInjectorChecking; else checking">
          {{ sidecarInjectionTime | aloTime }}
          <button aui-button="text" (click)="refreshCheck('sidecarinjection')">
            <aui-icon class="refresh" icon="basic:refresh"></aui-icon>
          </button>
        </div>
      </div>
      <ng-container *ngIf="sidecarInjectorCases.length; else emptyList">
        <div class="overview-content">
          <alo-circle-chart
            [circleParams]="sidecarInjectorCases | pure: handleChartParams"
            [text]="sidecarInjectorCases.length || '0'"
            [hint]="'in_total' | translate"
          ></alo-circle-chart>

          <div class="components-container">
            <div class="title">{{ 'detection_items' | translate }}</div>
            <ng-container
              *ngTemplateOutlet="
                healthCheckComponentList;
                context: {
                  componentList:
                    sidecarInjectorCases | pure: formatDisplayComponents
                }
              "
            ></ng-container>
          </div>
        </div>
      </ng-container>
    </aui-card>
  </div>

  <div class="monitor">
    <aui-card [divider]="false">
      <div auiCardHeader>
        <div>{{ 'monitor' | translate }}</div>
        <div fxFlex></div>
        <div class="time" *ngIf="!monitorChecking; else checking">
          {{ monitoringServiceTime | aloTime }}
          <button aui-button="text" (click)="refreshCheck('monitoringservice')">
            <aui-icon class="refresh" icon="basic:refresh"></aui-icon>
          </button>
        </div>
      </div>
      <ng-container *ngIf="monitorCases.length; else emptyList">
        <div class="overview-content">
          <alo-circle-chart
            [circleParams]="monitorCases | pure: handleChartParams"
            [text]="monitorCases.length"
            [hint]="'in_total' | translate"
          ></alo-circle-chart>

          <div class="components-container">
            <div class="title">
              {{ 'detection_items' | translate }}
            </div>
            <ng-container
              *ngTemplateOutlet="
                healthCheckComponentList;
                context: {
                  componentList: monitorCases | pure: formatDisplayComponents
                }
              "
            ></ng-container>
          </div>
        </div>
      </ng-container>
    </aui-card>
  </div>
</div>

<ng-template #emptyList>
  <div class="empty-list">
    <aui-icon icon="exclamation_circle_s" class="warning"></aui-icon>
    {{ 'not_getting_check_data' | translate }}
  </div>
</ng-template>

<ng-template #checking>
  <div class="checking">
    <aui-icon icon="basic:refresh"></aui-icon>
    {{ 'check_program_in_operation' | translate }}
  </div>
</ng-template>

<ng-template #healthCheckComponentList let-componentList="componentList">
  <div class="content">
    <div *ngFor="let components of componentList" class="components">
      <div
        *ngFor="let component of components"
        class="component"
        [auiTooltip]="errorToolTip"
        [auiTooltipDisabled]="component.running"
        (auiTooltipShow)="onErrorShow(component)"
      >
        <div
          class="status"
          [ngClass]="component.running ? 'active-color' : 'inactive-color'"
        ></div>
        {{ component.name }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #errorToolTip>
  <div class="error-list">
    {{
      (currentComponent.error || []).length > 0
        ? currentComponent.type === 'case'
          ? ('health_check_case_error_reason' | translate)
          : ''
        : ('unable_to_get_error_message' | translate)
    }}
    <ul>
      <li *ngFor="let item of currentComponent.error">
        {{
          handleErrorMessage(item)
            ? (handleErrorMessage(item) | translate)
            : item
        }}
      </li>
    </ul>
  </div>
</ng-template>
