@import 'var';

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:host {
  background: $disabled-bg-color;
  display: block;
  padding: 16px;
  .check-title {
    margin-bottom: 16px;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  .time {
    display: flex;
    color: $color-text-help;
    font-size: $font-size-small;
  }
  .empty-list {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    .warning {
      margin-right: 5px;
      color: $color-warning;
    }
  }
  .checking {
    display: flex;
    align-items: center;
    color: $color-text-help;
    font-size: $font-size-small;
    aui-icon {
      margin-right: 5px;
      display: inline-flex;
      color: $color-primary;
      transform-origin: center;
      animation-name: rotating;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  .overview-content {
    display: flex;
    alo-circle-chart {
      margin: 0 20px;
    }
    .components-container {
      margin: 0 30px;
      .title {
        font-weight: $font-weight-bold;
        margin-bottom: 12px;
        .error {
          color: $color-error;
        }
      }
      .content {
        display: flex;
        .components {
          display: flex;
          flex-direction: column;
          margin-right: 20px;
          .component {
            display: flex;
            align-items: center;
            margin: 5px 0;
            .status {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              margin-right: 4px;
            }
          }
        }
      }
    }
    .divider {
      width: 1px;
      background-color: $color-info;
      margin: 0 30px;
    }
  }
  .func-check {
    display: flex;
    .sidecar-inject {
      flex: 1;
      margin-right: 16px;
    }
    .monitor {
      flex: 1;
    }
  }
  .refresh {
    color: $color-text-help;
  }
  .active-color {
    background-color: $color-success;
  }
  .inactive-color {
    background-color: $color-error;
  }
}
.error-list {
  li {
    list-style-type: none;
    &:before {
      content: '\2022';
      font-size: 12px;
    }
  }
}
