<aui-inline-alert [closable]="true"
                  [content]="'security_strategy_tip' | translate"
                  *ngIf="notificationVisible"
                  (close)="notificationVisible = false">
</aui-inline-alert>

<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_security_strategy' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
  <div class="tipInfo">
      <aui-icon icon="info_circle_s" color="#999" (click)="dispalyNotification()"></aui-icon>
  </div>
</ng-container>

<aui-card *aloVar="let data; from: list.items$ | async">
  <div class="list-header">
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" (click)="create()">
        {{'create_security_rule' | translate}}
      </button>
    </acl-disabled-container>
    
    <div fxFlex></div>
    <aui-search
      [keyword]="keywords$ | async"
      [placeholder]="'search_by_service_name_placeholder' | translate"
      [searchButton]="true"
      [searching]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (search)="search($event)">
    </aui-search>
  </div>
  <div auiCardContent class="router-table">
    <aui-table [dataSource]="data">

      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell  *auiTableHeaderCellDef>
          {{ 'service_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
            <span class="highlight-name">{{ getService(item.spec) }}</span>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="rule">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'rule' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.spec.peers | pure: getRuleText | translate }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="create_by">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'create_by' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | aloCreator | aclFieldNotAvailable  }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="creationTimestamp">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'created_at' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | aclCreationTimestamp | aclRelativeTime }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <alo-menu-trigger
            [menu]="actionsMenu" 
            [context]="{item: item}"
          >
          </alo-menu-trigger>
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
      <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
    </aui-table>
  </div>

  <alo-resource-list-footer
    [resourceName]="'nav_security_strategy'  | translate"
    [list]="list"
  ></alo-resource-list-footer>
</aui-card>

<aui-menu #actionsMenu>
    <ng-template auiMenuContent let-item="item">
      <acl-disabled-container tooltipPosition="start" [isAllowed]="(permissions$ | async).update">
        <aui-menu-item (click)="update(item)">
          {{'update' | translate}}
        </aui-menu-item>
      </acl-disabled-container>

      <acl-disabled-container tooltipPosition="start" [isAllowed]="(permissions$ | async).delete">
        <aui-menu-item (click)="delete(item)">
          {{'delete' | translate}}
        </aui-menu-item>
      </acl-disabled-container>
  </ng-template>
</aui-menu>
