:host {
  .list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  aui-paginator {
    margin-top: 20px;
  }
}
.aui-table {
  min-width: 0px;
  &__column-action {
    max-width: 40px;
  }
}
.tipInfo {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  aui-icon {
    cursor: pointer;
  }
}
