@import 'mixins';
@import 'var';

$border: 1px solid $table-header-row-border-color;
$border-radius: 10px;

@mixin info-tag {
  .aui-tag.isSolid.aui-tag--info {
    color: $color-text-secondary;
    background-color: $disabled-bg-color;
    border: none;
  }
}

:host {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  min-width: 0;
  line-height: (20 / 14);
  ::ng-deep {
    @include info-tag;
  }
}

// now render '...' as a aui-tag here, so no need textOverflow
// no suggestion to use textOverflow for inline children block, only use that for text runs
.tags-container {
  border-radius: $border-radius;
  margin-right: 4px;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
}
.tooltip-container {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  ::ng-deep {
    @include info-tag;
  }
}
.tooltip-tag {
  margin: 4px 4px 0 0;
}

.tooltip-toggle {
  cursor: pointer;
  flex: 0 0 20px;
}
