<div class="tags-container">
  <aui-tag type="info" size="small" [solid]="true" *ngFor="let tag of tagList">
    {{ tag | pure: renderTag }}
  </aui-tag>
</div>

<aui-tag
  class="tooltip-toggle"
  *ngIf="tagList?.length"
  [auiTooltip]="labels"
  auiTooltipType="info"
  [auiTooltipPosition]="tooltipPosition"
  type="info"
  [solid]="true"
  size="small"
>
  <aui-icon icon="ellipsis_h_s"></aui-icon>
</aui-tag>

<div *ngIf="!tagList?.length">-</div>

<ng-template #labels>
  <div class="tooltip-container">
    <div *ngFor="let tag of tagList" class="tooltip-tag">
      <aui-tag type="info" size="small" [solid]="true">
        {{ tag | pure: renderTag }}
      </aui-tag>
    </div>
  </div>
</ng-template>

<ng-content></ng-content>
