<div class="tags-container">
  <ng-container *ngFor="let tag of tagList | slice:0:showAllCap; let i = index">
    <span *ngIf="i >= 1" class="semicolon">,</span>
    <span>{{tag}}</span>
  </ng-container>
  <ng-container *ngIf="!tagList.length">-</ng-container>
</div>

<div
  *ngIf="tagList?.length >= showAllCap"
  class="more-content"
  [auiTooltip]="labels"
  auiTooltipType="info"
>
  <aui-icon icon="ellipsis_h_s"></aui-icon>
</div>

<ng-template #labels>
  <div class="labels-container">
    <div class="labels-list">
      <ul>
        <li *ngFor="let tag of tagList">
          {{tag}}
        </li>
      </ul>
    </div>
  </div>
</ng-template>
