@import 'var';
@import 'mixins';
:host {
  display: inline-flex;
  max-width: 100%;
}
.more-content {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fafafa;
  border: solid 1px #eee;
  color: #666;
  width: 28px;
  height: 20px;
  &:hover {
    border: solid 1px $color-primary;
    color: $color-primary;
    background-color: #e5f5fc;
  }
}

.tags-container {
  display: inline-flex;
  margin-right: 5px;
  .semicolon {
    margin-right: 5px;
  }
  span {
    display: inline-block;
    @include text-overflow;

    max-width: 100px;
  }
}

.labels-container {
  .labels-list {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    padding: 5px 10px 5px 5px;
    li {
      list-style-type: none;
      &:before {
        content: '\2022';
        color: #999;
        font-size: 12px;
      }
    }
  }
}

::ng-deep .aui-tooltip {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}
