<aui-dialog-header>
  {{ (data.isCreate ? 'create_rewrite' : 'update_rewrite') | translate }}
  <aui-icon
    class="question-icon"
    [auiTooltip]="'rewrite_title_tips' | translate"
    icon="basic:question"
  ></aui-icon>
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="114px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'rewrite_host' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="rewriteHost"
        #rewriteHost="ngModel"
        [allowCreate]="true"
        [clearable]="true"
        [filterable]="true"
        aloSpacesNotAllowed
        [(ngModel)]="params.authority"
      >
        <aui-option
          *ngFor="let item of services"
          [label]="item.host"
          [value]="item.host"
        >
          {{ item.host }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <div auiFormItemError *ngIf="rewriteHost.errors?.spacesNotAllowed">
        {{ spacesNotAllowed.tip | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'rewrite_uri' | translate }}</label>
      <input
        auiFormItemControl
        name="rewriteUri"
        #rewriteUri="ngModel"
        aui-input
        required
        [(ngModel)]="params.uri"
        [pattern]="uriPattern.pattern"
      />
      <div auiFormItemError *ngIf="rewriteUri.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="rewriteUri.errors?.pattern">
        {{ uriPattern.tip | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="save()" [loading]="submitting">
      {{ (data.isCreate ? 'create' : 'update') | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
