<aui-dialog-header>
  {{ dialogText.title | translate }}
  <aui-icon
    class="question-icon"
    [auiTooltip]="outlierDetectionPolicyTips"
    icon="basic:question"
  ></aui-icon>
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="146px">
    <div class="section-title">
      {{ 'threshold' | translate }}
    </div>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'error_response_number' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        required
        name="consecutiveErrors"
        #consecutiveErrors="ngModel"
        [(ngModel)]="viewModel.consecutiveErrors"
        [pattern]="positiveIntPattern.pattern"
        [placeholder]="positiveIntPattern.tip | translate"
      />
      <div auiFormItemError *ngIf="consecutiveErrors.errors?.pattern">
        {{ positiveIntPattern.tip | translate }}
      </div>
      <div
        auiFormItemError
        *ngIf="form.controls.consecutiveErrors?.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
    </aui-form-item>

    <div class="section-title">
      {{ 'rule' | translate }}
    </div>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'inspection_cycle' | translate }}
      </label>
      <aui-input-group class="inputGroup">
        <span auiInputAddonAfter>
          <div class="select-size">
            <aui-select
              name="intervalUnit"
              [(ngModel)]="viewModel.intervalUnit"
              auiinputaddonafter
            >
              <aui-option value="ms">ms</aui-option>
              <aui-option value="s">s</aui-option>
              <aui-option value="m">m</aui-option>
              <aui-option value="h">h</aui-option>
            </aui-select>
          </div>
        </span>
        <input
          auiFormItemControl
          aui-input
          required
          name="interval"
          #interval="ngModel"
          [(ngModel)]="viewModel.interval"
          [pattern]="positiveIntPattern.pattern"
          [placeholder]="positiveIntPattern.tip | translate"
        />
      </aui-input-group>
      <div auiFormItemError *ngIf="interval.errors?.pattern">
        {{ positiveIntPattern.tip | translate }}
      </div>
      <div auiFormItemError *ngIf="form.controls.interval?.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'minimum_isolation_time' | translate }}
      </label>

      <aui-input-group class="inputGroup">
        <span auiInputAddonAfter>
          <div class="select-size">
            <aui-select
              name="baseEjectionTimeUnit"
              [(ngModel)]="viewModel.baseEjectionTimeUnit"
              auiinputaddonafter
            >
              <aui-option value="ms">ms</aui-option>
              <aui-option value="s">s</aui-option>
              <aui-option value="m">m</aui-option>
              <aui-option value="h">h</aui-option>
            </aui-select>
          </div>
        </span>
        <input
          auiFormItemControl
          aui-input
          required
          name="baseEjectionTime"
          #baseEjectionTime="ngModel"
          [(ngModel)]="viewModel.baseEjectionTime"
          [pattern]="positiveIntPattern.pattern"
          [placeholder]="positiveIntPattern.tip | translate"
        />
      </aui-input-group>
      <div auiFormItemError *ngIf="baseEjectionTime.errors?.pattern">
        {{ positiveIntPattern.tip | translate }}
      </div>
      <div
        auiFormItemError
        *ngIf="form.controls.baseEjectionTime?.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'maximum_isolation_ratio' | translate }}
      </label>
      <aui-input-group>
        <input
          auiFormItemControl
          aui-input
          required
          name="maxEjectionPercent"
          #maxEjectionPercent="ngModel"
          [(ngModel)]="viewModel.maxEjectionPercent"
          [pattern]="percentagePattern.pattern"
          [placeholder]="percentagePattern.tip | translate"
        />
        <span auiInputAddonAfter>%</span>
      </aui-input-group>
      <div auiFormItemError *ngIf="maxEjectionPercent.errors?.pattern">
        {{ percentagePattern.tip | translate }}
      </div>
      <div
        auiFormItemError
        *ngIf="form.controls.maxEjectionPercent?.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      (click)="save()"
      [loading]="loading"
      [disabled]="loading"
    >
      {{ dialogText.confirm | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>

<ng-template #outlierDetectionPolicyTips>
  <alo-tooltip-list
    [list]="[
      'outlier_detection_policy_tips_1',
      'outlier_detection_policy_tips_2',
      'outlier_detection_policy_tips_3',
      'outlier_detection_policy_tips_4',
      'outlier_detection_policy_tips_5'
    ]"
  ></alo-tooltip-list>
</ng-template>
