<aui-card>
  <div auiCardContent class="monitor">
    <header>
      {{ 'service_monitor' | translate }}
      <aui-icon
        icon="basic:question"
        [auiTooltip]="'prometheus_time_range_tip' | translate"
      ></aui-icon>
    </header>

    <div class="rangePicker" flex fxLayoutAlign="start center">
      <label>{{ 'time_range' | translate }}:</label>
      <alo-range-picker
        [date]="calendarData"
        (broadcastTime)="broadcastTime($event)"
      ></alo-range-picker>
    </div>

    <div flex class="monitor-container">
      <div class="monitor-body" *ngFor="let item of monitorModel">
        <div class="monitor-body-title">
          {{ item.name | translate }}
          TOP5
        </div>
        <ng-container *ngFor="let values of item.data">
          <div class="monitor-context">
            <div class="monitor-title">
              <ng-container *ngIf="values.name; else emptyName">
                <span
                  title="{{ values.name }}: {{
                    values.version | aclFieldNotAvailable
                  }}"
                >
                  {{ values.name }} :
                  {{ values.version | aclFieldNotAvailable }}
                </span>
              </ng-container>
              <ng-template #emptyName>
                <span class="zero">— — —</span>
              </ng-template>
              <span [class.zero]="!values.value">
                {{ values.value }}
                <ng-container *ngIf="monitorType.Mortality === item.type">
                  %
                </ng-container>
                <ng-container *ngIf="monitorType.Ms === item.type">
                  ms
                </ng-container>
              </span>
            </div>
            <aui-status-bar
              [status]="values.status"
              size="small"
            ></aui-status-bar>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</aui-card>
