@import 'var';
@import 'mixins';
:host {
  margin-top: 16px;
  display: block;
  .rangePicker{
    padding: 8px 0px;
  }
  .search{
    margin-left: 8px;
  }
  .monitor {
    ::ng-deep {
      .aui-status-bar__chunk + .aui-status-bar__chunk {
        margin-left: 0;
      }
    }
    &-container {
      margin-top: 8px;
      display: flex;
    }
    &-title {
      display: flex;
      flex: 1;
      min-width: 0;
      justify-content: space-between;
      color: $color-text-secondary;
      span {
        flex: 1;
        @include text-overflow;
        &:last-child {
          text-align: right;
        }
      }
    }
    &-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-width: 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &-title {
        font-weight: $font-weight-bold;
        color: $color-text-main;
        margin-bottom: 16px;
      }
    }
  }
}
