<ng-container *aloVar="let areas; from: areas$ | async">
  <svg:g>
    <ng-container *ngFor="let area of areas">
      <path
        *ngIf="service.legendMap.has(area.name)"
        [attr.fill]="area.fill"
        [attr.stroke]="area.stroke.value || area.stroke.start"
        [attr.d]="area.path"
      ></path>
    </ng-container>
  </svg:g>

  <!-- avgline -->
  <ng-container *ngIf="service.legendMap.size === 1">
    <svg:g *ngFor="let area of areas">
      <line
        x1="0"
        *ngIf="service.legendMap.has(area.name)"
        [attr.x2]="service.areaSize.width"
        [attr.y1]="area.avgLineY"
        [attr.y2]="area.avgLineY"
        stroke-dasharray="4 2"
        [attr.stroke]="area.stroke.value || area.stroke.start"
        stroke-width="1"
        stroke-opacity="0.5"
      ></line>
    </svg:g>
  </ng-container>
</ng-container>
