<aui-tab-group type="card">
  <aui-tab>
    <ng-container *auiTabLabel>
      <div>
        {{ 'gateway_route' | translate }} ({{ store.tabNumberState.routing }})
      </div>
    </ng-container>
    <ng-container *ngIf="serviceName; else noEntryTmpl">
      <div
        class="container"
        *aloVar="let allowCreation; from: store.routeCreatePermission"
      >
        <ng-container
          *ngIf="
            !allowCreation.protocol || !allowCreation.existRoute;
            else routerDetail
          "
        >
          <ng-container *ngTemplateOutlet="noRouteTemplate"></ng-container>
        </ng-container>

        <ng-template #routerDetail>
          <alo-route-detail
            (triggerUpdate)="triggerUpdateRoute(routeTemplate)"
          ></alo-route-detail>
        </ng-template>
      </div>
    </ng-container>
    <ng-template #noEntryTmpl>
      <ng-container *ngTemplateOutlet="noEntranceTemplate"></ng-container>
    </ng-template>
  </aui-tab>
  <!-- TODO: 因Http2 问题先暂时注释 -->
  <!-- <aui-tab>
    <ng-container *auiTabLabel>
      <div>
        {{ 'gateway_strategy' | translate }} ({{
          store.tabNumberState.strategy
        }})
      </div>
    </ng-container>
    <div class="container">
      <alo-strategy-table
        [name]="gatewayHost"
        [hiddenItem]="hiddenItem"
      ></alo-strategy-table>
    </div>
  </aui-tab> -->
</aui-tab-group>

<ng-template #noRouteTemplate>
  <ng-container *aloVar="let allowCreation; from: store.routeCreatePermission">
    <div class="noServiceEntrance">
      <img src="icons/microservice/no_service_entrance.svg" alt="" />

      <div *ngIf="!allowCreation.protocol; else createRoute">
        {{ 'not_allowed_create_route_tip' | translate }}
      </div>

      <ng-template #createRoute>
        <div>{{ 'gateway_no_route_tip' | translate }}</div>
        <acl-disabled-container [isAllowed]="creatableRoute$ | async">
          <button
            aui-button="primary"
            (click)="triggerCreateRoute(routeTemplate)"
          >
            {{ 'create_route' | translate }}
          </button>
        </acl-disabled-container>
      </ng-template>
    </div>
  </ng-container>
</ng-template>

<ng-template #routeTemplate>
  <aui-dialog-header>
    {{
      (store.routeAllState[routeActionType.CREATE]
        ? 'create_route'
        : 'update_route'
      ) | translate
    }}
  </aui-dialog-header>
  <aui-dialog-content>
    <alo-router-update
      *ngIf="store.routeAllState[routeActionType.UPDATE]"
    ></alo-router-update>

    <alo-router-create
      *ngIf="store.routeAllState[routeActionType.CREATE]"
    ></alo-router-create>
  </aui-dialog-content>

  <aui-dialog-footer>
    <div>
      <button aui-button="primary" (click)="routeDialogConfirm()">
        {{
          (store.routeAllState[routeActionType.CREATE] ? 'create' : 'update')
            | translate
        }}
      </button>
      <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
    </div>
  </aui-dialog-footer>
</ng-template>

<!-- 无入口template -->
<ng-template #noEntranceTemplate>
  <div class="noServiceEntrance">
    <img src="icons/microservice/no_service_entrance.svg" alt="" />
    <div>{{ 'no_service_entry_tip' | translate }}</div>
  </div>
</ng-template>
