:host {
  display: flex;
  min-height: 250px;
  padding-top: 20px;
  aui-tab-group {
    width: 100%;
  }
  .noServiceEntrance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    font-size: 18px;
    a {
      cursor: pointer;
    }
    img {
      width: 240px;
    }
    button {
      margin-top: 12px;
      padding: 0 20px;
    }
  }
}
