<aui-dialog-header>
  {{ 'request_path_management' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm">
    <alo-path-form-group
      [submitted]="form.submitted"
      [(ngModel)]="pathModel"
      name="pathForm"
    ></alo-path-form-group>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button [loading]="submitting" aui-button="primary" (click)="addPath()">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button auiDialogClose="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
