@import 'var';
.table {
  background: $table-header-row-bg;
  padding: 8px;
  &-body {
    display: flex;
    align-items: center;
    .icon {
      font-size: 16px;
      margin: 0 4px;
      color: #000;
      opacity: 0.4;
    }
  }
  button {
    border-style: dashed;
    width: 100%;
    margin-top: 5px;
  }
}
