<div class="conditions" [class.up]="!show" [class.down]="show">
  <span class="switchBtn" (click)="show = !show">
    {{ 'rule_details' | translate }}
    <aui-icon
      [icon]="'basic:angle_double_' + (show ? 'up' : 'down')"
      size="12px"
    ></aui-icon>
  </span>
  <div class="conditions-container" [hidden]="!show">
    <div
      class="conditions-form"
      *ngFor="let item of data?.match; let index = index; trackBy: trackByFn"
    >
      <aui-form-item labelWidth="120px">
        <label auiFormItemLabel>
          {{ 'condition_rule' | translate }}
        </label>

        <div class="conditions-body">
          <header>
            <alo-route-policy-selector
              *ngIf="routeModel"
              [namespace]="namespace"
              [cluster]="cluster"
              [routeModel]="routeModel | pure: handleRouteModel"
              [index]="index | pure: getIndex"
              [allowedUpdate]="allowedUpdate"
              (updated)="refresh()"
            ></alo-route-policy-selector>
          </header>

          <aui-table [dataSource]="item.values || []">
            <aui-table-header-row
              *auiTableHeaderRowDef="columns"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: columns"
            ></aui-table-row>

            <ng-container auiTableColumnDef="type">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'condition_type' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let rowData">
                {{ rowData?.type }}
              </aui-table-cell>
            </ng-container>

            <ng-container auiTableColumnDef="method">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'matching_method' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let rowData">
                {{ rowData?.method ? rowData?.method : '-' }}
              </aui-table-cell>
            </ng-container>

            <ng-container auiTableColumnDef="key">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'Key' }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let rowData">
                {{ rowData?.key ? rowData?.key : '-' }}
              </aui-table-cell>
            </ng-container>

            <ng-container auiTableColumnDef="value">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'Value' }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let rowData">
                {{ rowData?.value }}
              </aui-table-cell>
            </ng-container>
          </aui-table>

          <alo-route-traffic-table
            *ngIf="services"
            [services]="services"
            [routeModel]="routeModel | pure: handleRouteModel"
            [namespace]="namespace"
            [cluster]="cluster"
            [index]="index | pure: getIndex"
            [allowedUpdate]="allowedUpdate"
            (updated)="refresh()"
          ></alo-route-traffic-table>
        </div>
      </aui-form-item>
    </div>
  </div>
</div>
