@import 'var';
:host {
  .down {
    border-bottom: 1px dashed $color-info;
    .switchBtn {
      bottom: -10px;
    }
  }
  .up {
    border-top: 1px dashed $color-info;
    .switchBtn {
      top: -10px;
    }
  }
  .conditions {
    margin: 0 20px;
    position: relative;
    padding-bottom: 16px;
    &-body {
      flex: 1;
      background: #fff;
      header {
        display: flex;
        padding: 8px;
        justify-content: flex-end;
      }
    }
    &-form {
      .aui-form-item {
        margin-bottom: 8px;
      }
      &:last-child {
        ::ng-deep .aui-form-item {
          margin-bottom: 0;
        }
      }
    }
    &-container {
      padding: 10px 8px 10px 0;
      background: #f2f2f2;
      ::ng-deep aui-table {
        flex: 1;
      }
    }
    .switchBtn {
      position: absolute;
      left: 40%;
      padding: 0 5px;
      background: #fff;
      cursor: pointer;
      font-weight: 500;
      color: $color-text-main;
    }
  }
}
