@import 'var';
.confirm_icon{
  font-size: 22px;
  color: $color-danger;
}
.confirm-delete {
  &__tips {
    color: $color-text-main;
    &:last-child {
      margin-bottom: 16px;
    }
  }

  &__extra-confirm-tips {
    margin-top: 4px;
    font-size: $font-size-small;
    color: $color-text-help;
  }

  &__label {
    display: flex;
    align-items: center;
    line-height: 32px;
  }
}
