<form (ngSubmit)="onConfirm()">
  <aui-dialog-header>
    <aui-icon
      class="confirm_icon"
      icon="exclamation_triangle_s"
    ></aui-icon>
    {{ title }}
  </aui-dialog-header>
  <aui-dialog-content>
    <p class="confirm-delete__tips" *ngFor="let tips of deleteTipsList">
      {{ tips }}
    </p>
    <div class="confirm-delete__label">
      {{
        confirmTips ||
          ('confirm_delete_text' | translate: { name: resourceName })
      }}
    </div>
    <input
      auiFormItemControl
      aui-input
      name="resource-name"
      [(ngModel)]="inputValue"
      (ngModelChange)="inputValue$$.next($event)"
    />
    <div *ngIf="extraConfirmTips" class="confirm-delete__extra-confirm-tips">
      {{ extraConfirmTips }}
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button
      aui-button="danger"
      [loading]="deleting$$ | async"
      [disabled]="disabled$ | async"
    >
      {{ confirmText || 'delete' | translate }}
    </button>
    <button aui-button type="button" (click)="closeDialog()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</form>
