<alo-array-form-table
  [noRowSeparator]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  [rows]="form.controls"
  [readonly]="true"
>
  <ng-container *aloArrayFormTableHeader>
    <th style="width: 65%" required>{{ 'repository_address' | translate }}</th>
    <th style="width: 35%" required>{{ 'image_tag' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *aloArrayFormTableRow="let control">
    <td>
      <input
        auiFormItemControl
        required
        aui-input
        readonly
        [formControl]="control.get('path')"
      />
    </td>

    <td>
      <aui-select
        [formControl]="control.get('tag')"
        [placeholder]="'please_select_or_input_version' | translate"
        [allowCreate]="true"
        [filterable]="true"
        [clearable]="true"
      >
        <aui-option
          *ngFor="let item of handleTags(control)"
          [label]="item"
          [value]="item"
        >
          {{ item }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *aloArrayFormTableRow="let control">
    <ng-container
      *aloVar="let messages; from: tableVerificationMessage(control)"
    >
      <td
        colspan="2"
        class="alo-table-form-error-hint"
        *ngIf="messages?.length"
      >
        <ng-container *ngFor="let item of messages; let i = index">
          <ng-container *ngIf="i >= 1">;</ng-container>
          {{ item.tip }}
        </ng-container>
      </td>
    </ng-container>
  </ng-container>
</alo-array-form-table>
