<aui-dialog-header>
  {{ dialogText.title | translate }}
  <aui-icon
    class="question-icon"
    [auiTooltip]="loadBalancingTips"
    icon="basic:question"
  ></aui-icon>
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="120px">
    <aui-form-item *ngIf="!data.hideHost">
      <label auiFormItemLabel>
        {{ 'service' | translate }}
      </label>
      <!-- TODO: get service  -->
      <!-- <ng-container *ngIf="!data?.isUpdate;else updateName">
        <ng-container 
          *aloAsyncData="
            let data;
            let loading = loading;
            handler: fetchService;
          ">
          <aui-select
            auiFormItemControl
            #host
            name="host"
            required
            [(ngModel)]="viewModel.host"
            [loading]="loading"
            [placeholder]="'please_select_service' | translate"
          >
            <ng-container *ngFor="let service of data">
              <aui-option
                [value]="service.spec.host"
                [disabled]="service | pure: existedPure"
                >
                {{ service.spec.host }}
                <ng-container *ngIf="service | pure: existedPure">
                    ({{ 'existed' | translate }})
                </ng-container>
                
              </aui-option>
            </ng-container>
            <aui-option-placeholder>{{'no_match_result' | translate}}</aui-option-placeholder>
          </aui-select>
        </ng-container>

      </ng-container>
      <ng-template #updateName>
          <div auiFormItemControl> {{viewModel.host}} </div>
      </ng-template>
      <div auiFormItemError *ngIf="form.controls.host?.errors?.required">
          {{ 'required' | translate }}
      </div> -->
      <div auiFormItemControl>{{ viewModel.host }}</div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'load_balancing_policy' | translate }}
      </label>
      <aui-select
        auiFormItemControl
        name="simple"
        required
        [(ngModel)]="viewModel.simple"
        [loading]="loading"
        [placeholder]="'please_select_load_balancing_policy' | translate"
      >
        <ng-container *ngFor="let strategy of strategys">
          <aui-option
            [value]="strategy.value"
            [label]="strategy.name | translate"
          >
            {{ strategy.name | translate }}
          </aui-option>
        </ng-container>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <div auiFormItemError *ngIf="form.controls.simple?.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>

    <ng-container *ngIf="viewModel.simple === 'CONSISTENTHASH'">
      <aui-form-item class="retention">
        <label auiFormItemLabel>
          {{ 'session_retention_attribute' | translate }}
        </label>
        <div [class]="'retention-' + consistentHash.key">
          <div class="retention-radio">
            <aui-radio-group
              auiFormItemControl
              direction="column"
              name="attribute"
              [(ngModel)]="consistentHash.key"
            >
              <aui-radio value="httpHeaderName">
                http header
              </aui-radio>
              <aui-radio value="useSourceIp">
                http source ip
              </aui-radio>
              <aui-radio value="httpCookie">
                http cookie
              </aui-radio>
            </aui-radio-group>
          </div>
          <div class="retention-input">
            <ng-container [ngSwitch]="consistentHash.key">
              <ng-container *ngSwitchCase="'httpHeaderName'">
                <input
                  auiFormItemControl
                  name="httpHeaderName"
                  aui-input
                  [(ngModel)]="consistentHash.httpHeaderName"
                />
              </ng-container>

              <ng-container *ngSwitchCase="'useSourceIp'">
                <aui-select
                  auiFormItemControl
                  name="useSourceIp"
                  [(ngModel)]="consistentHash.useSourceIp"
                >
                  <aui-option [value]="true">true</aui-option>
                  <aui-option [value]="false">false</aui-option>
                </aui-select>
              </ng-container>

              <ng-container *ngSwitchCase="'httpCookie'">
                <aui-form-item labelWidth="0px">
                  <aui-input-group auiFormItemControl>
                    <span auiInputAddonBefore>
                      <div class="size-title size-required">name</div>
                    </span>
                    <input
                      aui-input
                      required
                      [(ngModel)]="consistentHash.httpCookie.name"
                      name="name"
                    />
                  </aui-input-group>
                  <div
                    auiFormItemError
                    *ngIf="form.controls.name?.errors?.required"
                  >
                    {{ 'required' | translate }}
                  </div>
                </aui-form-item>

                <aui-form-item labelWidth="0px">
                  <aui-input-group auiFormItemControl>
                    <span auiInputAddonBefore>
                      <div class="size-title size-center">path</div>
                    </span>
                    <input
                      aui-input
                      [(ngModel)]="consistentHash.httpCookie.path"
                      name="path"
                    />
                  </aui-input-group>
                </aui-form-item>

                <aui-form-item labelWidth="0px">
                  <aui-input-group auiFormItemControl>
                    <span auiInputAddonBefore>
                      <div class="size-title size-required">ttl</div>
                    </span>
                    <input
                      aui-input
                      required
                      type="text"
                      [(ngModel)]="consistentHash.httpCookie.ttl"
                      name="ttl"
                      [pattern]="positiveIntPatternZero.pattern"
                      [placeholder]="positiveIntPatternZero.tip | translate"
                    />
                    <span auiInputAddonAfter>s</span>
                  </aui-input-group>
                  <div
                    auiFormItemError
                    *ngIf="form.controls.ttl?.errors?.required"
                  >
                    {{ 'required' | translate }}
                  </div>
                  <div
                    auiFormItemError
                    *ngIf="form.controls.ttl?.errors?.pattern"
                  >
                    {{ positiveIntPatternZero.tip | translate }}
                  </div>
                </aui-form-item>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      (click)="save()"
      [loading]="loading"
      [disabled]="loading"
    >
      {{ dialogText.confirm | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>

<ng-template #loadBalancingTips>
  <alo-tooltip-list
    [list]="[
      'load_balancing_policy_random_tips',
      'load_balancing_policy_round_robin_tips',
      'load_balancing_policy_minimum_request_load_tips',
      'load_balancing_policy_session_retention_tips'
    ]"
  ></alo-tooltip-list>
</ng-template>
