.retention {
  &-container {
    align-items: flex-start;
    display: flex;
  }
  &-radio {
    width: 130px;
  }
  &-input {
    width: 300px;
  }
  &-httpHeaderName {
    display: flex;
    align-items: flex-start;
  }
  &-useSourceIp {
    display: flex;
    align-items: center;
  }
  &-httpCookie {
    display: flex;
    align-items: flex-start;
    .retention-input {
      ::ng-deep.aui-form-item__label-wrapper {
        padding: 0px;
      }
      margin-top: 100px;
      .size-title {
        width: 50px;
      }
      .size-center {
        text-align: center;
      }
      .size-required::before {
        content: '*';
        color: #eb6262;
        margin-right: 4px;
      }
    }
  }
}
:host::ng-deep {
  .aui-radio {
    margin: 0px 0px 11px 0px;
    &__input {
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;
    }
  }
  .retention-input {
    .aui-form-item__control {
      flex: 1;
    }
    .aui-form-item {
      margin-bottom: 10px !important;
    }
  }
}
