<div class="toolTip" [style.left.px]="tipInfo.x" [style.top.px]="tipInfo.y">
  <div [class]="type === 'node' ? 'tip-node' :'tip-line'">
    <p *ngFor="let item of tipInfo.data;let i = index;">
      <aui-icon *ngIf="i === 1 && tipInfo.status" icon="basic:arrow" [color]="config.lineStrokeColor[tipInfo.status]"></aui-icon>
      {{item}}
    </p>
  </div>
  <ng-container *ngIf="!tipInfo.data?.length">
    <div class="loading-card">
      <div class="loading">{{ 'loading' | translate }}</div>
    </div>
  </ng-container>
</div>