.toolTip {
  position: absolute;
  min-width: 140px;
  opacity: 0.7;
  background-color: #000000;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 8px 16px;
  min-height: 70px;
  .tip {
    &-node {
      p:nth-child(1),
      p:nth-child(3) {
        margin-bottom: 8px;
      }
      p:last-child {
        margin-bottom: 0px;
      }
    }
    &-line {
      p:nth-child(2) {
        margin-bottom: 8px;
      }
    }
  }
  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 16px;
  }

  .loading-card {
    min-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}
