<form
  #form="ngForm"
  auiForm
  auiFormLabelWidth="150px"
>

  <aui-inline-alert
    [closable]="true"
    [content]="'deployment_service_association_tip' | translate"
    *ngIf="notificationVisible"
    type="warning"
    (close)="notificationVisible = false"
  >
  </aui-inline-alert>

  <aui-card>
    <div auiCardHeader>
      {{ (data ? 'update_microservice' : 'create_microservice'  )| translate }}
    </div>

    <alo-microservice-form
      [(ngModel)]="microserviceModel"
      name="microserviceForm"
      [submitted]="form.submitted"
    >
    </alo-microservice-form>

    <div class="alo-mutate-page-bottom-buttons">
      <button
        type="button"
        aui-button="primary"
        [loading]="submitting"
        [disabled]="submitting"
        (click)="confirm()"
      >
        {{ (data ? 'update' : 'create') | translate }}
      </button>
      <button
        type="button"
        aui-button
        [disabled]="submitting"
        (click)="cancel()"
      >
        {{ 'cancel' | translate }}
      </button>
    </div>
  </aui-card>
</form>
