<aui-dialog-header>{{ dialogText.title | translate }}</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="90px">
    <aui-form-item *ngIf="!data.hideName">
      <label auiFormItemLabel>
        {{ 'service' | translate}}
      </label>
      <ng-container *ngIf="!data.isUpdate;else updateName">
        <aui-select
          auiFormItemControl
          name="service"
          #serve="ngModel"
          required
          [(ngModel)]="viewModel.name"
          [loading]="loading"
          [placeholder]="'please_select_service' | translate"
        >
          <ng-container *ngFor="let service of services$ | async">
            <aui-option
              [value]="service.host"
              [disabled]="data.services.includes(service.host)"
              [auiTooltip]="'same_service_tip' | translate"
              [auiTooltipDisabled]="!data.services.includes(service.host)"
              >
              {{ service.host }}
            </aui-option>
          </ng-container>
          <aui-option-placeholder>{{'no_match_result' | translate}}</aui-option-placeholder>
        </aui-select>
      </ng-container>
      <ng-template #updateName>
          <div auiFormItemControl> {{viewModel.name}} </div>
      </ng-template>
      <div auiFormItemError *ngIf="form.controls.service?.errors?.required">
          {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'rule' | translate}}
      </label>
      <aui-radio-group
        required
        name="mode"
        [(ngModel)]="viewModel.mode"
      >
        <aui-radio-button value="PERMISSIVE">
          {{ 'compatibility_mode' | translate }}
        </aui-radio-button>
        <aui-radio-button value="STRICT">
          {{ 'strict_mode' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
    <div>
      <button aui-button="primary" (click)="save()"  [loading]="loading" [disabled]="loading">
        {{ dialogText.confirm | translate }}
      </button>
      <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
    </div>
</aui-dialog-footer>