<form #form="ngForm" auiForm [ngClass]="{'host-bg-color': host}">
  <ng-container *ngIf="host">
    <aui-form-item *ngIf="!hideHost">
      <label auiFormItemLabel>{{ 'service' | translate }}</label>
      <div auiFormItemControl>{{ host }}</div>
    </aui-form-item>
  
    <aui-form-item>
      <label auiFormItemLabel> {{ 'load_balancing_policy' | translate}}</label>
      <div auiFormItemControl> {{ loadBalancer | pure: strategyPure | translate }}</div>
    </aui-form-item>
  </ng-container>
  <ng-container *ngIf="loadBalancer?.consistentHash">
    <aui-form-item>
      <label auiFormItemLabel> {{ loadBalancer.consistentHash | pure: getLabelName}} </label>
      <ng-container *ngFor="let item of loadBalancer.consistentHash | keyvalue">
        <div auiFormItemControl *ngIf="item.key !== 'httpCookie'"> {{item | pure: getValueName}}</div>
        <div class="cookie-form">
          <ng-container *ngIf="item.key === 'httpCookie'">
            <div class="ellipsis" *ngFor="let item of item.value | keyvalue" title="{{item.key}} = {{item.value || '-'}}"> 
              <label> {{item.key}}</label> = <span> {{item.value || '-'}}</span>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </aui-form-item>
  </ng-container>
</form>