@import 'mixins';
:host::ng-deep {
  .aui-form-item {
    margin-bottom: 0;
  }
  .aui-form-item__container {
    overflow: hidden;
  }
}
.host-bg-color {
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 5px 0 5px 12px;
}
form {
  .cookie-form {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .ellipsis {
    @include text-overflow;
  }
}
