<ng-container *aloAsyncData="let data; handler: fetch; params: params$ | async">
  <header *ngIf="strategyList">
    <button plain="true" aui-button="primary" [auiDropdown]="policyMenu">
      {{ 'create_policy' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #policyMenu>
      <ng-container *ngFor="let menu of displayStrategyItem">
        <acl-disabled-container
          *ngIf="!menu.childer"
          [isAllowed]="(menu.permissions | async)?.create"
          tooltipPosition="start top"
          [isDisabled]="policyExisted[menu.type]"
          [tooltip]="'existed' | translate"
        >
          <aui-menu-item (click)="openCreatePolicyDialog(menu.type)">
            {{ menu.name | translate }}
          </aui-menu-item>
        </acl-disabled-container>

        <aui-submenu *ngIf="menu.childer">
          {{ menu.name | translate }}
          <aui-menu-item
            [auiTooltip]="
              (policyExisted['http'] ? 'existed' : 'forbidden') | translate
            "
            auiTooltipPosition="end top"
            [auiTooltipDisabled]="
              !policyExisted['http'] && (menu.permissions | async)?.create
            "
            [disabled]="
              policyExisted['http'] || !(menu.permissions | async)?.create
            "
            (click)="openCreatePolicyDialog(menu.type, 'http')"
          >
            HTTP/HTTP2
          </aui-menu-item>
          <!-- TODO: 先隐藏暂时不支持tcp -->
          <!-- <aui-menu-item
            [auiTooltip]="(policyExisted['tcp'] ? 'existed' : 'forbidden') | translate"
            auiTooltipPosition="end top"
            [auiTooltipDisabled]="!policyExisted['tcp'] && (menu.permissions | async).create"
            [disabled]="policyExisted['tcp'] || !(menu.permissions | async).create"
            (click)="openCreatePolicyDialog(menu.type, 'tcp')"
          >TCP</aui-menu-item> -->
        </aui-submenu>
      </ng-container>
    </aui-menu>
  </header>

  <aui-table auiSort [dataSource]="data">
    <ng-container auiTableColumnDef="strategy_type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'strategy_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell
        *auiTableCellDef="let item"
        title="{{
          (item.name | translate) +
            ' ' +
            (item?.describe | pure: getConnectionPoolTypeName)
        }}"
      >
        {{ item.name | translate }}
        <ng-container *ngIf="['http', 'tcp'].includes(item?.describe)">
          <br />
        </ng-container>
        {{ item?.describe | pure: getConnectionPoolTypeName }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="strategy_details">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'strategy_details' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div [ngSwitch]="item.type">
          <div *ngSwitchCase="strategyType.LOADBALANCER">
            {{ item.originalData.spec | pure: strategyPure | translate }}
            <alo-load-balancing-detail
              [loadBalancer]="item.originalData.spec"
            ></alo-load-balancing-detail>
          </div>
          <div *ngSwitchCase="strategyType.OUTLIERDETECTION">
            <alo-strategy-table-detail
              [data]="item"
              [describe]="item.describe"
            ></alo-strategy-table-detail>
          </div>
          <div *ngSwitchCase="strategyType.CONNECTIONPOOL">
            <alo-strategy-table-detail
              [data]="item"
              [describe]="item.describe"
            ></alo-strategy-table-detail>
          </div>
          <div *ngSwitchDefault>
            {{ item.detail | translate }}
          </div>
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="create_by">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_by' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.originalData | aloCreator | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="created_at">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.originalData | aclCreationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alo-menu-trigger
          [menu]="actionsMenu"
          [context]="{ item: item }"
        ></alo-menu-trigger>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <alo-no-data
    *ngIf="!data?.length || !data"
    [resourceName]="'strategy' | translate"
  ></alo-no-data>
</ng-container>

<aui-menu #actionsMenu>
  <ng-template auiMenuContent let-item="item">
    <acl-disabled-container
      tooltipPosition="start"
      [isAllowed]="(item.type | pure: getPermissions | async).update"
    >
      <aui-menu-item (click)="openUpdateDialog(item.type, item)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>

    <acl-disabled-container
      tooltipPosition="start"
      [isAllowed]="(item.type | pure: getPermissions | async).delete"
    >
      <aui-menu-item (click)="openDeleteDialog(item.type, item)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
