:host {
  header {
    margin-bottom: 10px;
  }
  .aui-table__column {
    &-strategy_type {
      flex: 1.2;
    }
    &-strategy_details {
      flex: 2;
    }
    &-create_by {
      flex: 1;
    }
    &-created_at {
      flex: 0.6;
    }
  }
}
.aui-table {
  min-width: 0px;
  &__column-action {
    max-width: 40px;
  }
}
