<alo-array-form-table
  [noRowSeparator]="true"
  [rows]="form?.controls"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [keepLastOne]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *aloArrayFormTableRow="let control" [formGroup]="control">
    <td
      [class.hasError]="
        control.get('path').touched && control.get('path').invalid
      "
    >
      <input
        [placeholder]="'path_rule_tip' | translate"
        auiFormItemControl
        aui-input
        [formControl]="control.get('path')"
      />
    </td>
  </ng-container>

  <ng-container *aloArrayFormTableRow="let control">
    <td
      colspan="2"
      class="alo-table-form-error-hint"
      *ngIf="control.get('path').hasError('pattern')"
    >
      {{ 'path_rule_err_tip' | translate }}
    </td>
    <td
      colspan="2"
      class="alo-table-form-error-hint"
      *ngIf="
        control.get('path').dirty &&
        control.get('path').hasError('pathConflict')
      "
    >
      {{ 'path_conflict_error' | translate }}
    </td>
    <td
      colspan="2"
      class="alo-table-form-error-hint"
      *ngIf="submitted && control.get('path').hasError('required')"
    >
      {{ 'required' | translate }}
    </td>
  </ng-container>
</alo-array-form-table>
