<acl-page-state [adapter]="dataLoader">
  <ng-template let-resource>
    <alo-route-base-info-detail
      *ngIf="resource"
      [data]="resource?.metadata || {}"
      [state]="enabled"
      [effective]="effective"
      [permissions]="permissions$ | async"
      (actions)="triggerAction($event)"
    ></alo-route-base-info-detail>
    <ng-container
      *ngIf="
        resource &&
        serviceMesh &&
        (resource | pure: getConditions) as conditions
      "
    >
      <div class="condition">
        <div auiCardHeader>{{ 'condition_rule' | translate }}</div>

        <div class="condition-body">
          <div
            class="condition-item"
            *ngFor="
              let condition of conditions;
              let index = index;
              trackBy: trackByFn
            "
          >
            <div class="header">
              <div class="header-action">
                <div class="alo-detail">
                  <div class="alo-detail__row">
                    <div class="alo-detail__field">
                      <label>{{ 'workload' | translate }}</label>
                      <span>
                        {{ condition.route[0] | pure: getWorkloadName }}
                      </span>
                    </div>
                    <div class="alo-detail__field">
                      <label>{{ 'version' | translate }}</label>
                      <span>
                        {{ condition.route[0]?.destination.subset }}
                        <div *ngIf="!condition.route[0]?.destination.subset">
                          <aui-icon
                            class="abnormal"
                            icon="info_circle_s"
                            [auiTooltip]="'version_abnormal_tip' | translate"
                            auiTooltipPosition="top"
                          ></aui-icon>
                          {{ 'version_abnormal' | translate }}
                        </div>
                      </span>
                    </div>
                    <div class="alo-detail__field">
                      <span>
                        {{ 'condition_rule' | translate }}({{
                          condition.match.length
                        }})
                      </span>
                      <img
                        *ngIf="existingStrategy(condition)"
                        [auiTooltip]="'existing_strategy_tip' | translate"
                        class="strategy"
                        src="icons/microservice/strategy_management.svg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="priority">
                <div class="ribbon-lanren-green">
                  <div class="ribbon-green">
                    {{ 'priority' | translate }}{{ index + 1 }}
                  </div>
                </div>
              </div>
            </div>
            <alo-route-conditions-table
              [data]="condition"
              [namespace]="namespace"
              [cluster]="cluster"
              [routeModel]="routeModel"
              [allowedUpdate]="(permissions$ | async).update"
              [services]="serviceMesh"
              [priorityIndex]="getIndex(index)"
              (updated)="refresh()"
            ></alo-route-conditions-table>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="weights" *ngIf="resource">
      <div class="header">
        {{ 'weight_rule' | translate }}
        <div fxFlex></div>
        <alo-route-policy-selector
          *ngIf="routeModel"
          [namespace]="namespace"
          [cluster]="cluster"
          [routeModel]="routeModel"
          [allowedUpdate]="(permissions$ | async).update"
          (updated)="refresh()"
        ></alo-route-policy-selector>
      </div>
      <alo-route-weights-table
        *ngIf="resource && serviceMesh"
        [isWorkload]="true"
        [data]="resource | pure: getWeights"
      ></alo-route-weights-table>
      <alo-route-traffic-table
        *ngIf="serviceMesh"
        [services]="serviceMesh"
        [routeModel]="routeModel"
        [namespace]="namespace"
        [cluster]="cluster"
        [allowedUpdate]="(permissions$ | async).update"
        (updated)="refresh()"
      ></alo-route-traffic-table>
    </div>
  </ng-template>
</acl-page-state>
