@import 'var';
@import '../route-base';
:host {
  .condition {
    padding: 20px;
    border-bottom: 1px solid $card-border-color;
    .header {
      position: relative;
      line-height: 57px;
      margin-bottom: 15px;
      .alo-detail {
        padding-left: 90px;
      }
      .strategy {
        margin-left: 12px;
      }
    }
    &-body {
      background: #fafafa;
      padding: 12px;
    }
    &-item {
      background: #fff;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:last-child {
        padding-bottom: 20px;
      }
    }
  }
  .weights {
    padding: 20px;
    .header {
      align-items: center;
      padding-bottom: 16px;
      font-size: 16px;
    }
  }
  .abnormal {
    color: $color-warning;
    font-size: 16px;
  }
}
