<form [formGroup]="form" auiForm auiFormLabelWidth="106px">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'name' | translate }}
    </label>
    <ng-container *ngIf="!paramsData.update; else elseTemplate">
      <input
        auiFormItemControl
        required
        aui-input
        [formControl]="form.get('metadata.name')"
        [pattern]="servicePattern.pattern"
        maxlength="63"
        [placeholder]="servicePattern.tip | translate"
      />
    </ng-container>
    <ng-template #elseTemplate>
      {{ paramsData.name }}
    </ng-template>
    <div auiFormItemError *ngIf="form.get('metadata.name').errors?.required">
      {{ 'required' | translate }}
    </div>
    <div
      auiFormItemError
      *ngIf="form.get('metadata.name').errors?.pattern && !paramsData.update"
    >
      {{ servicePattern.tip | translate }}
    </div>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'ports' | translate }}
    </label>
    <div class="ports" auiFormItemControl required>
      <alo-service-ports
        (blur)="onBlur()"
        [formControl]="form.get('spec.ports')"
        [submitted]="submitted"
      ></alo-service-ports>
    </div>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'service_version' | translate }}
    </label>

    <ng-container *ngFor="let deploy of paramsData?.deployments">
      <aui-tag type="info" size="small">
        {{ deploy.name + '-' + deploy.version }}
      </aui-tag>
    </ng-container>
  </aui-form-item>
</form>
