@import 'mixins';
:host {
  display: block;
}

.toolbar {
  align-items: center;
  .flex-space {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.cluster-actions {
  display: flex;
  aui-icon,
  a {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    border-radius: 2px;
    padding: 4px 6px;
    color: #999;
    &:first-child {
      width: 28px;
      height: 28px;
    }
  }
  .switch-cluster {
    height: 28px;
    max-width: 320px;
    cursor: default;
    span {
      min-width: 0;
      @include text-overflow;
    }
    aui-icon {
      display: inline-flex;
    }
  }
  .exist {
    cursor: pointer;
    &:link,
    &:visited {
      color: #999;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
      aui-icon {
        color: #fff;
      }
    }
  }
}

.clusters-menu {
  .aui-menu {
    max-height: 400px;
    max-width: 320px;
    overflow: hidden;
    padding: 8px 0;
  }
}
.cluster-search {
  width: 93%;
  margin: 2px auto 12px auto;
}
.cluster-items {
  overflow-y: auto;
  max-height: 240px;
}
.header-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
