<aui-page>
  <ng-container *auiPageHeader>
    <div class="header-left">
      <alo-logo></alo-logo>
    </div>
    <alo-global-actions></alo-global-actions>
  </ng-container>

  <div *auiPageSider>
    <aui-platform-nav
      [activatedKey]="activatedKey$ | async"
      [items]="configs$ | async | pure: filterEnabled | async"
      [hideMainPanelToggle]="true"
      (activatedItemChange)="switch$.next($event)"
    ></aui-platform-nav>
  </div>

  <div *auiPageToolbar>
    <ng-container
      *cdkPortalOutlet="pageHeaderContentTemplate$ | async"
    ></ng-container>
    <!-- <div class="global-loader" [class.loading]="showLoadingBar$ | async"></div> -->
  </div>
  <div *auiPageContent class="layout-page-content">
    <acl-page-guard
      [allowed]="globalPermission.showSwitchView$ | async"
      [reason]="reason.NoPermission"
    >
      {{ globalPermission.showSwitchView$ | async }}
      <router-outlet *aclPageGuardContent></router-outlet>
    </acl-page-guard>
  </div>
</aui-page>
