.legend {
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  display: flex;
  padding: 20px;
  color: #333;
  .title {
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  &-color {
    padding: 0 20px;
    &:not(:last-child) {
      border-right: 1px solid #ededed;
    }
    &-container {
      flex-direction: column;
      div {
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        display: flex;
      }
    }
    p {
      padding-left: 4px;
      white-space: nowrap;
    }
  }
  &-node {
    border-right: 1px solid #ededed;
    &-container {
      display: flex;
      // width: 210px;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &-item {
      display: flex;
      flex: 1;
      margin-bottom: 8px;
      // 暂时 gateway节点不展示，排成一列
      // &:not(:nth-last-child(-1n + 2)) {
      //   margin-bottom: 8px;
      // }
      p {
        width: 100px;
        padding-left: 4px;
        white-space: nowrap;
      }
      &:nth-child(even) {
        flex: 2;
        p {
          width: 70px;
        }
      }
    }
  }
}
