<div class="legend">
  <div class="legend-node">
    <div class="title">{{ 'node_type' | translate }}</div>
    <div class="legend-node-container">
      <div class="legend-node-item" *ngFor="let item of nodeTypes">
        <aui-icon color="#999" size="13" [icon]="item.icon"></aui-icon>
        <p>{{ item.name }}</p>
      </div>
    </div>
  </div>

  <div class="legend-color">
    <div class="title">{{ 'node_tag' | translate }}</div>
    <div class="legend-color-container">
      <div *ngFor="let item of nodeTag">
        <aui-icon [color]="item.color" size="13" [icon]="item.icon"></aui-icon>
        <p>{{ item.name | translate }}</p>
      </div>
    </div>
  </div>

  <div class="legend-color">
    <div class="title">{{ 'node_color' | translate }}</div>
    <div class="legend-color-container">
      <div *ngFor="let item of nodeColors">
        <aui-icon [color]="item.color" size="13" [icon]="item.icon"></aui-icon>
        <p>{{ item.name | translate }}</p>
      </div>
    </div>
  </div>

  <div class="legend-color">
    <div class="title">{{ 'connection_color' | translate }}</div>
    <div class="legend-color-container">
      <div *ngFor="let item of lineColors">
        <aui-icon [color]="item.color" size="13" [icon]="item.icon"></aui-icon>
        <p>{{ item.name | translate }}</p>
      </div>
    </div>
  </div>
</div>
