<svg:g *ngFor="let group of groupMap | aloMapValues">
  <rect
    [attr.x]="group.position.x"
    [attr.y]="group.position.y + 10"
    [attr.width]="group.size.width"
    [attr.height]="group.size.height"
    fill="none"
    [attr.stroke]="group.stroke"
    stroke-width="1.5"
    [attr.opacity]="
      (opacityed$ | async) ? 1 : getStrokeOpacity(nodeStatus.has(group.id))
    "
  ></rect>
  <text
    [attr.x]="group.text.x"
    [attr.y]="group.text.y"
    font-size="14"
    text-anchor="middle"
    [attr.fill]="group.text.fill"
    [attr.opacity]="
      (opacityed$ | async) ? 1 : getStrokeOpacity(nodeStatus.has(group.id))
    "
  >
    {{ group.name }}
  </text>
</svg:g>
