.routing-rule {
  &__header {
    font-size: 12px;
    color: #999;
  }
  .rule {
    display: flex;
    width: 100%;
    .icon-question {
      line-height: 32px;
      color: #999;
      padding-left: 8px;
    }
  }
}
:host ::ng-deep {
  .alo-form-table th {
    font-weight: 400;
  }
}
