<form
  auiForm
  [formGroup]="form"
  class="routing-rule"
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'condition_rule' | translate }}
    </label>
    <div class="rule" auiFormItemControl>
      <alo-condition-rule
        [formControl]="form.get('condition.http')"
        [services]="services"
        *ngIf="services"
        [namespace]="namespace"
        [cluster]="cluster"
        (blur)="onBlur()"
      ></alo-condition-rule>
    </div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'weight_rule' | translate }}
    </label>
    <div class="rule" auiFormItemControl required>
      <alo-weight-rule
        flex="1"
        *ngIf="services && subsets"
        [formControl]="form.get('http.route')"
        [services]="services"
        [namespace]="namespace"
        [cluster]="cluster"
        [subsets]="subsets"
        [isRule]="true"
        [deployments]="deployments"
        disaplayRequired="true"
        (blur)="onBlur()"
      ></alo-weight-rule>
    </div>
    <div auiFormItemAddon>
      <aui-icon
        class="icon-question"
        icon="basic:question"
        [auiTooltip]="tooltipList"
      ></aui-icon>
    </div>
  </aui-form-item>
</form>
<ng-template #tooltipList>
  <alo-tooltip-list [list]="['rule_tip1', 'rule_tip2']"></alo-tooltip-list>
</ng-template>
