<aui-dialog-header>
  {{
    (data.isCreate ? 'create_abort_injection' : 'update_abort_injection')
      | translate
  }}
  <aui-icon
    class="question-icon"
    [auiTooltip]="'abort_injection_title_tips' | translate"
    icon="basic:question"
  ></aui-icon>
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="114px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'http_status' | translate }}</label>
      <input
        auiFormItemControl
        name="httpStatus"
        #httpStatus="ngModel"
        aui-input
        required
        [pattern]="httpStatusCodePattern.pattern"
        [placeholder]="httpStatusCodePattern.tip | translate"
        [(ngModel)]="injectionParams.abort.httpStatus"
      />
      <div
        auiFormItemError
        *ngIf="httpStatus.errors?.pattern || httpStatus.errors?.pattern"
      >
        {{ httpStatusCodePattern.tip | translate }}
      </div>
      <div auiFormItemError *ngIf="httpStatus.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'fault_percentage' | translate }}</label>
      <aui-input-group>
        <input
          auiFormItemControl
          name="faultPercentage"
          #faultPercentage="ngModel"
          [pattern]="percentagePattern.pattern"
          [placeholder]="percentagePattern.tip | translate"
          aui-input
          required
          [(ngModel)]="injectionParams.abort.percentage.value"
        />
        <span auiInputAddonAfter>%</span>
      </aui-input-group>
      <div auiFormItemError *ngIf="faultPercentage.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="faultPercentage.errors?.pattern">
        {{ percentagePattern.tip | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="save()" [loading]="submitting">
      {{ (data.isCreate ? 'create' : 'update') | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
