@import '../../../../shared/route-component/route-base';
:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  aui-card {
    position: relative;
  }
  .workload {
    margin-left: 90px;
  }
  .rule-container {
    background-color: #fafafa;
    padding: 8px;
    margin-bottom: 10px;
  }
  ::ng-deep {
    .rule-header {
      .aui-card {
        padding: 17px;
      }
    }
  }
}
