<form
  auiForm
  [formGroup]="form"
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <div class="rule-container">
    <aui-card class="rule-header">
      <div class="header-action">
        <div class="alo-detail">
          <div class="alo-detail__row">
            <div class="alo-detail__field">
              <label class="workload">{{ 'workload' | translate }}</label>
              <span class="displayname">
                {{ deployment?.name }}
              </span>
            </div>
            <div class="alo-detail__field">
              <label>{{ 'version' | translate }}</label>
              <span title="{{ deployment?.version }}">
                {{ deployment?.version }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="priority">
        <div class="ribbon-lanren-green">
          <div class="ribbon-green">
            {{ 'priority' | translate }}{{ this.index + 1 }}
          </div>
        </div>
      </div>
    </aui-card>
    <alo-condition-rule-array
      flex="1"
      formControlName="match"
      (blur)="onBlur()"
      setup="true"
    ></alo-condition-rule-array>
  </div>
</form>
