<aui-inline-alert
  [closable]="true"
  [content]="'gateway_tip' | translate"
  *ngIf="notificationVisible"
  (close)="notificationVisible = false"
></aui-inline-alert>

<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_istio_gateway' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<aui-card *aloVar="let data; from: list.items$ | async">
  <div class="list-header">
    <acl-disabled-container [isAllowed]="creatable$ | async">
      <button aui-button="primary" (click)="createGateway()">
        {{ 'create_gateway' | translate }}
      </button>
    </acl-disabled-container>

    <div fxFlex></div>
    <aui-search
      [keyword]="keywords$ | async"
      [placeholder]="'search_by_name_placeholder' | translate"
      [searchButton]="true"
      [searching]="list.loading$ | async"
      (search)="search($event)"
    ></aui-search>
  </div>
  <div auiCardContent class="router-table">
    <aui-table [dataSource]="data">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <a
            class="highlight-name"
            href="javascript:void(0)"
            [routerLink]="['./', item | aclName]"
          >
            {{ item | aclName }}
          </a>
          <br />
          <span class="display-name">
            {{ item | aclDisplayName }}
          </span>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="gateway_entry">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'gateway_entry' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{
            (item | pure: getServiceEntry) +
              ':' +
              (istioIngressGateway$ | async)
          }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="microservice">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'nav_microservice' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <a
            href="javascript:void(0)"
            (click)="viewMicroservice(getMicroService(item))"
          >
            {{ getMicroService(item) }}
          </a>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="creator">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'create_by' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | aclCreator | aclFieldNotAvailable }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="creationTimestamp">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'created_at' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | aclCreationTimestamp | aclRelativeTime }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <alo-menu-trigger [menu]="menu" size="small"></alo-menu-trigger>
          <aui-menu #menu size="small">
            <acl-disabled-container
              [isAllowed]="deleted$ | async"
              [tooltip]="'releasing_cant_delete' | translate"
            >
              <aui-menu-item (click)="delete(item)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </aui-menu>
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
  </div>
  <alo-resource-list-footer
    [resourceName]="'nav_istio_gateway' | translate"
    [list]="list"
  ></alo-resource-list-footer>
</aui-card>
