:host {
  .list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .aui-table {
    min-width: 0;
    &__column-action {
      max-width: 40px;
    }
  }
}
