<aui-dialog-header>
  {{ 'set_condition_rules' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'condition_rule' | translate }}
      </label>
      <alo-condition-rule-container
        [(ngModel)]="conditionModel"
        [deployment]="data.deployment"
        (ngModelChange)="formChange($event)"
        name="conditionForm"
        [index]="index"
      ></alo-condition-rule-container>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="confirm()">
      {{ 'confirm' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
