<div *ngIf="isEmptyList$ | async" class="empty-placeholder">
  {{
    resourceName
      ? ('no_resource' | translate: { resourceName: resourceName })
      : ('no_data' | translate)
  }}
</div>

<div *ngIf="!(isEmptyList$ | async)" class="container">
  <ng-container *aloVar="let error; from: list.loadingError$ | async">
    <ng-container *ngIf="error">
      <ng-container [ngSwitch]="error?.code">
        <div *ngSwitchCase="403">
          <span>{{ 'forbidden' | translate }}</span>
        </div>

        <div *ngSwitchCase="410">
          <span>
            {{ 'list_data_has_expired' | translate }},
            {{ 'please' | translate }}
          </span>
          <button aui-button="text" size="small" (click)="list.reload()">
            {{ 'refresh' | translate }}
          </button>
          <span>{{ 'or' | translate }}</span>
          <button aui-button="text" size="small" (click)="list.loadMore()">
            {{ 'continue_load' | translate }}
          </button>
        </div>

        <div *ngSwitchDefault>
          <span
            >{{ 'loading_error' | translate }}, {{ 'please' | translate }}</span
          >
          <button aui-button="text" size="small" (click)="retry()">
            {{ 'retry' | translate }}
          </button>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!error">
      <div *ngIf="list.loading$ | async" class="loading">
        <aui-icon icon="spinner" margin="right"></aui-icon>
        <span>{{ 'load' | translate }}</span>
      </div>
      <ng-container *ngIf="!(list.loading$ | async)">
        <div *ngIf="list.hasMore$ | async">
          <button aui-button="text" size="small" (click)="list.loadMore()">
            {{ 'load_more' | translate }}
          </button>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<aui-back-top></aui-back-top>
