@import 'var';
@import 'mixins';
@import '~@alauda/ui/theme/pattern';

.table-placeholder {
  @include table-placeholder;
}
.empty-placeholder {
  @include table-placeholder();
}

.container > div {
  margin-top: 16px;
  text-align: center;
  font-size: $font-size-regular;
  color: $color-text-main;
}
