<ng-container *ngIf="user$ | async as user">
  <div class="user-actions">
    <acl-platform-center-nav></acl-platform-center-nav>
    <div
      class="user-action user-action-view"
      *ngIf="!hideViewSwitch && globalPermission.showSwitchView$ | async"
      (click)="switchView()"
    >
      <span class="view-switch">
        <span class="view-switch-bg"></span>
        <span
          class="view-switch-btn"
          [class.admin]="isAdminView"
          [@viewState]="currentView"
        >
          <aui-icon
            icon="basic:project_s"
            title="{{ 'switch_to_admin' | translate }}"
            size="14px"
            *ngIf="!isAdminView"
          ></aui-icon>
          <aui-icon
            icon="basic:setting"
            title="{{ 'switch_to_user' | translate }}"
            size="14px"
            *ngIf="isAdminView"
          ></aui-icon>
        </span>
      </span>
    </div>
    <a
      [href]="helpUrl"
      target="_blank"
      title="{{ 'view_help' | translate }}"
      class="user-action user-action-help"
    >
      <aui-icon icon="basic:question"></aui-icon>
    </a>
    <acl-account-menu></acl-account-menu>
  </div>
</ng-container>
