.timeRange {
  font-size: 14px;
  ::ng-deep {
    .aui-input[readonly] {
      background: none;
    }
    aui-select,
    aui-search,
    .list__header-calendar-divider {
      margin: 0 8px;
    }
    .aui-button {
      margin-left: 8px;
    }
  }
}
