<div flex fxLayoutAlign="start">
  <div class="timeRange">
    <div fxLayoutAlign="center center">
      <div fxFlex></div>
      <aui-select [(ngModel)]="range" (ngModelChange)="changeRangeType($event)">
        <aui-option
          *ngFor="let range of tiemRanges"
          [label]="range.name | translate"
          [value]="range.name"
        >
          {{ range.name | translate }}
        </aui-option>
      </aui-select>

      <div
        (onClose)="startTimeSelect($event)"
        [aloCalendar]="customDateTimeOptions"
        [(value)]="calendarData.start"
      >
        <aui-input-group>
          <input
            aui-input
            (ngModelChange)="startTimeSelect($event)"
            [ngModel]="calendarData.start"
            name="start"
          />
          <aui-icon auiInputSuffix icon="basic:calendar"></aui-icon>
        </aui-input-group>
      </div>
      <span class="list__header-calendar-divider">
        {{ 'to' | translate }}
      </span>

      <div
        (onClose)="endTimeSelect($event)"
        [aloCalendar]="customDateTimeOptions"
        [(value)]="calendarData.end"
      >
        <aui-input-group>
          <input
            aui-input
            (ngModelChange)="endTimeSelect($event)"
            [ngModel]="calendarData.end"
            name="end"
          />
          <aui-icon auiInputSuffix icon="basic:calendar"></aui-icon>
        </aui-input-group>
      </div>
    </div>
  </div>
</div>
