<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_servicemesh' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<aui-card [divider]="false">
  <div auiCardHeader>
    <acl-disabled-container [isAllowed]="creatable$ | async">
      <button aui-button="primary" [routerLink]="['../create']">
        {{ 'create_service_mesh' | translate }}
      </button>
    </acl-disabled-container>

    <div fxFlex></div>
    <aui-search
      [keyword]="keywords$ | async"
      [placeholder]="'search_by_name_placeholder' | translate"
      [searchButton]="true"
      [searching]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (search)="search($event)"
    ></aui-search>
  </div>

  <div auiCardContent>
    <alo-service-mesh-list-table
      [data]="list.items$ | async"
    ></alo-service-mesh-list-table>
    <alo-resource-list-footer
      [resourceName]="'nav_servicemesh' | translate"
      [list]="list"
    ></alo-resource-list-footer>
  </div>
</aui-card>
