<aui-page>
  <ng-container *auiPageHeader>
    <div class="header-left">
      <alo-logo></alo-logo>
      <div class="toolbar">
        <a
          title="{{ 'go_namespace_list' | translate }}"
          class="project-icon disabled"
        >
          <aui-icon icon="basic:project_s" size="16px"></aui-icon>
        </a>
        <acl-project-select
          [selected]="projectName$ | async"
          (selectedChange)="projectSelected($event)"
        ></acl-project-select>
      </div>
    </div>
    <alo-global-actions></alo-global-actions>
  </ng-container>

  <div *auiPageToolbar>
    <alo-breadcrumb>
      <ng-template aloBreadcrumbItem>
        <span>
          {{ 'namespace' | translate }}
        </span>
      </ng-template>
    </alo-breadcrumb>
    <!-- <div class="global-loader" [class.loading]="showLoadingBar$ | async"></div> -->
  </div>

  <main *auiPageContent>
    <aui-card [divider]="false">
      <div
        fxLayout
        fxLayoutAlign="space-between stretch"
        auiCardHeader
        class="overview-header"
      >
        <div *ngIf="clustersLength$ | async" fxLayout="row wrap">
          <aui-tag
            [type]="currentCluster ? 'info' : 'primary'"
            (click)="clusterSelected(null)"
          >
            {{ 'total_clusters' | translate }}
          </aui-tag>
          <ng-container
            *ngFor="
              let cluster of clusters$ | async;
              trackBy: trackByClusterName
            "
          >
            <aui-tag
              [type]="
                currentCluster?.name === cluster.name ? 'primary' : 'info'
              "
              (click)="clusterSelected(cluster)"
            >
              {{ cluster.display_name || cluster.name }}
            </aui-tag>
          </ng-container>
        </div>
        <div fxFlex></div>
        <div
          fxFlex="0 0 12em"
          fxLayout="column"
          fxLayoutAlign="end"
          style="margin-left: 20px;"
        >
          <aui-search
            [searchButton]="false"
            placeholder="{{ 'filter_by_name_placeholder' | translate }}"
            (keywordChange)="search$.next($event)"
          ></aui-search>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        class="overview-empty"
        *ngIf="!projects"
      >
        {{ 'projects_empty_hint' | translate }}
      </div>
      <ng-container *ngIf="projects">
        <aui-table
          [dataSource]="filteredNamespaces$ | async"
          [trackBy]="trackByNamespaceUuid"
        >
          <ng-container auiTableColumnDef="name">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'name' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <div class="namespace-name">
                {{ item.name }}
              </div>
              <div
                class="aui-table__cell__display-name"
                *ngIf="item.display_name"
              >
                {{ item.display_name }}
              </div>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="cluster">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'cluster' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.cluster_display_name || item.cluster_name }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="serviceMesh">
            <aui-table-header-cell *auiTableHeaderCellDef>
              Service Mesh
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <ng-container *ngIf="clustersDeployedStatus">
                <div
                  *ngIf="
                    item.cluster_name | pure: isClusterDeployedServiceMesh;
                    else notDeployed
                  "
                >
                  <alo-status-icon
                    [status]="item.service_mesh.status"
                  ></alo-status-icon>
                  {{ item.service_mesh.text | translate }}
                </div>
                <ng-template #notDeployed>
                  <div>
                    <alo-status-icon [status]="'cancel'"></alo-status-icon>
                    {{ 'not_deployed' | translate }}
                  </div>
                </ng-template>
              </ng-container>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="create_time">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'create_at' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.create_time | aclRelativeTime }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="action">
            <aui-table-header-cell
              *auiTableHeaderCellDef
            ></aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <button
                aui-button="primary"
                [plain]="true"
                size="small"
                (click)="enterNamespace(item)"
                [disabled]="
                  !(
                    clustersDeployedStatus && item.cluster_name
                    | pure: isClusterDeployedServiceMesh
                  ) || item.service_mesh?.status !== 'success'
                "
              >
                {{ 'enter' | translate }}
              </button>
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row
            *auiTableHeaderRowDef="columns"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="let row; columns: columns"
          ></aui-table-row>
        </aui-table>
        <alo-no-data
          *ngIf="!(namespacesLength$ | async)"
          [resourceName]="'namespace' | translate"
        ></alo-no-data>
      </ng-container>
    </aui-card>
  </main>
</aui-page>
