@import 'var';

:host {
  .toolbar {
    display: flex;
    align-items: center;
    .project-icon {
      height: 28px;
      width: 28px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-text-help;
    }
  }
  .header-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .aui-table__column-name {
    .namespace-name {
      font-size: 16px;
    }
  }
  .aui-table__column-action {
    flex: 0 0 120px;
  }
  .aui-table__cell__display-name {
    font-size: 12px;
    color: $color-text-help;
  }
  .overview-empty {
    height: 120px;
    color: $color-text-placeholder;
  }
  aui-tag {
    cursor: pointer;
    margin-top: 8px;
  }
  ::ng-deep {
    .aui-tag {
      border-width: 0;
    }
    .aui-tag-info .aui-tag-content {
      color: $color-text-main;
    }
  }
}
