@import 'var';
.traffic-contrast {
  display: flex;
  aui-status-bar {
    width: 100%;
  }
  .status-bar {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 12px;
  }
}
.traffic-card {
  width: 100px;
  padding: 8px 6px;
  background-color: #f2f2f2;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .data {
    font-size: 28px;
    font-weight: 500;
    margin: 8px 0;
    text-align: center;
  }
  .icon {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    border-radius: 2px;
  }
  .new-version {
    background-color: $color-primary;
  }
  .old-version {
    background-color: $color-success;
  }
}
