<acl-page-state [adapter]="dataLoader">
  <ng-template let-resource>
    <ng-container>
      <ng-container *aloPageHeaderContent>
        <alo-breadcrumb>
          <ng-template aloBreadcrumbItem>
            <span>
              <a href="javascript:void(0)" [routerLink]="['../../']">
                {{ 'nav_gray_release' | translate }}
              </a>
            </span>
          </ng-template>
          <ng-template aloBreadcrumbItem>
            <span>
              <a href="javascript:void(0)" [routerLink]="['../']">
                {{ name }}
              </a>
            </span>
          </ng-template>
          <ng-template aloBreadcrumbItem>
            <span>
              {{ id }}
            </span>
          </ng-template>
        </alo-breadcrumb>
      </ng-container>
    </ng-container>

    <aui-card>
      <div auiCardHeader>{{ id }}</div>
      <div class="alo-detail">
        <div class="alo-detail__row">
          <div class="alo-detail__field">
            <label>{{ 'nav_gray_release' | translate }}</label>
            <span>
              <a href="javascript:void(0)" [routerLink]="['../']">
                {{ name }}
              </a>
            </span>
          </div>
          <div class="alo-detail__field">
            <label>{{ 'canary_version' | translate }}</label>
            <span>{{ resource.spec.targetRef.name }}</span>
          </div>
        </div>
        <div class="alo-detail__row">
          <div class="alo-detail__field">
            <label>{{ 'release_status' | translate }}</label>
            <span>
              <alo-status-icon
                [status]="handleRecordStatus(getRecord(resource).status).icon"
              ></alo-status-icon>
              {{
                handleRecordStatus(getRecord(resource).status).text | translate
              }}
            </span>
          </div>
          <div class="alo-detail__field">
            <label>{{ 'start_at' | translate }}</label>
            <span>
              {{ getRecord(resource).startTime | aloUnix | aclRelativeTime }}
            </span>
          </div>
        </div>
      </div>
    </aui-card>

    <aui-card>
      <div auiCardHeader>{{ 'traffic_contrast' | translate }}</div>
      <div class="alo-detail">
        <div class="traffic-contrast">
          <div class="traffic-card">
            <div class="title">
              <div class="icon new-version"></div>
              <span>{{ 'canary_version' | translate }}</span>
            </div>
            <div class="data">{{ getCurrentWeight(resource) }}%</div>
          </div>
          <div class="status-bar">
            <aui-status-bar
              [status]="resource | pure: getStatus"
              size="medium"
            ></aui-status-bar>
          </div>
          <div class="traffic-card">
            <div class="title">
              <div class="icon old-version"></div>
              <span>{{ 'primary_version' | translate }}</span>
            </div>
            <div class="data">{{ 100 - getCurrentWeight(resource) }}%</div>
          </div>
        </div>
      </div>
    </aui-card>

    <aui-card>
      <div auiCardHeader>{{ 'release_log' | translate }}</div>
      <div class="alo-detail">
        <alo-record-log [resource]="resource" [id]="id"></alo-record-log>
      </div>
    </aui-card>
  </ng-template>
</acl-page-state>
