.priority {
  .ribbon-lanren-green {
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    .ribbon-green {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: #009ce3;
      transform: rotate(-45deg);
      position: relative;
      left: -20px;
      top: 11px;
      width: 82px;
      height: 20px;
      background-color: #e5f5fc;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }
  }
}
