<acl-page-state [adapter]="dataLoader">
  <ng-template let-resource>
    <ng-container *ngIf="!routerName">
      <ng-container *aloPageHeaderContent>
        <alo-breadcrumb>
          <ng-template aloBreadcrumbItem>
            <span>
              <a href="javascript:void(0)" [routerLink]="['../']">
                {{ 'nav_istio_gateway' | translate }}
              </a>
            </span>
          </ng-template>
          <ng-template aloBreadcrumbItem>
            <span>
              {{ name }}
            </span>
          </ng-template>
        </alo-breadcrumb>
      </ng-container>
    </ng-container>

    <aui-card>
      <div auiCardHeader>
        {{ resource | aclName }}
        <div fxFlex></div>

        <button aui-button="default" [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>

        <aui-menu #menu>
          <acl-disabled-container
            tooltipPosition="start"
            [isAllowed]="updated$ | async"
          >
            <aui-menu-item (click)="update()">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>

          <acl-disabled-container
            tooltipPosition="start"
            [isAllowed]="deleted$ | async"
          >
            <aui-menu-item (click)="delete(resource)" type="danger">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </div>

      <alo-service-gateway-basic-info
        *ngIf="resource && gatewayInit"
        [resource]="resource"
        [nodePort]="istioIngressGateway$ | async"
        [microServiceStatus]="microServiceStatus"
        [serviceName]="serviceName"
        (viewMicroservice)="viewMicroservice($event)"
      ></alo-service-gateway-basic-info>
    </aui-card>
  </ng-template>
</acl-page-state>
