<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a href="javascript:void(0)" [routerLink]="['../']">
        {{ 'nav_service_list' | translate }}
      </a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ (params$ | async).name }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<aui-inline-alert type="warning" *ngIf="errorList$ | async as errorList">
  <div>
    {{ 'microservice_check_sync_tip' | translate }}
  </div>

  <div class="errorList">
    {{ 'non_current_microservices' | translate }}:
    <div class="errorList-body">
      <div *ngFor="let item of errorList">
        {{
          'microservice_check_sync_context_tip'
            | translate: { service: item.service, deployment: item.deployment }
        }}
      </div>
    </div>
  </div>

  <div class="errorList" *ngIf="currentRelationship">
    {{ 'current_microservices' | translate }}:
    <div class="errorList-body">
      <div>
        {{
          'microservice_check_sync_context_tip'
            | translate
              : {
                  service: currentRelationship.service,
                  deployment: currentRelationship.deployment
                }
        }}
      </div>
    </div>
  </div>
</aui-inline-alert>

<aui-card class="service">
  <div auiCardHeader>
    {{ (params$ | async).name | aclFieldNotAvailable }}
    <div fxFlex></div>
    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>

    <aui-menu #menu>
      <acl-disabled-container
        tooltipPosition="start"
        [isAllowed]="(permissions$ | async).delete"
      >
        <aui-menu-item type="danger" (click)="delete()">
          {{ 'delete' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
    </aui-menu>
  </div>

  <!-- 基本信息 -->
  <alo-base-info
    (refresh)="refresh()"
    [permissions]="permissions$ | async"
    [data]="detail$ | async"
  ></alo-base-info>

  <div class="body">
    <div class="graph">
      <alo-service-graph
        [selected]="nodeSelectedId"
        *ngIf="graphData$ | async as graphData"
        [data]="graphData"
      ></alo-service-graph>
    </div>
    <div class="data">
      <!-- 工作负载列表 -->
      <alo-workload-table
        *ngIf="detail$ | async"
        [data]="detail$ | async"
        [routeParams]="routeParams"
        [allowUpdate]="(permissions$ | async).update"
        (refresh)="refresh()"
      ></alo-workload-table>
    </div>
  </div>
  <div class="other">
    <aui-tab-group type="card">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'service_entrance' | translate }} ({{
            store.tabNumberState.serviceEntry
          }})
        </ng-container>
        <div class="container">
          <ng-container *ngIf="serviceName; else noEntryTmpl">
            <alo-protocol-table
              *ngIf="serviceTable$ | async"
              [service]="serviceTable$ | async"
              [update$]="refresh$"
              [name]="serviceName"
              [module]="dataModule"
              (refresh)="refresh()"
            ></alo-protocol-table>
          </ng-container>

          <ng-template #noEntryTmpl>
            <ng-container *ngTemplateOutlet="noEntranceTemplate"></ng-container>
          </ng-template>
        </div>
      </aui-tab>

      <aui-tab [disabled]="!serviceName">
        <ng-container *auiTabLabel>
          <div
            [auiTooltipDisabled]="serviceName"
            [auiTooltip]="'no_service_entry_please_create_tip' | translate"
          >
            {{ 'strategy' | translate }} ({{ store.tabNumberState.strategy }})
          </div>
        </ng-container>
        <div class="container">
          <alo-strategy-table [name]="serviceName"></alo-strategy-table>
        </div>
      </aui-tab>

      <aui-tab [disabled]="!serviceName">
        <ng-container *auiTabLabel>
          <div
            [auiTooltipDisabled]="serviceName"
            [auiTooltip]="'no_service_entry_please_create_tip' | translate"
          >
            {{ 'routing' | translate }} ({{ store.tabNumberState.routing }})
          </div>
        </ng-container>
        <div
          class="container"
          *aloVar="let allowCreation; from: store.routeCreatePermission"
        >
          <ng-container
            *ngIf="
              !allowCreation.existRoute &&
              (allowCreation.protocol || !allowCreation.protocol)
            "
          >
            <ng-container *ngTemplateOutlet="noRouteTemplate"></ng-container>
          </ng-container>

          <alo-route-detail
            *ngIf="allowCreation.existRoute"
            (triggerUpdate)="triggerUpdateRoute(routeTemplate)"
          ></alo-route-detail>
        </div>
      </aui-tab>

      <aui-tab [disabled]="!serviceName">
        <ng-container *auiTabLabel>
          <div
            [auiTooltipDisabled]="serviceName"
            [auiTooltip]="'no_service_entry_please_create_tip' | translate"
          >
            {{ 'access_control' | translate }} ({{
              store.tabNumberState.whitelist
            }})
          </div>
        </ng-container>
        <div class="container">
          <alo-whitelist [name]="serviceName"></alo-whitelist>
        </div>
      </aui-tab>
    </aui-tab-group>
  </div>
</aui-card>

<!-- 无入口template -->
<ng-template #noEntranceTemplate>
  <div class="noServiceEntrance">
    <img src="icons/microservice/no_service_entrance.svg" alt="" />
    <div>{{ 'no_service_entry_tip' | translate }}</div>
    <acl-disabled-container [isAllowed]="serviceCreatePermissions$ | async">
      <button (click)="activeCreateService()" aui-button="primary">
        {{ 'create_service_entry' | translate }}
      </button>
    </acl-disabled-container>
  </div>
</ng-template>

<!-- 无路由、协议无http 错误template -->
<ng-template #noRouteTemplate>
  <ng-container *aloVar="let allowCreation; from: store.routeCreatePermission">
    <div class="noServiceEntrance">
      <img src="icons/microservice/no_service_entrance.svg" alt="" />

      <div *ngIf="!allowCreation.protocol && !allowCreation.existRoute">
        {{ 'not_allowed_create_route_tip' | translate }}
      </div>

      <ng-container *ngIf="!allowCreation.existRoute && allowCreation.protocol">
        <div>{{ 'no_route_tip' | translate }}</div>
        <acl-disabled-container [isAllowed]="creatableRoute$ | async">
          <button
            aui-button="primary"
            (click)="triggerCreateRoute(routeTemplate)"
          >
            {{ 'create_route' | translate }}
          </button>
        </acl-disabled-container>
      </ng-container>
    </div>
  </ng-container>
</ng-template>

<ng-template #routeTemplate>
  <aui-dialog-header>
    {{
      (store.routeAllState[routeActionType.CREATE]
        ? 'create_route'
        : 'update_route'
      ) | translate
    }}
  </aui-dialog-header>
  <aui-dialog-content>
    <alo-router-update
      *ngIf="store.routeAllState[routeActionType.UPDATE]"
    ></alo-router-update>

    <alo-router-create
      *ngIf="store.routeAllState[routeActionType.CREATE]"
    ></alo-router-create>
  </aui-dialog-content>

  <aui-dialog-footer>
    <div>
      <button aui-button="primary" (click)="routeDialogConfirm()">
        {{
          (store.routeAllState[routeActionType.CREATE] ? 'create' : 'update')
            | translate
        }}
      </button>
      <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
    </div>
  </aui-dialog-footer>
</ng-template>
