@import 'var';
:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  .errorList {
    display: flex;
    line-height: 22px;
    &-body {
      margin-left: 5px;
    }
  }
  .service {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    .noServiceEntrance {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0;
      width: 100%;
      font-size: 18px;
      a {
        cursor: pointer;
      }
      img {
        width: 240px;
      }
      button {
        margin-top: 12px;
        padding: 0 20px;
      }
    }
    .body {
      display: flex;
      min-height: 300px;
      position: relative;
      .service-entry-container {
        margin-top: 44px;
      }
      .service-entry-selected {
        background: #e8f1ff;
      }
      .service-entry {
        font-size: 14px !important;
      }
    }
    .graph {
      flex: 1;
      border-right: 1px solid #ededed;
    }
    .data {
      flex: 3;
      margin-left: 20px;
      .service-detail {
        height: 100%;
      }
    }
    .other {
      min-height: 250px;
    }
  }
}
