<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a href="javascript:void(0)" [routerLink]="['../']">
        {{ 'nav_gray_release' | translate }}
      </a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'create_gray_release' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-canary-form-container></alo-canary-form-container>
