<aui-dialog-header>
  {{
    (data.update ? 'update_service_entry' : 'create_service_entry') | translate
  }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm">
    <alo-service-form
      [(ngModel)]="serviceModel"
      name="serviceForm"
      [paramsData]="data"
      [submitted]="form.submitted"
    ></alo-service-form>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ (data.update ? 'update' : 'create') | translate }}
  </button>
  <button aui-button [auiDialogClose]="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
