<div>
  <header>
    <acl-disabled-container [isAllowed]="allowUpdate">
      <button aui-button="primary" (click)="openVersionDialog()">
        {{ 'add_service_version' | translate }}
      </button>
    </acl-disabled-container>
    <acl-disabled-container
      tooltipPosition="top"
      [isAllowed]="allowUpdate"
      [isDisabled]="deployments.length === 0"
      [tooltip]="'no_workload_unable_create_service_version_tip' | translate"
    >
      <button aui-button="primary" (click)="openCreateVersionDialog()">
        {{ 'create_service_version' | translate }}
      </button>
    </acl-disabled-container>
  </header>

  <aui-table auiSort [dataSource]="deployments">
    <ng-container auiTableColumnDef="workload">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'workload' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.name | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="version">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'version' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.version | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="operating">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <acl-disabled-container
          [isAllowed]="allowRoutingUpdate"
          [isDisabled]="!store.routeCreatePermission.existRoute"
          [tooltip]="'set_conditional_rules_disabled_tip' | translate"
        >
          <button
            aui-button="text"
            size="small"
            (click)="openSetConditionalRules(item)"
          >
            {{ 'set_conditional_rules' | translate }}
            <ng-container
              *ngIf="
                store.routeCreatePermission.existRoute &&
                store.workloadInfo?.get(item.version)?.count
              "
            >
              ({{ store.workloadInfo.get(item.version)?.count }})
            </ng-container>
          </button>
        </acl-disabled-container>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="actions">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alo-menu-trigger [menu]="trafficActionsMenu"></alo-menu-trigger>
        <aui-menu #trafficActionsMenu>
          <acl-disabled-container
            tooltipPosition="start"
            [isAllowed]="allowUpdate"
            [isDisabled]="getUpdateOperation(item).disabled"
            [tooltip]="getUpdateOperation(item)?.tip | translate"
          >
            <aui-menu-item (click)="openUpdateDialog(item)">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container
            tooltipPosition="start"
            [isAllowed]="allowUpdate"
            [isDisabled]="
              associatedRouteWeight(item) ||
              associatedConditionRule(item) ||
              deployments.length === 1
            "
            [tooltip]="
              (deployments.length === 1
                ? 'service_version_remove_tip'
                : associatedRouteWeight(item)
                ? 'existence_route_workload_del_tip'
                : 'existence_condition_rule_workload_del_tip'
              ) | translate
            "
          >
            <aui-menu-item (click)="delete(item.name)">
              {{ 'remove' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>

    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
</div>
