:host {
  header {
    margin-bottom: 20px;
  }
  .service-entry-selected {
    background: #e8f1ff;
  }
  .service-entry {
    font-size: 14px !important;
  }
  .aui-table {
    min-width: 0;
    &__column-type {
      flex: 1;
    }
    &__column-desc {
      flex: 4;
    }
    &__column-actions {
      max-width: 60px;
    }
  }
}
