:host::ng-deep {
  .aui-status-bar {
    margin-bottom: 6px;
    &__chunk.notice {
      background-color: #9ece4f;
    }
  }
}
.stat {
  margin-bottom: 6px;
  color: #999;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  > span {
    margin-right: 12px;
  }
}
.dot-label {
  display: flex;
  align-items: center;
  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #fff;
    &.success {
      background-color: #1bb393;
    }
    &.notice {
      background-color: #9ece4f;
    }
    &.error {
      background-color: #eb6262;
    }
    &.warning {
      background-color: #f9bd79;
    }
    &.inflow {
      background-color: #009ce3;
    }
    &.outflow {
      background-color: #8275cc;
    }
  }
  .value {
    margin-left: 4px;
  }
}
.flow-tooltip {
  font-size: 12px;
  line-height: 16px;
  &-content {
    .dot-label {
      margin-top: 4px;
    }
  }
}
.status {
  .empty {
    color: #999;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    height: 20px;
  }
}
