<div class="status-containter">
  <div class="stat">
    <span class="total">
      {{ 'flow_total' | translate }} {{ total }}
    </span>
    <span class="dot-label">    
      <span class="dot error"></span>
      <span class="dot warning"></span>
      {{ 'error_rate' | translate }}: {{ total !== 0 ? (errorRate | percent:'1.0-2')  : '-' }}
    </span>
    <span class="dot-label">
      <span class="dot notice"></span>
      <span class="dot success"></span>
      {{ 'success_rate' | translate }}: {{ total !== 0 ? (successRate | percent:'1.0-2') : '-' }}
    </span>
  </div>
  <div class="status">
    <aui-status-bar 
      *ngIf="total !== 0"
      [status]="status"
      [size]="'medium'"
      auiTooltipClass="flow-tooltip"
      [auiTooltip]="statusTemplate">
    </aui-status-bar>
    <div class="empty" *ngIf="total === 0">
      {{ 'no_data' | translate }}
    </div>
  </div>
  <ng-template #statusTemplate>
      <div class="flow-tooltip-title">{{ title }}</div>
      <div class="flow-tooltip-content">
        <div class="dot-label" *ngFor="let req of data">
          <span class="dot {{ statusMap[req.name] }}"></span>
          <span>{{ translateMap[req.name] | translate }}</span>:<span class="value">{{ req.count }}</span>
        </div>
      </div>
    </ng-template>
</div>