<aui-table auiSort [dataSource]="data">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <a class="highlight-name" [routerLink]="['./', item | aclName]">
        {{ item | aclName }}
      </a>
      <br />
      <span class="display-name">
        {{ item | aclDisplayName }}
      </span>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="workload">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'workload' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alo-deploy-tags [deployments]="item.spec.deployments"></alo-deploy-tags>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="create_by">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'create_by' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item | aloCreator | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="created_at">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'created_at' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item | aclCreationTimestamp | aclRelativeTime }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alo-menu-trigger [menu]="menu" size="small"></alo-menu-trigger>
      <aui-menu #menu size="small">
        <acl-disabled-container
          [isAllowed]="deleted"
          [tooltip]="'releasing_cant_delete' | translate"
        >
          <aui-menu-item (click)="delete(item)">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
      </aui-menu>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
