:host {
  .aui-table {
    min-width: 0;
    &__column-workload {
      flex: 2;
    }
    &__column-name {
      flex: 2;
    }
    &__column-created_at {
      flex: 1;
    }
    &__column-create_by {
      flex: 1;
    }
    &__column-action {
      max-width: 40px;
    }
  }
}
