<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        <a href="javascript:void(0)" [routerLink]="['../']">
          {{ 'nav_istio_gateway' | translate }}
        </a>
      </span>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'create_gateway' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-gateway-form></alo-gateway-form>
