<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'microservice_name' | translate }}
    </label>
    <input
      auiFormItemControl
      aui-input
      required
      [formControl]="form.get('metadata.name')"
      (ngModelChange)="nameChange($event)"
      maxlength="32"
      [pattern]="namePattern.pattern"
      [readonly]="readonly"
      [placeholder]="
        (namePattern.tip | translate) + ',' + ('max_length_32' | translate)
      "
    />

    <div auiFormItemError *ngIf="form.get('metadata.name').errors?.pattern">
      {{ (namePattern.tip | translate) + ',' + ('max_length_32' | translate) }}
    </div>
    <div auiFormItemError *ngIf="form.get('metadata.name').errors?.required">
      {{ 'required' | translate }}
    </div>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'display_name' | translate }}
    </label>
    <input
      auiFormItemControl
      aui-input
      [formControl]="form.get('metadata.annotations.displayName')"
    />
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'service_version' | translate }}
    </label>
    <div class="version" auiFormItemControl required>
      <alo-service-version-table
        (blur)="onBlur()"
        *ngIf="routeParams$ | async"
        [formControl]="form.get('spec.deployments')"
        [routeParams]="routeParams$ | async"
        [fillDeployments]="[]"
        [isCreate]="true"
        [submitted]="submitted"
        (backfillMicroService)="backfillMicroService($event)"
      ></alo-service-version-table>
    </div>
  </aui-form-item>
</form>
