<alo-array-form-table
  class="ruleTable"
  [noRowSeparator]="true"
  (add)="add(form.length)"
  [rows]="form?.controls"
  [keepLastOne]="true"
  [resourceName]="'condition_rule' | translate"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (remove)="remove($event)"
>
  <ng-container *aloArrayFormTableHeader>
    <th>{{ 'condition_type' | translate }}</th>
    <th>{{ 'matching_method' | translate }}</th>
    <th>{{ 'Key' }}</th>
    <th>{{ 'Value' }}</th>
  </ng-container>

  <ng-container
    *aloArrayFormTableRow="let control; let index = index"
    [formGroup]="control"
  >
    <td
      [class.hasError]="
        control.get('type').touched && control.get('type').invalid
      "
    >
      <aui-select
        [formControl]="control.get('type')"
        (valueChange)="typeChanged(control)"
        [placeholder]="'please_select_condition_type' | translate"
        (click)="checkSelectedTypes()"
      >
        <ng-container
          *ngFor="let type of conditionRuleTypes; let index = index"
        >
          <aui-option
            *ngIf="type.display"
            [label]="type.name"
            [value]="type.name"
            [disabled]="!type.enable && control.get('type').value !== type.name"
          >
            {{ type.name }}
            <ng-container
              *ngIf="!type.enable && control.get('type').value !== type.name"
            >
              ({{ 'existed' | translate }})
            </ng-container>
          </aui-option>
        </ng-container>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
    <td [class.hasError]="control.get('method').invalid">
      <div [ngClass]="{ 'empty-block': isMethodHidden(control) }">
        <aui-select
          [formControl]="control.get('method')"
          [ngClass]="{ 'hidden-form': isMethodHidden(control) }"
          [placeholder]="'please_select_matching_method' | translate"
        >
          <aui-option
            *ngFor="let item of getMethods(control)"
            [label]="item"
            [value]="item"
          >
            {{ item }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_match_result' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </div>
    </td>
    <td [class.hasError]="control.get('key').invalid">
      <div [ngClass]="{ 'empty-block': getKeyDesc(control) === 'null' }">
        <input
          aui-input
          auiFormItemControl
          (blur)="onBlur()"
          [ngClass]="{ 'hidden-form': getKeyDesc(control) === 'null' }"
          [placeholder]="getKeyDesc(control)"
          [formControl]="control.get('key')"
        />
      </div>
    </td>
    <td [class.hasError]="control.get('value').invalid">
      <ng-container
        *ngIf="control.get('type').value === 'port'; else elseTemplate"
      >
        <input
          aui-input
          auiFormItemControl
          type="number"
          (blur)="onBlur()"
          [placeholder]="getValueDesc(control)"
          [formControl]="control.get('value')"
        />
      </ng-container>
      <ng-template #elseTemplate>
        <input
          aui-input
          auiFormItemControl
          type="text"
          (blur)="onBlur()"
          [pattern]="
            control.get('type').value === 'uri' ? uriPattern.pattern : ''
          "
          [placeholder]="getValueDesc(control)"
          [formControl]="control.get('value')"
        />
      </ng-template>
    </td>
  </ng-container>

  <ng-container *aloArrayFormTableRow="let control">
    <ng-container *aloVar="let messages; from: getValidatorError(control)">
      <td
        colspan="5"
        class="alo-table-form-error-hint"
        *ngIf="messages?.length"
      >
        <ng-container *ngFor="let item of messages; let i = index">
          <ng-container *ngIf="i >= 1">;</ng-container>
          {{ item.tip }}
        </ng-container>
      </td>
    </ng-container>
  </ng-container>
</alo-array-form-table>
