:host {
  ::ng-deep {
    thead {
      tr {
        th:nth-child(1) {
          width: 25%;
        }
        th:nth-child(2) {
          width: 20%;
        }
        th:nth-child(3) {
          width: 20%;
        }
        th:nth-child(4) {
          width: 35%;
        }
      }
    }
  }

  .hidden-form {
    visibility: hidden;
  }
  .empty-block {
    background-color: #f0f0f0;
    height: 32px;
    display: block;
  }
  .ruleTable {
    .hasError {
      ::ng-deep {
        .aui-input {
          border-color: #eb6262;
          text-decoration: line-through;
        }
      }
    }
    li {
      list-style: none;
    }
    .error {
      background: red;
    }
  }
  ::ng-deep .alo-form-table {
    margin-bottom: 0;
  }
}
