<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>{{ 'overview' | translate }}</span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<!-- 资源概览 -->
<aui-card>
  <div auiCardContent class="resource">
    <header>{{ 'resource_overview' | translate }}</header>
    <div class="resource-body">
      <ng-container *ngFor="let item of resourceView">
        <div class="resource-context">
          <div class="resource-header">
            {{ item.name | translate }}
            <ng-container *ngIf="item.type === 'entry'">
              (Service)
            </ng-container>
          </div>
          <div
            [class.zero]="!item.value"
            class="number"
            *ngIf="!item.child; else instanceTemplate"
          >
            {{ item.value }}
          </div>

          <ng-template #instanceTemplate>
            <div class="instance">
              <div [class.zero]="!item.value" class="number">
                {{ item.value }}
              </div>
              <div class="instance-body">
                <div class="instance-context">
                  <span></span>
                  <div
                    [class.zero]="!item.child.success"
                    class="instance-number"
                  >
                    {{ item.child.success }}
                  </div>
                </div>
                <div class="instance-context">
                  <span class="error"></span>
                  <div [class.zero]="!item.child.error" class="instance-number">
                    {{ item.child.error }}
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</aui-card>

<!-- 服务监控 -->
<alo-monitor></alo-monitor>

<!-- 记录 -->
<!-- TODO: 因prometheus采集时间问题，暂时先去掉熔断和流量异常记录 -->
<!-- <alo-record></alo-record> -->
