@import 'var';
:host {
  ::ng-deep header {
    font-size: 16px;
    line-height: 24px;
    color: $color-text-main;
    aui-icon {
      color: $color-text-help;
    }
  }
}
.resource {
  &-body {
    display: flex;
    margin-top: 8px;
  }
  &-context {
    flex: 1;
    &:not(:last-child) {
      border-right: 1px solid #ededed;
      margin-right: 20px;
    }

    color: $color-text-main;
  }
  &-header {
    font-size: 14px;
  }
  .number {
    font-size: 72px;
    line-height: 100px;
  }
  .instance {
    display: flex;
    align-items: center;
    .error {
      background-color: $color-error;
    }
    span {
      border-radius: 50%;
      background-color: #1bb393;
      display: inline-block;
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }
    &-number {
      height: 16px;
    }
    &-context {
      display: flex;
      padding-top: 12px;
    }
    &-body {
      padding-left: 35px;
    }
  }
}
::ng-deep .zero {
  color: $color-info;
}
