<svg>
  <defs>
    <ng-container *ngFor="let color of config.nodeStrokeColor | keyvalue">
      <ng-container *ngFor="let item of config.strokeOpacity">
          <ng-container *ngFor="let shape of shapes">
            <svg [attr.id]="shape.name + '-' + color.key + '-' + item" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
              <path 
                [attr.fill]="color.value" 
                [attr.fill-opacity]="item" 
                [attr.d]="shape.path"/>
            </svg>
          </ng-container>
      </ng-container>
    </ng-container>
  </defs>
</svg>