@import 'var';
:host {
  aui-card {
    display: block;
    margin-bottom: 16px;
  }
  ::ng-deep {
    .aui-card__content {
      overflow-x: auto;
    }
  }
  .question-icon {
    font-size: 16px;
    color: $color-text-help;
    margin-left: 8px;
  }
  .tiemrange {
    font-size: 14px;
    margin: 8px 0;
    .time {
      margin-left: 18px;
    }
    .interval {
      margin-left: 30px;
    }
    ::ng-deep {
      .aui-input[readonly] {
        background: none;
      }
      aui-select,
      aui-search,
      .list__header-calendar-divider {
        margin: 0 8px;
      }
      .aui-button {
        margin-left: 8px;
      }
    }
  }
  .body {
    padding: 0 16px;
    min-width: 1015px;
    .barStatus {
      display: flex;
      margin-top: 20px;
      &-context {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
      .title {
        margin-bottom: 12px;
        font-size: 16px;
      }
    }

    header {
      line-height: 32px;
      margin-bottom: 8px;
      .workload {
        font-size: 16px;
      }

      display: flex;
      label {
        margin: 0 8px;
      }
      button {
        margin-left: 8px;
      }
    }
    .chart {
      display: flex;
      .context {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
        &:not(:last-child) {
          margin-right: 20px;
        }
        .chart-title {
          margin-bottom: 12px;
          font-size: 16px;
        }
        &-text {
          line-height: 32px;
          margin-bottom: 15px;
          font-size: 16px;
          .value {
            font-size: 24px;
            margin-left: 15px;
          }
        }
      }
    }
    .comparison {
      padding-top: 18px;
      header {
        font-size: 16px;
      }
      .instances {
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        &-item {
          font-size: 12px;
          display: flex;
          align-items: center;
          flex-grow: 0;
          flex-basis: 200px;
          &:not(:last-child) {
            margin-right: 70px;
          }
          .label {
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          span {
            width: 12px;
            height: 12px;
            border-radius: 2px;
            display: inline-block;
          }
          .title {
            color: $color-text-main;
            padding: 0 8px;
          }
          label {
            color: $color-primary;
            cursor: pointer;
          }
        }
      }

      &-body {
        display: flex;
      }
      &-context {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
      }
      &-title {
        margin-bottom: 12px;
        font-size: 16px;
      }
    }
  }
}
