<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>{{ 'nav_flow_monitor' | translate }}</span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<aui-card>
  <div flex fxLayoutAlign="start">
    <div class="tiemrange">
      <div fxLayoutAlign="center center">
        <div fxFlex></div>
        <label class="time">{{ 'workload' | translate }}:</label>
        <aui-select
          [(ngModel)]="model.workload"
          (ngModelChange)="triggerSelect()"
        >
          <aui-option
            *ngFor="let item of workload$ | async"
            [label]="item.name"
            [value]="item.name"
          >
            {{ item.name }}
          </aui-option>
        </aui-select>

        <label>{{ 'time_range' | translate }}:</label>
        <alo-range-picker
          [defaultRange]="range"
          [date]="calendarData"
          (broadcastTime)="broadcastTime($event)"
        ></alo-range-picker>
      </div>
    </div>
  </div>
</aui-card>

<aui-tab-group
  type="line"
  (selectedTabChange)="tabSelected()"
  [(selectedIndex)]="tabSelectedIndex"
>
  <aui-tab>
    <ng-container *auiTabLabel>{{ 'workload' | translate }}</ng-container>
    <ng-container *auiTabContent>
      <ng-container *ngTemplateOutlet="chartTmpl"></ng-container>
    </ng-container>
  </aui-tab>

  <aui-tab>
    <ng-container *auiTabLabel>{{ 'instance' | translate }}</ng-container>
    <ng-container *auiTabContent>
      <ng-container *ngTemplateOutlet="chartTmpl"></ng-container>
    </ng-container>
  </aui-tab>

  <aui-tab>
    <ng-container *auiTabLabel>API</ng-container>
    <ng-container *auiTabContent>
      <ng-container *ngTemplateOutlet="chartTmpl"></ng-container>
    </ng-container>
  </aui-tab>
</aui-tab-group>

<ng-template #chartTmpl>
  <aui-card>
    <div class="body">
      <header>
        <ng-container *ngTemplateOutlet="tabHeaderTmpl"></ng-container>
      </header>

      <div class="chart">
        <div class="context" *ngFor="let key of chartModelKey">
          <div class="context-text">
            <div class="title">{{ viewModel[key].avgTitle | translate }}</div>
            <div class="value">
              {{ viewModel[key].avg }} {{ viewModel[key].unit | translate }}
            </div>
          </div>

          <div class="chart-title">
            {{ viewModel[key].title | translate }} ({{
              viewModel[key].unit | translate
            }})
          </div>
          <alo-chart
            [data]="viewModel[key].data"
            [options]="viewModel[key].options"
            [time]="time"
          >
            <alo-legend></alo-legend>
            <svg:g alo-axis></svg:g>
            <svg:g alo-line></svg:g>
            <svg:g alo-point></svg:g>
            <svg:g
              alo-tooltip
              unit="{{ key === 'responseTime' ? 'ms' : '' }}"
            ></svg:g>
          </alo-chart>
        </div>
      </div>

      <!-- 传入、传出 流量  bar status-->
      <div class="barStatus">
        <div class="barStatus-context">
          <div class="title">
            {{ (tabSelectedIndex === 2 ? 'flow' : 'inflow') | translate }}
          </div>
          <alo-bar-status
            title="{{ 'inflow' | translate }}"
            [data]="inRequestState"
          ></alo-bar-status>
        </div>

        <div class="barStatus-context" *ngIf="tabSelectedIndex !== 2">
          <div class="title">
            {{ 'outflow' | translate }}
          </div>
          <alo-bar-status
            title="{{ 'outflow' | translate }}"
            [data]="outRequestState"
          ></alo-bar-status>
        </div>
      </div>
    </div>
  </aui-card>
  <aui-card *ngIf="tabSelectedIndex === 0">
    <alo-traffic-comparison-chart
      [tabSelectedIndex]="tabSelectedIndex"
      [time]="time"
      [instances]="instances$ | async"
      [params]="params$ | async"
      [step]="calendarData.step"
      (skipPodTab)="skipPodTab($event)"
    ></alo-traffic-comparison-chart>
  </aui-card>

  <aui-card *ngIf="tabSelectedIndex === 0">
    <alo-traffic-comparison-chart
      [tabSelectedIndex]="tabSelectedIndex"
      [time]="time"
      [instances]="clients$ | async"
      [params]="params$ | async"
      [step]="calendarData.step"
      [sidecar]="true"
      [workload]="model.workload"
      [workloads]="workloads"
      (skipPodTab)="skipPodTab($event)"
    ></alo-traffic-comparison-chart>
  </aui-card>
</ng-template>

<ng-template #tabHeaderTmpl>
  <ng-container [ngSwitch]="tabSelectedIndex">
    <!-- 工作负载 -->
    <ng-container *ngSwitchCase="0">
      <label class="workload">{{ model.workload }}</label>
    </ng-container>
    <!-- 实例 -->
    <ng-container *ngSwitchCase="1">
      <label class="interval">{{ 'current_instance' | translate }}:</label>
      <aui-select [(ngModel)]="model.instance" (ngModelChange)="search()">
        <aui-option
          *ngFor="let item of instances$ | async"
          [label]="item.name"
          [value]="item.name"
        >
          {{ item.name }}
        </aui-option>
      </aui-select>
    </ng-container>
    <!-- API -->
    <ng-container *ngSwitchCase="2">
      <label class="interval">{{ 'request_path' | translate }}:</label>
      <aui-select [(ngModel)]="path" (ngModelChange)="search()">
        <aui-option [value]="'/*'" [label]="'/'">/</aui-option>
        <aui-option
          *ngFor="let item of paths$ | async"
          [label]="item"
          [value]="item"
        >
          {{ item }}
        </aui-option>
      </aui-select>

      <label class="interval">{{ 'calling_method' | translate }}:</label>
      <aui-select [(ngModel)]="method" (ngModelChange)="search()">
        <aui-option
          *ngFor="let item of methods$ | async"
          [label]="item"
          [value]="item"
        >
          {{ item }}
        </aui-option>
      </aui-select>

      <button
        aui-button="primary"
        plain="true"
        (click)="openRequestPathDialog()"
      >
        {{ 'request_path_management' | translate }}
      </button>

      <aui-icon
        auiFormItemAddon
        class="question-icon"
        icon="basic:question"
        [auiTooltip]="'path_rule_question_tip' | translate"
        auiTooltipTrigger="hover"
      ></aui-icon>
    </ng-container>
  </ng-container>
</ng-template>
