@import 'var';
.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}
.name {
  font-size: 16px;
  font-weight: 500;
}
aui-paginator {
  margin-top: 20px;
}
