<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'project' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<aui-card>
  <div class="list-header">
    <div fxFlex></div>
    <div class="alo-search">
      <aui-search
        [keyword]="keywords$ | async"
        [placeholder]="'search_by_name_placeholder' | translate"
        [searchButton]="true"
        (search)="search($event)"
      ></aui-search>
    </div>
  </div>
  <div>
    <aui-table [dataSource]="list.items$ | async">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <a class="highlight-name" [routerLink]="['./', item | aclName]">
            {{ item | aclName }}
          </a>
          <div class="display-name">{{ item | aclDisplayName }}</div>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="cluster">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'associated_cluster' | translate }}
        </aui-table-header-cell>

        <aui-table-cell *auiTableCellDef="let item">
          <alo-cluster-tags-label
            [tagList]="item.spec?.clusters || [] | pure: clustersPure"
          ></alo-cluster-tags-label>
        </aui-table-cell>
      </ng-container>

      <!-- TODO
      <ng-container auiTableColumnDef="project_manager">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'project_manager' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.creator || '-'}}
        </aui-table-cell>
      </ng-container> -->

      <ng-container auiTableColumnDef="creationTimestamp">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'created_at' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | aclCreationTimestamp | aclRelativeTime }}
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>

    <alo-resource-list-footer
      [resourceName]="'project' | translate"
      [list]="list"
    ></alo-resource-list-footer>
  </div>
</aui-card>

<alo-not-deployed
  *ngIf="false"
  [text]="'service_mesh_not_deployed'"
></alo-not-deployed>
