<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a href="javascript:void(0)" [routerLink]="['../']">{{ 'nav_service_list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'create_microservice' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-microservice-form-container></alo-microservice-form-container>