<alo-breadcrumb *aloPageHeaderContent>
  <ng-template aloBreadcrumbItem>
    <span></span>
  </ng-template>
</alo-breadcrumb>
<alo-not-deployed
  [text]="(deployed$ | async).text"
  [srcType]="(deployed$ | async).srcType"
>
</alo-not-deployed>