<div class="loadbalancing">
  <div class="header"> 
    {{ 'load_balancing' | translate }} 
    <aui-icon icon="basic:question" color="#999" [auiTooltip]="'loadbalancing_question_tooltip' | translate"></aui-icon>
  </div>
  <div class="container">
    <div class="body">
      <ng-container *ngIf="!nodata; else elseTemplate">
        <ng-container 
          *aloAsyncData="
          let data;
          handler: fetch;
          params: (params$ | async);
          notification: refresh$
        ">
          <ng-container *ngFor="let item of data" >
            <div class="body-data" *ngIf="item | pure: loadBalancerPure" [ngClass]="{'body-nodata': nodata}">
              <alo-load-balancing-detail
                [loadBalancer]="item | pure: loadBalancerPure"
                [host]="item?.spec?.host"
              >
              </alo-load-balancing-detail>
              <div class="body-btn" *ngIf="!nodata">
                <span>
                  <aui-icon
                  *ngIf="(permissions$ | async).update"
                  (click)="update(item)"
                  icon="basic:pencil_edit"
                  >
                  </aui-icon>
                </span>
                <span>
                  <aui-icon
                    *ngIf="(permissions$ | async).delete"
                    (click)="delete(item)"
                    icon="basic:trash">
                  </aui-icon>
                </span>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-template #elseTemplate>
        <div class="body-nodata" *ngIf="nodata">
          <ng-container *ngIf="(permissions$ | async).create; else elseTemplate">
            {{ 'no_load_balancing_tip'| translate}}
          </ng-container>
          <ng-template #elseTemplate>
              {{ 'no_load_balancing' | translate }}
          </ng-template>
          <span class="body-nodata-create"
            *ngIf="(permissions$ | async).create"
            (click)="create()"
          >
            {{'create_load_balancing_tip' | translate }}
          </span>
        </div>
      </ng-template>
    </div>

    <div class="add-button" *ngIf="creatable">
      <button type="button" aui-button="primary" (click)="create()" size="mini" [plain]="true">
        <aui-icon icon="basic:add_circle"></aui-icon>
        {{ 'add' | translate }}
      </button>
    </div>
  </div>
</div>