@import '~@alauda/ui/theme/_pattern';

.loadbalancing {
  border-radius: 5px;
  padding: 0px 20px 10px 10px;
  .disabled {
    cursor: not-allowed !important;
    color: #ccc !important;
  }
  .header {
    padding-left: 5px;
    background: #f2f2f2;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    padding: 10px 5px;
  }
  .container {
    padding: 10px 8px;
    background: #fafafa;
  }
  .body {
    &-nodata {
      padding: 12px 0px;
      background: #fff;
      text-align: center;
      border: 1px dashed #ccc;
      color: #999;
      font-size: 14px;
      &-create {
        color: $color-primary;
        cursor: pointer;
      }
    }
    &-data {
      background: #fafafa;
      display: flex;
      alo-load-balancing-detail {
        flex: 1;
        ::ng-deep form {
          background: #fff;
        }
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    &-btn {
      font-size: 14px;
      color: #959595;
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        cursor: pointer;
      }
    }
  }
  .add-button {
    display: flex;
    padding-right: 20px;
    margin-top: 8px;
    button {
      flex: 1;
      border-style: dashed;
    }
  }
}
:host::ng-deep {
  .aui-inline-alert {
    margin-bottom: 0px;
  }
}
