<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a href="javascript:void(0)" [routerLink]="['../../']">{{
        'nav_servicemesh' | translate
      }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <a href="javascript:void(0)" [routerLink]="['../../' + name]">{{ name }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'update' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<ng-container *aloAsyncData="
  let data;
  handler: fetch;
">
  <alo-servicemesh-form *ngIf="data" [data]="data"></alo-servicemesh-form>
</ng-container>

