<svg:g *ngFor="let tick of (yAxis$ | async)?.ticks; let i = index">
  <text
    x="-6"
    [attr.y]="tick.y"
    fill="#666"
    text-anchor="end"
    font-size="8"
    alignment-baseline="middle"
  >
    {{ tick.value | pure: conversionMaximum }}{{ isPercent ? '%' : '' }}
  </text>
  <line
    x1="-4"
    x2="0"
    [attr.y1]="tick.y"
    [attr.y2]="tick.y"
    stroke-width="1"
    stroke="#999"
  ></line>
  <line
    *ngIf="i > 0"
    x1="0"
    [attr.x2]="chart?.areaSize?.width"
    [attr.y1]="tick.y"
    [attr.y2]="tick.y"
    stroke-width="1"
    stroke-dasharray="4 1"
    stroke="#eee"
  ></line>
</svg:g>

<svg:g *ngFor="let tick of (xAxis$ | async)?.ticks; let i = index">
  <text
    [attr.x]="tick.x"
    [attr.y]="tick.y + 12"
    fill="#666"
    [attr.text-anchor]="
      i === 0
        ? 'start'
        : i === (xAxis$ | async)?.ticks.length - 1
        ? 'end'
        : 'middle'
    "
    font-size="8"
  >
    {{ tick.date }}
  </text>
  <line
    [attr.x1]="tick.x"
    [attr.x2]="tick.x"
    [attr.y1]="tick.y"
    [attr.y2]="tick.y + 4"
    stroke-width="1"
    stroke="#999"
  ></line>
</svg:g>

<svg>
  <path stroke="#999" stroke-width="1" [attr.d]="(xAxis$ | async)?.path"></path>

  <path stroke="#999" stroke-width="1" [attr.d]="(yAxis$ | async)?.path"></path>
</svg>
