<alo-array-form-table
  [noRowSeparator]="true"
  [rows]="form?.controls"
  (add)="add(form.length)"
  [keepLastOne]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (remove)="remove($event)"
>
  <ng-container *aloArrayFormTableHeader>
    <th required>{{ 'protocol' | translate }}</th>
    <th required>{{ 'service_port' | translate }}</th>
    <th required>{{ 'container_port' | translate }}</th>
  </ng-container>

  <ng-container *aloArrayFormTableRow="let control" [formGroup]="control">
    <td
      [class.hasError]="
        control.get('protocol').touched && control.get('protocol').invalid
      "
    >
      <aui-select
        formControlName="protocol"
        [filterable]="true"
        [placeholder]="'please_select_protocol' | translate"
      >
        <aui-option
          *ngFor="let protocol of protocols"
          [label]="protocol"
          [value]="protocol"
        >
          {{ protocol }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_match_result' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>

    <td
      [class.hasError]="
        control.get('port').touched && control.get('port').invalid
      "
    >
      <input
        (blur)="onBlur()"
        aui-input
        formControlName="port"
        [placeholder]="'service_port' | translate"
      />
    </td>

    <td
      [class.hasError]="
        control.get('targetPort').touched && control.get('targetPort').invalid
      "
    >
      <input
        (blur)="onBlur()"
        aui-input
        formControlName="targetPort"
        [placeholder]="'container_port' | translate"
      />
    </td>
  </ng-container>

  <ng-container *aloArrayFormTableRow="let control">
    <ng-container *aloVar="let messages; from: getRowValidate(control)">
      <td colspan="4" class="alo-table-form-error-hint" *ngIf="messages.length">
        <ng-container *ngFor="let item of messages; let i = index">
          <ng-container *ngIf="i >= 1">;</ng-container>
          {{ item | pure: getErrorTip }}
        </ng-container>
      </td>
    </ng-container>
  </ng-container>
</alo-array-form-table>
