<aui-dialog-header [closeable]="false">
  <div>
    <aui-icon color="#f8ac58" class="danger-icon" icon="exclamation_circle_s">
    </aui-icon>
    {{'load_balancing_title_dialog' | translate}}
  </div>
</aui-dialog-header>
<aui-dialog-content>
  <alo-load-balancing-detail 
    [loadBalancer]="loadBalancer"
    [host]="data.host"
    [hideHost]="true"
  >
  </alo-load-balancing-detail>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    (click)="delete()">
    {{ 'delete' |  translate}}
  </button>
  <button
    aui-button
    [auiDialogClose]="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>